/***********************************************************************************************************************************************************************************************************/
/*General*/

/*List of web applications*/
@mixin perWebAppIcon_General{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: var(--perWebAppIcon_Size);
	height: var(--perWebAppIcon_Size);
}
/*List of web applications*/

/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/