/***********************************************************************************************************************************************************************************************************/
/*Login Section Style Section*/
@mixin loginSection_Mobile_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	width: auto; /*To be changed*/
	top: none; /*To be changed*/
	left: none; /*To be changed*/
	transform: none; /*To be changed*/
}
@mixin loginSection_Tablet_Style{
	position: absolute;
	box-sizing: border-box;
	overflow: visible;
	width: 480px; /*changed*/
	top: 40%; /*changed*/
	left: 50%; /*changed*/
	transform: translate(-50%, -50%); /*changed*/
}
@mixin loginSection_Laptop_Style{
	position: absolute;
	box-sizing: border-box;
	overflow: visible;
	width: 480px; /*changed*/
	top: 40%; /*changed*/
	left: 50%; /*changed*/
	transform: translate(-50%, -50%); /*changed*/
}
@mixin loginSection_Desktop_Style{
	position: absolute;
	box-sizing: border-box;
	overflow: visible;
	width: 500px; /*changed*/
	top: 40%; /*changed*/
	left: 50%; /*changed*/
	transform: translate(-50%, -50%); /*changed*/
}
/*Login Section Style Section*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*VMC logo wrapper Section*/
@mixin vmcLogoWrap_Style{
	position: relative;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
}
/*VMC logo wrapper Section*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Images Style Section*/
@mixin childImg_Login_Style{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%; 
}
/*Images Style Section*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*username & password custom inputs margin Style Section*/
@mixin usernameMarginTop_Style{
	margin-top: 35px;
}


@mixin passMarginTop_Style{
	margin-top: 25px;
}
/*username & password custom inputs margin Style Section*/
/***********************************************************************************************************************************************************************************************************/