/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rogie Global Style";
@import "Mixin_Page_Login";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--customInputColor: black;
	--customInputFSize: 22px;
	--customInputAnimFSize: 16px;	

	--spinnerWidthHeight: 75px;
}

#noAccountYetTxt{
	position: relative;
	display: block;
	font-family: "binanceFont";
	white-space: normal;
	overflow: visible;
	box-sizing: border-box;
	color: black;
	font-size: clamp(14px, 2vw, 16px);
	margin-top: 12px;
}

#noAccountYetTxt a{
	color: #39AB5B;
}

#noAccountYetTxt a:hover{
	color: #26723C;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Login Mobile Section*/
@media all and (max-width:641px){
	div#loginSection{
		@include loginSection_Mobile_Style;				
	}

	/*Vmc Logo Section*/
	div#loginSection>div#vmcLogoWrap{
		@include vmcLogoWrap_Style;
	}

	div#loginSection>div#vmcLogoWrap>img{
		@include childImg_Login_Style;
	}
	/*Vmc Logo Section*/


	/*Login Win Section*/
	div#loginSection>div#loginWin_ID{
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		width: auto;
		height: auto;
		margin-top: 10px;
		padding: 20px;
		box-shadow: none; /*To be changed*/
	}

	div#loginSection>div#loginWin_ID>div#signInTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: nowrap;
		width: auto;
		font: normal bold 28px "Helvetica Neue", Helvetica, Arial, sans-serif; /*To be changed*/
	}

	div#loginSection>div#loginWin_ID>div#stayTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: normal;
		word-break: keep-all;
		width: auto;
		font: normal normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif; /*To be changed*/
	}

	div#loginSection>div#loginWin_ID>div#usernameInputWrap{
		@include usernameMarginTop_Style;
	}
		

	div#loginSection>div#loginWin_ID>div#passwordInputWrap{		
		@include passMarginTop_Style;
	}
	

	div#loginSection>div#loginWin_ID>.signInBtn-Class{
		position: relative;
		display: block;
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		margin-top: 25px;
		padding: 7px; /*To be changed*/		
		font: normal bold 22px calibri;
		border: none;
		border-radius: 12px;
		background-color: #25990B;
		color:#ffffff;
		cursor: pointer;
		transition: background-color 0.1s linear 0s;		
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:hover{
		background-color: #208403;
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:active{
		background-color: #0071BF;
	}
	/*Login Win Section*/
}
/*Login Mobile Section*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Login Tablet Section*/
@media all and (min-width:642px) and (max-width:1080px){
	div#loginSection{
		@include loginSection_Tablet_Style;				
	}

	/*Vmc Logo Section*/
	div#loginSection>div#vmcLogoWrap{
		@include vmcLogoWrap_Style;
	}

	div#loginSection>div#vmcLogoWrap>img{
		@include childImg_Login_Style;
	}
	/*Vmc Logo Section*/


	/*Login Win Section*/
	div#loginSection>div#loginWin_ID{
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		width: auto;
		height: auto;
		margin-top: 10px;
		padding: 20px;
		box-shadow: 0px 0px 2px gray; /*changed*/
	}

	div#loginSection>div#loginWin_ID>div#signInTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: nowrap;
		width: auto;
		font: normal bold 28px "Helvetica Neue", Helvetica, Arial, sans-serif; /*To be changed*/
	}

	div#loginSection>div#loginWin_ID>div#stayTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: normal;
		word-break: keep-all;
		width: auto;
		font: normal normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif; /*To be changed*/
	}

	div#loginSection>div#loginWin_ID>div#usernameInputWrap{
		@include usernameMarginTop_Style;
	}
		

	div#loginSection>div#loginWin_ID>div#passwordInputWrap{		
		@include passMarginTop_Style;
	}
		

	div#loginSection>div#loginWin_ID>.signInBtn-Class{
		position: relative;
		display: block;
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		margin-top: 25px;
		padding: 7px; /*To be changed*/		
		font: normal bold 22px calibri;
		border: none;
		border-radius: 12px;
		background-color: #25990B;
		color:#ffffff;
		cursor: pointer;
		transition: background-color 0.1s linear 0s;		
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:hover{
		background-color: #208403;
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:active{
		background-color: #0071BF;
	}
	/*Login Win Section*/
}
/*Login Tablet Section*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Login Login Laptop Section*/
@media all and (min-width:1081px) and (max-width:1600px){
	div#loginSection{
		@include loginSection_Laptop_Style;				
	}

	/*Vmc Logo Section*/
	div#loginSection>div#vmcLogoWrap{
		@include vmcLogoWrap_Style;
	}

	div#loginSection>div#vmcLogoWrap>img{
		@include childImg_Login_Style;
	}
	/*Vmc Logo Section*/


	/*Login Win Section*/
	div#loginSection>div#loginWin_ID{
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		width: auto;
		height: auto;
		margin-top: 10px;
		padding: 20px;
		box-shadow: 0px 0px 2px gray; /*changed*/
	}

	div#loginSection>div#loginWin_ID>div#signInTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: nowrap;
		width: auto;
		font: normal bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif; /*changed*/
	}

	div#loginSection>div#loginWin_ID>div#stayTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: normal;
		word-break: keep-all;
		width: auto;
		font: normal normal 16px "Helvetica Neue", Helvetica, Arial, sans-serif; /*changed*/
	}

	div#loginSection>div#loginWin_ID>div#usernameInputWrap{
		@include usernameMarginTop_Style;
	}
		

	div#loginSection>div#loginWin_ID>div#passwordInputWrap{		
		@include passMarginTop_Style;
	}
	

	div#loginSection>div#loginWin_ID>.signInBtn-Class{
		position: relative;
		display: block;
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		margin-top: 25px;
		padding: 10px; /*changed*/		
		font: normal bold 22px calibri;
		border: none;
		border-radius: 12px;
		background-color: #25990B;
		color:#ffffff;
		cursor: pointer;
		transition: background-color 0.1s linear 0s;		
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:hover{
		background-color: #208403;
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:active{
		background-color: #0071BF;
	}
	/*Login Win Section*/
}
/*Login Laptop Section*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Login Desktop Section*/
@media all and (min-width:1601px){
	div#loginSection{
		@include loginSection_Desktop_Style;				
	}

	/*Vmc Logo Section*/
	div#loginSection>div#vmcLogoWrap{
		@include vmcLogoWrap_Style;
	}

	div#loginSection>div#vmcLogoWrap>img{
		@include childImg_Login_Style;
	}
	/*Vmc Logo Section*/


	/*Login Win Section*/
	div#loginSection>div#loginWin_ID{
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		width: auto;
		height: auto;
		margin-top: 10px;
		padding: 20px;
		box-shadow: 0px 0px 2px gray; /*changed*/
	}

	div#loginSection>div#loginWin_ID>div#signInTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: nowrap;
		width: auto;
		font: normal bold 35px "Helvetica Neue", Helvetica, Arial, sans-serif; /*changed*/
	}

	div#loginSection>div#loginWin_ID>div#stayTxt_ID{
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		white-space: normal;
		word-break: keep-all;
		width: auto;
		font: normal normal 19px "Helvetica Neue", Helvetica, Arial, sans-serif; /*changed*/
	}

	div#loginSection>div#loginWin_ID>div#usernameInputWrap{
		@include usernameMarginTop_Style;
	}
		

	div#loginSection>div#loginWin_ID>div#passwordInputWrap{		
		@include passMarginTop_Style;
	}
	

	div#loginSection>div#loginWin_ID>.signInBtn-Class{
		position: relative;
		display: block;
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		margin-top: 25px;
		padding: 10px; /*changed*/		
		font: normal bold 22px calibri;
		border: none;
		border-radius: 12px;
		background-color: #25990B;
		color:#ffffff;
		cursor: pointer;
		transition: background-color 0.1s linear 0s;		
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:hover{
		background-color: #208403;
	}

	div#loginSection>div#loginWin_ID>.signInBtn-Class:active{
		background-color: #0071BF;
	}
	/*Login Win Section*/
}
/*Login Desktop Section*/
/***********************************************************************************************************************************************************************************************************/