/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rostrap Global";
@import "../../Global Style/Global Style";

/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/*Global Codes to Copy Start*/
/*Root Start*/
:root {
	/*Search Box*/
	@include global_top-searchbox;
	/*Search Box*/

	/*Side Apps Main Menu*/
	@include global_side-app-main;
	/*Side Apps Main Menu*/

	/*Side Apps Sub Menu*/
	@include global_side-app-sub;
	/*Side Apps Sub Menu*/

	/*Dark Mode (Default Style)*/
	@include global_dark-mode;
	/*Dark Mode (Default Style)*/
}
/*Root End*/

/*General Start*/
.light-mode {
	@include global_light-mode;
}

@font-face {
	@include global_font-face;
}

::-webkit-scrollbar {
	@include global_scrollbar;
}

::-webkit-scrollbar-thumb {
	@include global_scrollbar-thumb;
}

::-webkit-scrollbar-track {
	@include global_scrollbar-track;
}

* {
	@include global_asterisk;
}

body {
	@include global_body-bg;
}

input,
input:focus,
textarea,
textarea:focus {
	@include global_input-textarea-style;
}

img,
video {
	@include global_img-video;
}

/*Top Section Start*/
.top-section {
	@include global_top-section;
}

.top-section .top-left-menu {
	@include global_top-left-menu;
}

.top-left-menu .home-logo {
	@include global_home-logo;
}

.top-left-menu .home-logo:hover,
.top-right-menu .toggle-mode-class:hover,
.top-right-menu .topMenus:hover,
.user-profile img:hover {
	@include global_hover-opacity;
}

.top-left-menu .home-logo:active,
.top-right-menu .toggle-mode-class:active,
.top-right-menu .topMenus:active,
.user-profile img:active {
	@include global_active-opacity;
}

.top-left-menu .home-logo img {
	@include global_home-logo-img;
}

.top-left-menu #searchInput_RoId {
	@include global_searchInput_RoId;
}

#searchInput_RoId::placeholder {
	@include global_searchInput_RoId-placeholder;
}

.top-section .top-right-menu {
	@include global_top-right-menu;
}

.top-right-menu .toggle-mode-class {
	@include global_toggle-mode-class;
}

.top-right-menu .topMenus {
	@include global_topMenus;
}

.top-right-menu .gear-icon {
	@include global_gear-icon;
}

.top-right-menu .user-profile {
	@include global_user-profile;
}

.user-profile img {
	@include global_user-profile-img;
}
/*Top Section End*/

/*Mid Section Start*/
#rolayout_RoId {
	@include global_rolayout_RoId;
}

/*Left Content Start*/
.rolayout_RoClass #sidemecha_RoId {
	@include global_sidemecha_RoId;
}

#sidemecha_RoId::-webkit-scrollbar-thumb {
	@include global_sb-thumb-visibility;
}

#sidemecha_RoId:hover::-webkit-scrollbar-thumb {
	@include global_hover-sb-thumb-visibility;
}

.sidemechaCon_RoClass .company-logo {
	@include global_company-logo;
}

.sidemechaCon_RoClass .company-logo img {
	@include global_company-logo-img;
}

.sidemechaCon_RoClass .mainNavMenu_RoClass,
.sidemechaCon_RoClass .subNavMenu_RoClass {
	@include global_mainNavMenu_RoClass;
}

.mainNavMenu_RoClass .generalNavMenuText_RoClass {
	@include global_generalNavMenuText_RoClass;
}

.mainNavMenu_RoClass .chevronIconWrap_RoClass {
	@include global_chevronIconWrap_RoClass;
}
/*Left Content End*/

/*Mid Content Start*/
.mainmecha_RoClass #burger_RoId {
	@include global_burger_RoId;
}
/*Mid Content End*/
/*Mid Section End*/

/*Bottom Section / Footer Start*/
#footerWrap_RoId {
	@include global_footerWrap_RoId;
}

.footerWrap_RoClass #footerTxt_RoId {
	@include global_footerTxt_RoId;
}
/*Bottom Section / Footer End*/
/*General End*/

/*Mobile Start*/
@media all and (max-width:641px) {
	.top-section .searchInput_RoClass {
		@include global_searchInput_RoClass_Mobile;
	}

	#searchInput_RoId::placeholder {
		@include global_searchInput-placeholder_Mobile;
	}

	.top-right-menu .toggle-mode-class {
		@include global_toggle-mode-class_Mobile;
	}
}
/*Mobile End*/
/*Global Codes to Copy End*/

/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{

	--normBtnPadding: 1px;
	--normBtnBorderWidth: 1px;
	--normBtnBorderColor: white;
	--normBtnRadius: 6px;
	--normBtnFWeight: 500px;
	--normBtnBgColor: #2058B2;
	--normBtnHovActFColor: red;
	--normBtnHovActBgColor: white;

	--customInputColor: white;
	--customInputFSize: 10px;
	--customInputAnimFSize: 10px;

	--iconBtnWidth: 200px;
	--iconBtnHeight: 200px;		
	--iconBtnBorderColor: transparent;
	--iconBtnBgSize:22px;
	--iconBtnHeight: 30px;

	--selectDropdownWidth: auto; 		
	--selectDropdownBorderWidth: 1px;
	--selectDropdownBorderColor: #18191A;
	--selectDropdownBorderRadius: 99px;
	--selectDropdownBgColor:#18191A;		
	--selectDropdownIconSize:14px;
	--selectDropdownFSize: auto;
	--selectDropdownFColor: white;
	--selectDropdownChevronSize: 20px;
	--searchOptsBgColor: white;
	--searchOptsFColor: black;
	--hoverOptBgColor: gray;
	--hoverOptFColor: red;
	--selectDropdownScrollSize:5px;
	--optWrapThumbBgColor: red;	
	--selectDropdownResetBtnSize: 20px;

	--cusRadioBorderWidth: 1px;
	--cusRadioBorderColor: white;
	--cusRadioWidthHeight: 10px;
	--cusRadioBgColor: gray;	
	--cusRadioFWeight: 200px;
	--cusRadioFsize: 15px;
	--cusRadioFColor: white;

	--cusCheckboxFWeight: 500;
	--custCheckboxFSize: 17px;
	--cusCheckboxColor: white;
	--cusCheckboxWidthHeight: 15px;
	--cusCheckboxBorderWidth: 1px;
	--cusCheckboxBorderColor: gray;

	--footerBgColor: #242526;
	--footerFSize: 14px;
	--footerFColor: white;

}

@font-face{
	font-family: myOwnFont;
	src:url(../Fonts/Binance-PLEX.ttf);
}

body{
	height:100%;
	font-family: myOwnFont;
	overflow: auto;
}

.setting_Title_Class{
	color:white;
	font-size:30px;
}

.userLogin_RoClass .userLoginDetails_RoClass{
	font-size:20px;
	font-family: myOwnFont;
}

.mainmechaCon_RoClass .SettingsClass{
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin:10px;
}

.SettingsClass #SettingsTitle_id{
	width:100%;
	margin-bottom:5px;

}

.passwordAndCheckPasswordWrap_Class{
	display:flex;
	flex-direction:row;
}

.passwordAndCheckPasswordWrap_Class .checkPasswordBtn_Class{
	display:flex;
	width:50px;
	justify-content:center;
	align-items: center;

}
.checkPasswordBtn_Class .iconBtn_RoClass{
	width:inherit;
	--iconBtnBgSize:50px;
}

#profilePic-Wrap{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
	height:10%;
	border-bottom:1px solid violet;
}

#profilePic-Wrap #profilePic-id{
		width:100%;
}

#picAndbuttonwrap_id{
	width:40%;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction:column;
}

#picAndbuttonwrap_id #imgWrapper_id{
	width:60%;
	height:80%;
	border:2px solid white;
	border-radius:6px;

}

#imgWrapper_id #profilePic-id{
	width:100%;
	height:100%;
	object-fit:cover;
}

#picAndbuttonwrap_id .nameAndTitle-Wrap{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;

}
.nameAndTitle-Wrap #nameDisplay-id{
	margin:auto;
	align-items: center;
	justify-content:center;
	font-size: 60px;

}

.nameAndTitle-Wrap #changePositionDisplay_id{
	width:100%;
	margin:auto;
	padding:0;
	justify-content:center;
}

#changePositionDisplay_id .selectDropdownWrap_RoClass{
	width:100%;
	height:auto;
	background:#18191A;
} 

.selectDropdownOptionsWrap_RoClass{
	z-index: 99;
	border:1px solid gray;
}

.selectDropdownWrap_RoClass .displayedSelectedText_RoClass{
	font-size:20px;
	margin:auto;
	background:#18191A;
	text-align:center;
	overflow:visible;

}
.nameAndTitle-Wrap #positionDisplay-id{
	margin:auto;
	align-items: center;
	justify-content:center;
}

#changeProfilePicBtn_id{
	width:100%;
	display:flex;
	height:10%;
	justify-content:center;
}

.normButton_RoClass{
	margin-top:10px;
}

.SettingsClass .cusInputs_RoClass{
	margin:10px;
	width:60%;
	display:flex;
	flex-direction:row;
	
}
.SettingsClass #changeCredentials_id{
	margin:10px;
	padding-bottom:10px;
	border-bottom:1px solid violet;
}

.placeholdme_RoClass{
	width: 60%;

}

.settingsSeconddiv_Class{
	height:auto;
	border-bottom:1px solid violet;
}

.checkboxesNotification_Class{
	height:auto;
}

.updateNotificationBtn_Class{
	width:auto;
}

.settingsSeconddiv_Class{
	border:1px solid white;
	border-radius:6px;
	padding:auto;
}

.settingsPreferencesControl_Class{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-size:20px;
	margin-bottom:5px;
}

.preferencesOptions_Class{
	margin:auto;
	width:40%;
	padding:10px;
	border:1px solid gray;
	border-radius:6px;
	justify-content: space-around;
}

/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Section Comment Name*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){

.setting_Title_Class{
	color:white;
	font-size:20px;
}

.normButton_RoClass{
		--normBtnWidth: 140px;
		--normBtnFSize: 60%;
}

.nameAndTitle-Wrap #nameDisplay-id{
	margin-left:auto;
	margin-right:auto;
	align-items: center;
	justify-content:center;
	text-align:center;
	font-size: 25px;

}

#changePositionDisplay_id .selectDropdownWrap_RoClass{
	width:80%;
	height:auto;
	background:#18191A;

} 

.selectDropdownWrap_RoClass .displayedSelectedText_RoClass{
	font-size:10px;
	text-align:center;
	overflow:visible;

}

--customInputColor: white;
--customInputFSize: 15px;	
--customInputAnimFSize: 5px;

}

/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	

.normButton_RoClass{
		--normBtnWidth: 140px;
		--normBtnFSize: 70%;
}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){

.normButton_RoClass{
		--normBtnWidth: 150px;
		--normBtnFSize: 75%;
}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){

	.normButton_RoClass{
		--normBtnWidth: 160px;
		--normBtnFSize: 80%;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Section Comment Name*/
/***********************************************************************************************************************************************************************************************************/