/***********************************************************************************************************************************************************************************************************/
/*General*/
@mixin dp_General{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;
	width: var(--dpSize);	
	height: var(--dpSize);
	object-fit: contain;
	border: 2px solid var(--dpBorderColor);
	margin: 7px;
}

@mixin articlesHeaderTxt_General{
	font-family: "binanceFont";
	font-size: clamp(12px, 1vw, 14px);	
	padding: 7px;
	font-weight: bold;
	color: var(--highlightedTextsColor);
}

@mixin otherDetailsTxts_General{
	font-family: "binanceFont";
	font-size: clamp(11px, 1vw, 13px);
	color: #97A0A8;
	padding: 0px 7px;
}

@mixin eventsStatus_General{
	display: inline-block;
	overflow: hidden;
	text-decoration: center;
	font-family: "binanceFont";
	font-size: clamp(12px, 1vw, 15px);
	font-weight: bold;
	padding: 4px;
	border-radius: 8px;
	margin: 7px;
}

@mixin committeeBtns_General{
	--normBtnWidth: clamp(70px, 10vw, 75px);
	--normBtnPadding: 3px;
	--normBtnBorderWidth: 0px;
	--normBtnBorderColor: none;
	--normBtnRadius: 4px;
	--normBtnFWeight: bold;
	--normBtnFSize: clamp(11px, 1vw, 13px);
	--normBtnFcolor: #ffffff;
	font-family: "binanceFont";

}
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/
@mixin featuresWrap_Scroll_Smart{
	overflow-x: hidden;
	overflow-y: hidden;
}
@mixin featuresWrap_Scroll_Pc{
	overflow-x: auto;
	overflow-y: hidden;
}

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/