/***********************************************************************************************************************************************************************************************************/
/*General*/
@mixin dp_General{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;
	width: var(--dpSize);	
	height: var(--dpSize);
	object-fit: contain;
	border: 2px solid #ffffff;
	margin: 7px;
}

@mixin articlesHeaderTxt_General{
	font-family: "binanceFont";
	font-size: clamp(14px, 1vw, 18px);	
	padding: 7px;
	font-weight: bold;
	color: var(--highlightedTextsColor);
}

@mixin otherDetailsTxts_General{
	font-family: "binanceFont";
	font-size: clamp(12px, 1vw, 16px);
	color: #97A0A8;
	padding: 0px 7px;
}

@mixin eventsStatus_General{
	display: inline-block;
	overflow: hidden;
	text-decoration: center;
	font-family: "binanceFont";
	font-size: clamp(13px, 1.5vw, 17px);
	font-weight: bold;
	padding: 4px;
	border-radius: 8px;
	margin: 7px;
}
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/


/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/