/*************************************************************************************/
/*Root*/
@mixin project-title {
	--projectTitleTextFSize: 14px;
	--projectTitleTextFColor: #FFFFFF;
}

/*Dark Mode (Default Style)*/
@mixin dark-mode {
	--bg-color-4: #242526;
	--bg-color-10: #303031;
	--bg-color-11: #5D5E61; // unused
	--bg-color-12: #161617;
	--text-color-3: #CDD1D5;
	--text-color-4: #ADB1B3;
	--text-color-5: #E3E5E9;
	--border-color-2: #121413;
	--border-color-3: #18191A;
	--border-color-4: #444749;
	--border-color-5: #353637;
	--border-color-6: #242526;
}
/*Dark Mode (Default Style)*/

/*Root*/
/*************************************************************************************/
/*General*/
@mixin light-mode {
	--bg-color-4: #FFFFFF;
	--bg-color-10: #E4E6E8;
	--bg-color-11: #FFFFFF; // unused
	--bg-color-12: #999999;
	--text-color-3: #5F6266;
	--text-color-4: #6E6F72;
	--text-color-5: #000000;
	--border-color-2: #E2E4E7;
	--border-color-3: #F0F2F5;
	--border-color-4: #CED0D4;
	--border-color-5: #E4E4E4;
	--border-color-6: #FFFFFF;
}

/*Modal*/
@mixin modalmeCon_RoClass {
	border: none;
}

@mixin modalme_RoClass {
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

@mixin modalHeadClose_RoClass {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 8px;
	left: 18px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1;
	background-color: #161617;
}

@mixin close-mod-icon {
	width: 35px;
	height: 35px;
}

@mixin home-logo-img {
	width: 40px;
	height: 40px;
	padding: 7px;
	border-radius: 10px;
	background-color: #3A3B3C;
	position: absolute;
	top: 8px;
	left: 66px;
	z-index: 1;
}

@mixin modalBody_RoClass {
	height: 100%;
	padding: 0px;
	display: flex;
}

@mixin posted-file-container {
	flex: 1;
	background-color: #000000;
}

@mixin posted-file {
	object-fit: contain;
}

@mixin posted-info-container {
	width: 365px;
	overflow-y: scroll;
	padding: 0px 3px 10px 0px;
	background-color: var(--bg-color-4);
	flex-shrink: 0;
}

@mixin modal-menu-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
	padding-right: 18px;
	height: 55px;
	border-bottom: 1px solid var(--border-color-1);
}

@mixin user-profile-modal {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-inline: 14px;
	margin-top: 8px;
	color: var(--text-color-1);
}

@mixin posted-title {
	color: var(--text-color-1);
	margin-top: 10px;
	padding-left: 15px;
}

@mixin posted-content {
	color: var(--text-color-1);
	font-size: 14px;
	padding-inline: 15px;
}

@mixin posted-reactions {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
	color: var(--text-color-3);
}

@mixin reactions-container-modal {
	display: flex;
	gap: 15px;
	padding-left: 10px;
	flex-wrap: wrap;
}

@mixin reaction-count {
	font-size: 14px;
}

@mixin comment-count-modal {
	font-size: 15px;
	cursor: pointer;
	margin-left: auto;
	margin-right: 10px;
}

@mixin posted-actions {
	display: flex;
	gap: 10px;
	padding-inline: 15px;
	margin-top: 5px;
	border-top: 1px solid var(--border-color-4);
}

@mixin date-posted-modal {
	font-size: 12px;
	padding: 5px 15px;
	color: var(--text-color-4);
}

@mixin modal-comment-section-class {
	color: var(--text-color-1);
	font-size: 14px;
	max-height: 450px;
	overflow-y: scroll;
}

@mixin comment-modal {
	padding-left: 7px;
}

@mixin comment-profile-container {
	padding-inline: 7px;
}
/*Modal*/

/*Mid Section Start*/
@mixin rolayout_RoId {
	display: flex;
	justify-content: space-between;
}

/*Mid Content*/
@mixin mainmecha_RoId {
	display: flex;
	justify-content: center;
	position: absolute;
	height: 100%;
}

@mixin mainmechaCon_RoId {
	max-width: 600px;
	position: absolute;
}

@mixin projectTitle_RoId {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10px;
	white-space: nowrap;
	background-color: #096B6C;
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
}

@mixin post-form {
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	color: var(--text-color-1);
	background-color: var(--bg-color-2);
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
}

@mixin post-category-label {
	margin-bottom: 10px;
	display: block;
}

@mixin post-category-class {
	border: none;
	outline: 2px solid #808080;
	border-radius: 5px;
	padding: 3px;
	margin-bottom: 10px;
	max-width: 100%;
	cursor: pointer;
}

@mixin hover-opacity {
	opacity: .7;
}

@mixin active-opacity {
	opacity: .5;
}

@mixin create-post-form-post-title-class {
	display: block;
	margin: 10px 0px 3px 0px;
	font-size: 16px;
}

@mixin post-title-id {
	width: 100%;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
	font-size: 16px;
}

@mixin textarea-container {
	padding: 7px 5px 7px 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin post-content-id {
	width: 100%;
	min-height: 50px;
	max-height: 300px;
	resize: none;
	background-color: transparent;
	display: block;
}

@mixin sb-thumb-visibility {
	visibility: hidden;
}

@mixin hover-sb-thumb-visibility {
	visibility: visible;
}

@mixin custom-file-upload {
	padding: 7px;
	display: flex;
	justify-content: center;
	width: 240px;
	white-space: nowrap;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 14px;
	background-color: #8ED770;
	color: #808080;
	cursor: pointer;
}

@mixin file-preview-container-class {
	border: 1px solid var(--border-color-4);
	margin-top: 10px;
	border-radius: 10px;
	position: relative;
}

@mixin file-preview-element {
	border-radius: 10px;
	margin: 8px;
	width: calc(100% - 16px);
	max-height: 550px;
	min-height: 250px;
	object-fit: contain;
	background-color: #000000;
}

@mixin remove-file-button {
	border: 1px solid #202224;
	position: absolute;
	top: 18px;
	right: 15px;
	background-color: #3E4042;
	color: #C0C3C7;
	height: 30px;
	width: 30px;
	font-size: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	line-height: 22px;
	cursor: pointer;
}

@mixin create-post-button {
	margin-top: 10px;
	border: none;
	padding: 7px 15px;
	border-radius: 3px;
	display: block;
	background-color: #3C746B;
	color: #FFFFFF;
	cursor: pointer;
}

@mixin create-post-button-active {
	opacity: .5;
}

@mixin posts {
	color: var(--text-color-1);
	margin-top: 10px;
	font-size: 14px;
}

@mixin recent-posts {
	font-weight: bold;
	display: flex;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
	background-color: #096B6C;
	color: #FFFFFF;
	font-size: 14px;
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
}

@mixin post-list {
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-2);
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
}

@mixin user-profile-box {
	margin-bottom: 10px;
}

@mixin user-profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

@mixin user-name {
	flex-shrink: 0;
}

@mixin chosen-category {
	padding: 5px 7px;
	margin-left: 3px;
	font-size: 11px;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: rgba(#096B6C, .8);
}

@mixin posts-buttons {
	cursor: pointer;
	border-radius: 3px;
	border: none;
	padding: 2px 8px;
	background-color: var(--bg-color-3);
	color: var(--text-color-1);
}

@mixin post-list-post-title-class {
	margin-bottom: 7px;
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin post-content-class {
	width: 100%;
	white-space: normal;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin post-reactions {
	padding: 10px 4px;
	display: flex;
	color: var(--text-color-3);
	border-bottom: 1px solid var(--border-color-4);
}

@mixin reactions-container {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

@mixin actions-button {
	color: var(--text-color-4);
	margin-top: 5px;
}

@mixin reaction-icon-container {
	display: flex;
	align-items: center;
	gap: 2px;
}

@mixin reaction-icon {
	height: 15px;
	width: 15px;
}

@mixin comment-count {
	margin-left: auto;
	margin-right: 7px;
	cursor: pointer;
}

@mixin comment-count-hover {
	text-decoration: underline;
}

@mixin reaction-popup-container {
	position: relative;
}

@mixin reaction-popup-container-hover {
	transform: scale(1, 1);
}

@mixin reactions-popup {
	display: flex;
	gap: 7px;
	background-color: var(--bg-color-4);
	padding: 5px 4px;
	border: 1px solid var(--border-color-5);
	border-radius: 30px;
	position: absolute;
	bottom: 100%;
	transform: scale(1, 0);
	transform-origin: bottom;
	transition: transform .3s linear;
}

@mixin emoji-container {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

@mixin emoji-container-img {
	height: 32px;
	width: 32px;
	cursor: pointer;
	position: absolute;
	transition: all .15s linear;
}

@mixin emoji-container-img-hover {
	height: 39px;
	width: 39px;
}

@mixin post-actions {
	display: flex;
	align-items: center;
	gap: 6px;
}

@mixin date-posted {
	font-size: 12px;
	padding-block: 5px;
	white-space: normal;
	color: var(--text-color-4);
}

@mixin comment-section-class {
	max-height: 400px;
	overflow: auto;
}

@mixin comment {
	border-left: 1px solid var(--border-color-4);
	padding-left: 5px;
}

@mixin comment-reactions {
	padding: 10px 4px;
	display: flex;
	gap: 14px;
	color: var(--text-color-3);
	border-bottom: 1px solid var(--border-color-4);
	flex-wrap: wrap;
}

@mixin profile-container {
	display: flex;
	align-items: flex-start;
	margin-top: 10px;
}

@mixin user-profile-img {
	width: 30px;
	height: 30px;
	margin: 1px 5px 0px 0px;
}

@mixin post-comment {
	white-space: normal;
	padding: 10px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin comment-name {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 3px;
}

@mixin comment-like-count {
	margin-right: 10px;
}

@mixin textarea-comment-container {
	width: 100%;
	padding: 7px;
	background-color: var(--bg-color-3);
	border-radius: 10px;
}

@mixin comment-input {
	width: 100%;
	resize: none;
	max-height: 250px;
	background-color: transparent;
}
/*Mid Content*/

/*Right Content*/
@mixin right-side-container {
	width: 300px;
	overflow: auto;
	z-index: 1;
	margin-right: 22px;
	color: #FFFFFF;
	direction: rtl;
	background-color: var(--bg-color-1);
}

@mixin right-side-container-sb-thumb {
	visibility: hidden;
}

@mixin right-side-container-hover-sb-thumb {
	visibility: visible;
}

@mixin side-content-wrapper {
	height: 315px;
	border-radius: 10px;
	padding-inline: 20px;
	border: 1px solid var(--border-color-2);
	background-color: var(--bg-color-4);
	overflow-y: auto;
	overflow-x: hidden;
	direction: ltr;
	margin: 10px 0px 8px 10px;
	color: var(--text-color-1);
}

@mixin side-content-title {
	position: sticky;
	top: 0;
	width: 100%;
	padding-block: 20px;
	background-color: var(--bg-color-4);
	font-weight: bold;
	border-bottom: 1px solid var(--border-color-4);
}

@mixin side-content-content {
	margin-bottom: 25px;
}

@mixin content-title {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: var(--text-color-4);
}

@mixin date {
	font-size: 12px;
	color: var(--text-color-4);
}

@mixin pinned-posts-wrapper-a {
	color: inherit;
}
/*Right Content*/
/*Mid Section End*/

/*Chat Section*/
@mixin chat-toggle-button {
	position: fixed;
	bottom: 38px;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #3C746B;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

@mixin chat-toggle-button-img {
	width: 20px;
	height: 20px;
}

@mixin chat-container {
	position: fixed;
	bottom: 25px;
	right: 0px;
	width: 350px;
	height: calc(100% - 80px);
	background-color: var(--bg-color-1);
	padding: 0px 10px 10px 10px;
	overflow: auto;
}

@mixin contacts {
	font-weight: bold;
	padding-block: 10px;
	color: var(--text-color-4);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin search-contact-id {
	--inputSearchIconHori: 10px;
	--inputSearchIconSize: 14px;
	--inputSearchFSize: 12px;
	width: 36px;
	height: 36px;
	margin-right: 15px;
	padding-left: 22px;
	cursor: pointer;
	border: 1px solid transparent;

}

@mixin search-contact-id-hover {
	background-color: var(--bg-color-10);
	border: 1px solid var(--border-color-2);
}

@mixin contact-container {
	display: flex;
	align-items: center;
	gap: 13px;
	padding: 6px;
	border-radius: 10px;
	cursor: pointer;
}

@mixin contact-container-hover {
	background-color: var(--bg-color-10);
}

@mixin profile-img-container {
	width: 40px;
	height: 40px;
	position: relative;
}

@mixin profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

@mixin online-indicator-small {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #2E9A48;
	border: 2px solid var(--border-color-3);
}

@mixin offline-indicator-small {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #808080;
	border: 2px solid var(--border-color-3);
}

@mixin profile-name {
	color: var(--text-color-5);
	font-size: 15px;
}

@mixin chat-box-container {
	width: 320px;
	height: 430px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: absolute;
	bottom: 25px;
	right: 80px;
	background-color: var(--bg-color-2);
	border: 1px solid var(--border-color-2);
	border-bottom: none;
	display: flex;
	flex-direction: column;
}

@mixin contact-profile-container-small {
	display: flex;
	align-items: center;
	gap: 2px;
	padding: 2px;
	border-bottom: 1px solid var(--border-color-1);
}

@mixin contact-pic-container-small {
	width: 44px;
	height: 44px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

@mixin contact-pic-container-small-hover {
	background-color: var(--bg-color-3);
}

@mixin contact-picture-small {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

@mixin online-indicator-medium {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
	bottom: 6px;
	right: 6px;
	background-color: #2E9A48;
	border: 2px solid var(--border-color-6);
}

@mixin offline-indicator-medium {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
	bottom: 6px;
	right: 6px;
	background-color: #808080;
	border: 2px solid var(--border-color-6);
}

@mixin contact-name {
	font-size: 14px;
	color: var(--text-color-1);
	max-width: 182px;
}

@mixin chat-box {
	width: 100%;
	overflow: auto;
	padding: 5px 0px 10px 0px;
}

@mixin contact-profile-container-big {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding-block: 34px;
}

@mixin contact-pic-container-big {
	position: relative;
}

@mixin online-indicator-big {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #2E9A48;
	border: 2px solid var(--border-color-6);
}

@mixin offline-indicator-big {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #808080;
	border: 2px solid var(--border-color-6);
}

@mixin contact-picture-big {
	width: 60px;
	height: 60px;
	border-radius: 50%;	
}

@mixin contact-name-big {
	font-size: 17px;
	color: var(--text-color-1);
}

@mixin right-chat-container {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin-top: 5px;
	padding-right: 8px;
}

@mixin chat-and-date-right {
	margin-top: 5px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@mixin chat-date-sent {
	font-size: 11px;
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	color: var(--text-color-4);
}

@mixin right-chat {
	margin-top: 3px;
	padding: 8px 11px;
	border-radius: 16px;
	font-size: 13px;
	background-color: #096B6C;
	color: #FFFFFF;
}

@mixin left-chat-container {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	padding-left: 8px;
}

@mixin chat-and-date-left {
	margin-top: 5px;
	width: 210px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin left-chat-pic-container {
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

@mixin left-chat-pic {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

@mixin left-chat {
	margin-top: 3px;
	padding: 8px 11px;
	border-radius: 16px;
	font-size: 13px;
	background-color: var(--bg-color-3);
	color: var(--text-color-1);
}

@mixin chat-input-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
	width: 100%;
	padding: 10px;
}

@mixin textarea-chat-container {
	width: 100%;
	border-radius: 10px;
	padding: 5px 7px;
	background-color: var(--bg-color-3);
	border: 1px solid var(--border-color-1);
}

@mixin chat-input {
	width: 100%;
	resize: none;
	background-color: transparent;
	max-height: 100px;
	overflow: auto;
}

@mixin chat-send-button {
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: #3C746B;
	color: #FFFFFF;
	cursor: pointer;
}

@mixin buzz-chat-button {
	position: absolute;
	right: 44px;
	top: 10px;
	border-radius: 10px;
	border: none;
	background-color: #3C746B;
	width: 40px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

@mixin buzz-chat-button-img {
	width: 20px;
	height: 20px;
}

@mixin close-chat-button {
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 50%;
	border: none;
	background-color: #3C746B;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

@mixin close-chat-button-img {
	width: 25px;
	height: 25px;
}
/*Chat Section*/
/*General*/
/*************************************************************************************/
/*************************************************************************************/
/*Other Media Queries*/
@mixin modalHeadClose_RoClass_OMQ {
	background-color: var(--bg-color-12);
}

@mixin home-logo-img_OMQ {
	background-color: var(--bg-color-7);
}

@mixin modalBody_RoClass_OMQ {
	flex-direction: column;
	padding-top: 55px;
}

@mixin posted-file-container_OMQ {
	max-height: 55%;
	flex: 2;
}

@mixin posted-info-container_OMQ {
	width: auto;
	flex: 1;
}

@mixin modal-menu-container_OMQ {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--bg-color-2);
	border-bottom: 1px solid var(--border-color-1);
}

@mixin mainmechaCon_RoId_OMQ {
	max-width: 450px;
}

@mixin post-reactions_OMQ {
	flex-direction: column;
	gap: 10px;
}

@mixin chat-toggle-button_OMQ {
	top: 110px;
}

@mixin contact-text_OMQ {
	visibility: hidden;
}

@mixin chat-box-container_OMQ {
	width: 300px;
	left: 0;
	right: 0;
	margin-inline: auto;
}
/*Other Media Queries*/
/*************************************************************************************/
/*************************************************************************************/
/*Mobile and Tablet @media (min-width:0px) and (max-width:1080px)*/
@mixin right-side-container_MobTab {
	width: 100%;
	height: 100%;
	position: absolute;
}

@mixin mainmecha_RoId_MobTab {
	position: relative;
}

@mixin mainmechaCon_RoId_MobTab {
	max-width: 100%;
}

@mixin chat-toggle-button_MobTab {
	bottom: 63px;
}

@mixin chat-container_MobTab {
	bottom: 50px;
	height: calc(100% - 105px);
}

@mixin chat-box-container_MobTab {
	bottom: 50px;
}
/*Mobile and Tablet @media (min-width:0px) and (max-width:1080px)*/
/*************************************************************************************/
/*************************************************************************************/
/*Mobile @media (max-width:641px)*/
@mixin chat-container_Mobile {
	width: 100%;
}
/*Mobile @media (max-width:641px)*/
/*************************************************************************************/
/*************************************************************************************/
/*Tablet @media (min-width:642px) and (max-width:1080px)*/

/*Tablet @media (min-width:642px) and (max-width:1080px)*/
/*************************************************************************************/
/*************************************************************************************/
/*Laptop @media (min-width:1081px) and (max-width:1600px)*/
@mixin projectTitle_RoClass_Laptop {
	--projectTitleTextFSize: 16px;
}

@mixin recent-posts_Laptop {
	font-size: 16px
}
/*Laptop @media (min-width:1081px) and (max-width:1600px)*/
/*************************************************************************************/
/*************************************************************************************/
/*Desktop @media (min-width:1601px)*/
@mixin mainmechaCon_RoId_Desktop {
	max-width: 650px;
}

@mixin projectTitle_RoClass_Desktop {
	--projectTitleTextFSize: 18px;
}

@mixin recent-posts_Desktop {
	font-size: 18px
}
/*Desktop @media (min-width:1601px)*/
/*************************************************************************************/