/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rogie Rostrap Global";
@import "../../Global Style/Rogie Global Style";
@import "./Mixin_Page_Posts";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--whatIsNewSection_Width_Smart: 100%;
	--whatIsNewSection_Width_Pc: 420px;

	--featuresIconSize: clamp(30px, 7vw, 40px);

	--postsDpSize: clamp(30px, 6vw, 55px);
	--postsBodyDetailsFsize: clamp(13px, 1vw, 17px);
	--postsSeenIconSize: clamp(20px, 1vw, 25px);
	--postsSeenFsize: clamp(11px, 1vw, 16px);
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
/*Page Body*/
#pageContentsWrap{	
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	height: 100%;	
}
/*Page Body*/


/*Left Side or Contents Area*/
#mainContentWrap{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	overflow: auto;
}
/*Left Side or Contents Area*/


/*Smart only features controller*/
#featuresControlsWrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	flex-shrink: 0;
}

.featuresControls{
	display: flex;
	overflow: hidden;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 250px;
	height: auto;	
	border: 2px solid #39AB5B;
	margin: 15px;
	border-radius: 15px;
	background-color: var(--featuresControls_BgColor);
	cursor: pointer;
}

.featuresIcon{
	overflow: hidden;
	width: var(--featuresIconSize);
	height: var(--featuresIconSize);
	flex-shrink: 0;	
	background: #39AB5B var(--featureIconSrc) center center no-repeat;
	background-size: contain;
	border-radius: 50%;
	margin-left: 5px;
}

.featuresTextWrap{
	display: flex;
	overflow: hidden;
	width: 100%;	
	flex-flow: column nowrap;
	justify-content: flex-start;	
	font-family: "binanceFont";
	margin-left: 5px;
}

.featuresTextTitle{
	overflow: hidden;
	flex-shrink: 0;
	font-weight: bold;
	font-size: clamp(12px, 2.5vw, 16px);
	padding: 2px;
	color: var(--featuresConTxtColor);	
}

.featuresTextDefinition{
	overflow: hidden;
	height: 100%;
	padding: 4px;
	font-size: clamp(12px, 1.5vw, 16px);
	color: var(--featuresConTxtColor);
}
/*Smart only features controller*/


/*Page Features*/
#featuresWrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/**What is new posts*/
#whatIsNewSection{
	overflow: hidden;
}

#postsWrap{
	overflow: auto;
}

.posts{
	overflow: hidden;
	margin: 14px 14px 50px 14px;
	background-color: var(--postsBgColor);
	box-shadow: var(--postsBoxShadow);
}

.postsHeader{	
	overflow: hidden;
}

.postsHeaderDetailsWrap{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;	
}

.postsDp{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;
	width: var(--postsDpSize);	
	height: var(--postsDpSize);
	object-fit: contain;
	border: 2px solid #ffffff;
	margin: 7px;	
}

.postsHeaderDetails{
	width: 100%;
}

.postsEmpName{
	font-family: "binanceFont";
	font-size: clamp(14px, 1vw, 18px);	
	padding: 7px;
	font-weight: bold;
	color: var(--postTextsColor);
}

.postsCatNTimeWrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.postsCatNTimeTxt{
	font-family: "binanceFont";
	font-size: clamp(12px, 1vw, 16px);
	color: #97A0A8;
	padding: 0px 7px;
}

.postsBody{
	padding: 7px;
}

.postsBodyDetails{
	overflow: hidden;
	font-family: "binanceFont";
	font-size:  var(--postsBodyDetailsFsize);
	color: var(--postTextsColor);
}

.postsTitle{
	overflow: hidden;
	font-family: "binanceFont";
	font-size: var(--postsBodyDetailsFsize);
	color: var(--postTextsColor);
	font-weight: bold;
	margin-top: 7px;
}

.postsSeenDetailsWrap{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.postsSeenIcon{
	overflow: hidden;
	width: var(--postsSeenIconSize);
	height: var(--postsSeenIconSize);
	background: url("../../src/seen-white.png") center center no-repeat; /*Included darkmode on js*/
	background-size: contain;
	flex-shrink: 0;
}

.postsSeenTxts{
	overflow: hidden;
	color: var(--postTextsColor);
	font-family: "binanceFont";
	font-size: var(--postsSeenFsize);
	margin-left: 5px;
}
/**What is new posts*/
/*Page Features*/
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){	
	/*Page Features*/	
	/**What is new posts*/
	#whatIsNewSection{
		width: var(--whatIsNewSection_Width_Smart);
	}	
	/**What is new posts*/
	/*Page Features*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Page Features*/	
	/**What is new posts*/	
	#whatIsNewSection{
		width: var(--whatIsNewSection_Width_Smart);
	}
	/**What is new posts*/
	/*Page Features*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
	/*Page Features*/	
	/**What is new posts*/	
	#whatIsNewSection{
		width: var(--whatIsNewSection_Width_Pc);
	}
	/**What is new posts*/
	/*Page Features*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/