/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rogie Rostrap Global";
@import "../../Global Style/Rogie Global Style";
@import "./Mixin_Page_Posts";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--pageContentsWrap_Height_Mobile: calc(100% - clamp(14px, 3vw, 18px) - clamp(50px, 5vw, 65px) - 68px);
	--pageContentsWrap_Height_Tablet: calc(100% - clamp(14px, 3vw, 18px) - clamp(50px, 5vw, 65px) - 32px);
	--pageContentsWrap_Height_Pc: calc(100% - clamp(14px, 3vw, 18px) - clamp(50px, 5vw, 65px) - 3px);
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
/*Page Body*/
#pageContentsWrap{	
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;	

	border: 1px solid yellow;
}
/*Page Body*/


/*Left Side or Contents Area*/
#mainContentWrap{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 100%;
	height: 100%;

	border: 1px solid red;
}
/*Left Side or Contents Area*/


/*Smart only features controller*/
#featuresControlsWrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	flex-shrink: 0;

	border: 1px solid blue;
}

.featuresControls{
	display: flex;
	overflow: hidden;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 250px;
	height: auto;	
	border: 2px solid #39AB5B;
	margin: 15px;
	border-radius: 15px;
	background-color: var(--featuresControls_BgColor);;
}

.featuresIcon{
	overflow: hidden;
	width: clamp(30px, 7vw, 40px);
	height: clamp(30px, 7vw, 40px);
	flex-shrink: 0;	
	background: #39AB5B var(--featureIconSrc) center center no-repeat;
	background-size: contain;
	border-radius: 50%;
	margin-left: 5px;
}

.featuresTextWrap{
	display: flex;
	overflow: hidden;
	width: 100%;	
	flex-flow: column nowrap;
	justify-content: flex-start;	
	font-family: "binanceFont";
	margin-left: 5px;
}

.featuresTextTitle{
	overflow: hidden;
	flex-shrink: 0;
	font-weight: bold;
	font-size: clamp(12px, 2.5vw, 16px);
	padding: 2px;
	color: var(--featuresConTxtColor);	
}

.featuresTextDefinition{
	overflow: hidden;
	height: 100%;
	padding: 4px;
	font-size: clamp(12px, 1.5vw, 16px);
	color: var(--featuresConTxtColor);
}
/*Smart only features controller*/


/*Page Features*/
#featuresWrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	height: 100%;

	border: 1px solid blue;	
}
/*Page Features*/
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Page Body*/
	#pageContentsWrap{	
		height: var(--pageContentsWrap_Height_Mobile);		
	}
	/*Page Body*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Page Body*/
	#pageContentsWrap{	
		height: var(--pageContentsWrap_Height_Tablet);		
	}
	/*Page Body*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
	/*Page Body*/
	#pageContentsWrap{	
		height: var(--pageContentsWrap_Height_Pc);		
	}
	/*Page Body*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/