/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rogie Rostrap Global";
@import "../../Global Style/Rogie Global Style";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--featuredWrapDisplay_Smart: flex;
	--featuredWrapDisplay_Pc: none;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
/*Contents Wrapper*/
#pageContentsWrap{	
	height: 100%;
	overflow: auto;	

	border: 1px solid yellow;
}
/*Contents Wrapper*/

/*Featured Wrapper*/
#featuredWrap{	
	overflow: auto;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	border: 1px solid red;
}
/*Featured Wrapper*/
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#featuredWrap{
		display: var(--featuredWrapDisplay_Smart);
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#featuredWrap{
		display: var(--featuredWrapDisplay_Smart);
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
	#featuredWrap{
		display: var(--featuredWrapDisplay_Pc);
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/