/*************************************************************************************/
/*Root*/
:root{

	--normBtnPadding: 1px;
	--normBtnBorderWidth: 1px;
	--normBtnBorderColor: white;
	--normBtnRadius: 6px;
	--normBtnFWeight: 500px;
	--normBtnBgColor: #2058B2;
	--normBtnHovActFColor: red;
	--normBtnHovActBgColor: white;

	--customInputColor: var(--text-color-1);
	--customInputFSize: 10px;
	--customInputAnimFSize: 10px;

	--iconBtnWidth: 200px;
	--iconBtnHeight: 200px;		
	--iconBtnBorderColor: transparent;
	--iconBtnBgSize:22px;
	--iconBtnHeight: 30px;

	--selectDropdownWidth: auto; 		
	--selectDropdownBorderWidth: 1px;
	--selectDropdownBorderColor: var(--bg-color-1);
	--selectDropdownBorderRadius: 99px;
	--selectDropdownBgColor:var(--bg-color-1);		
	--selectDropdownIconSize:14px;
	--selectDropdownFSize: auto;
	--selectDropdownFColor: var(--text-color-1);
	--selectDropdownChevronSize: 20px;
	--searchOptsBgColor: white;
	--searchOptsFColor: black;
	--hoverOptBgColor: gray;
	--hoverOptFColor: red;
	--selectDropdownScrollSize:5px;
	--optWrapThumbBgColor: red;	
	--selectDropdownResetBtnSize: 20px;

	--cusRadioBorderWidth: 1px;
	--cusRadioBorderColor: white;
	--cusRadioWidthHeight: 10px;
	--cusRadioBgColor: gray;	
	--cusRadioFWeight: 200px;
	--cusRadioFsize: 15px;
	--cusRadioFColor: var(--text-color-1);

	--cusCheckboxFWeight: 500;
	--custCheckboxFSize: 17px;
	--cusCheckboxColor: var(--text-color-1);
	--cusCheckboxWidthHeight: 15px;
	--cusCheckboxBorderWidth: 1px;
	--cusCheckboxBorderColor: gray;

	--footerBgColor: #242526;
	--footerFSize: 14px;
	--footerFColor: var(--text-color-1);

}

@mixin dark-mode {
	--bg-color-4: #242526;
	--bg-color-10: #303031;
	--bg-color-11: #5D5E61;
	--bg-color-12: #161617;
	--text-color-3: #CDD1D5;
	--text-color-4: #ADB1B3;
	--text-color-5: #E3E5E9;
	--border-color-2: #121413;
	--border-color-3: #18191A;
	--border-color-4: #444749;
	--border-color-5: #353637;
	--border-color-6: #242526;
}

/*Root*/
/*************************************************************************************/
/*General*/
@mixin light-mode {
	--bg-color-4: #FFFFFF;
	--bg-color-10: #E4E6E8;
	--bg-color-11: #FFFFFF;
	--bg-color-12: #999999;
	--text-color-3: #5F6266;
	--text-color-4: #6E6F72;
	--text-color-5: #000000;
	--border-color-2: #E2E4E7;
	--border-color-3: #F0F2F5;
	--border-color-4: #CED0D4;
	--border-color-5: #E4E4E4;
	--border-color-6: #FFFFFF;
}

@mixin font-face{
	font-family: myOwnFont;
	src:url(../Fonts/Binance-PLEX.ttf);
}
@mixin body {
	height:100%;
	font-family: myOwnFont;
	overflow: auto;
}

@mixin setting_Title_Class {
	color:var(--text-color-1);
	font-size:30px;
}

@mixin userLoginDetails_RoClass {
	font-size:20px;
	font-family: myOwnFont;
}

@mixin SettingsClass{
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin:10px;
}

@mixin SettingsTitle_id{
	width:100%;
	margin-bottom:5px;
}

@mixin passwordAndCheckPasswordWrap_Class{
	display:flex;
	flex-direction:row;
}

@mixin checkPasswordBtn_Class{
	display:flex;
	width:50px;
	justify-content:center;
	align-items: center;
}

@mixin iconBtn_RoClass{
	width:inherit;
	--iconBtnBgSize:50px;
}

@mixin profilePic-Wrap{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
	height:10%;
	border-bottom:1px solid violet;
}

@mixin picAndbuttonwrap_id{
	width:40%;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction:column;
}

@mixin imgWrapper_id{
	width:60%;
	height:80%;
	border:2px solid white;
	border-radius:6px;
}

@mixin profilePic-id{
	width:100%;
	height:100%;
	object-fit:cover;
}

@mixin nameAndTitle-Wrap{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
}

@mixin nameDisplay-id{
	margin:auto;
	align-items: center;
	justify-content:center;
	font-size: 60px;
}

@mixin changePositionDisplay_id{
	width:100%;
	margin:auto;
	padding:0;
	justify-content:center;
}

@mixin selectDropdownWrap_RoClass{
	width:100%;
	height:auto;
	background-color:var(--bg-color-1);
}

@mixin selectDropdownOptionsWrap_RoClass{
	z-index: 99;
	border:1px solid gray;
}

@mixin displayedSelectedText_RoClass{
	font-size:20px;
	margin:auto;
	background-color:var(--bg-color-1);
	text-align:center;
	overflow:visible;
}

@mixin positionDisplay-id{
	margin:auto;
	align-items: center;
	justify-content:center;
}

@mixin changeProfilePicBtn_id{
	width:100%;
	display:flex;
	height:10%;
	justify-content:center;
}

@mixin normButton_RoClass{
	margin-top:10px;
}

@mixin cusInputs_RoClass{
	margin:10px;
	width:60%;
	display:flex;
	flex-direction:row;
}

@mixin changeCredentials_id{
	margin:10px;
	padding-bottom:10px;
	border-bottom:1px solid violet;
}

@mixin placeholdme_RoClass{
	width: 60%;
}

@mixin settingsSeconddiv_Class{
	height:auto;
	border:1px solid white;
	border-radius:6px;
	padding:auto;
}

@mixin checkboxesNotification_Class{
	height:auto;
}

@mixin updateNotificationBtn_Class{
	width:auto;
}

@mixin settingsPreferencesControl_Class{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-size:20px;
	margin-bottom:5px;
}

@mixin preferencesOptions_Class{
	margin:auto;
	width:40%;
	padding:10px;
	border:1px solid gray;
	border-radius:6px;
	justify-content: space-around;
}

/*************************************************************************************/
/*Mobile*/

@mixin mobile_setting_Title_Class{
	font-size:20px;
}

@mixin mobile_nameDisplay-id{
	margin-left:auto;
	margin-right:auto;
	align-items: center;
	justify-content:center;
	text-align:center;
	font-size: 25px;
}

@mixin mobile_selectDropdownWrap_RoClass{
	width:80%;
	height:auto;
	background-color:var(--bg-color-1);
}

@mixin mobile_displayedSelectedText_RoClass{
	font-size:10px;
	text-align:center;
	overflow:visible;
}