/*************************************************************************************/
/*Root*/
:root{

	--normBtnPadding: 1px;
	--normBtnBorderWidth: 1px;
	--normBtnBorderColor: var(--text-color-4); /*white*/;
	--normBtnRadius: 6px;
	--normBtnFWeight: 500px;
	--normBtnBgColor: #639FFF;
	--normBtnHovActBgColor: #639FFF;

	--customInputColor: var(--text-color-4); /*white*/
	--customInputFSize: 10px;
	--customInputAnimFSize: 10px;

	--iconBtnWidth: 200px;
	--iconBtnHeight: 200px;		
	--iconBtnBorderColor: transparent;
	--iconBtnBgSize:22px;
	--iconBtnHeight: 30px;

	--selectDropdownWidth: auto; 		
	--selectDropdownBorderWidth: 1px;
	--selectDropdownBorderColor: var(--bg-color-10); /*gray*/
	--selectDropdownBorderRadius: 99px;
	--selectDropdownBgColor:var(--bg-color-11); /*black*/		
	--selectDropdownIconSize:14px;
	--selectDropdownFSize: auto;
	--selectDropdownFColor: var(--text-color-4); /*white*/
	--selectDropdownChevronSize: 20px;
	--searchOptsBgColor: white;
	--searchOptsFColor: black;
	--hoverOptBgColor: gray;
	--hoverOptFColor: red;
	--selectDropdownScrollSize:5px;
	--optWrapThumbBgColor: red;	
	--selectDropdownResetBtnSize: 20px;

	--cusRadioBorderWidth: 1px;
	--cusRadioBorderColor: var(--border-color-1);
	--cusRadioWidthHeight: 10px;
	--cusRadioBgColor: gray;	
	--cusRadioFWeight: 200px;
	--cusRadioFsize: 15px;
	--cusRadioFColor: var(--text-color-4);

	--cusCheckboxFWeight: 500;
	--custCheckboxFSize: 17px;
	--cusCheckboxColor: var(--text-color-4);
	--cusCheckboxWidthHeight: 15px;
	--cusCheckboxBorderWidth: 1px;
	--cusCheckboxBorderColor: gray;

	--footerBgColor: #242526;
	--footerFSize: 14px;
	--footerFColor: var(--text-color-1);

}

@mixin dark-mode {
	--bg-color-4:#ffffff; /*white*/
	--bg-color-10:#808080; /*gray*/
	--bg-color-11:#000000; /*black*/
	--bg-color-12:#a9a9a9; /*lightgray*/
	--text-color-3:
	--text-color-4:#ffffff; /*white*/
	--text-color-5:#ffff00; /*yellow*/
	--border-color-2:
	--border-color-3:
	--border-color-4:#ffffff; /*white*/
	--border-color-5:
	--border-color-6:
}

/*Root*/
/*************************************************************************************/
/*General*/
@mixin light-mode {
	--bg-color-4: #000000; /*black*/
	--bg-color-10:#a9a9a9; /*darkgray*/
	--bg-color-11: #ffffff; /*white*/
	--bg-color-12:#808080; /*gray*/
	--text-color-3: 
	--text-color-4:#000000; /*black*/ 
	--text-color-5: #0000ff; /*blue*/
	--border-color-2:
	--border-color-3: 
	--border-color-4:#808080; /*gray*/
	--border-color-5:
	--border-color-6:
}

@mixin font-face{
	font-family: myOwnFont;
	src:url("../../Global Fonts/Binance-PLEX.ttf");
}
@mixin body {
	height:100%;
	font-family: myOwnFont;
	overflow: auto;
}

@mixin projTitleAndUserLogin_RoClass{
	background-color: var(--bg-color-1);
}

@mixin setting_Title_Class {
	color:var(--text-color-1); /*white*/
	font-size:30px;
}

@mixin userLoginDetails_RoClass {
	font-size:20px;
	font-family: myOwnFont;
}

@mixin mainmechaCon_RoClass{
	color:var(--text-color-4); /*white*/
}

@mixin SettingsClass{
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin:10px;
}

@mixin SettingsTitle_id{
	color:var(--text-color-4);
	width:100%;
	margin-bottom:5px;
}

@mixin passwordAndCheckPasswordWrap_Class{
	display:flex;
	flex-direction:row;
}

@mixin checkPasswordBtn_Class{
	display:flex;
	width:50px;
	justify-content:center;
	align-items: center;
}

@mixin iconBtn_RoClass{
	width:inherit;
	--iconBtnBgSize:50px;
}

@mixin profilePic-Wrap{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
	height:10%;
	margin-bottom:10px;
}

@mixin picAndbuttonwrap_id{
	width:40%;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction:column;
}

@mixin imgWrapper_id{
	max-width:400px;
	max-height:400px;
	margin-bottom:0px;
}

@mixin profilePic-id{
	width:100%;
	max-height:250px;
    object-fit: contain;
    border-radius: 10px;
    border:1px solid white;
}

@mixin nameAndTitle-Wrap{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
}

@mixin nameEditWrap_class{
	display:flex;
	flex-direction:row;
	vertical-align: center;
	justify-content: space-around;
}

@mixin nameDisplay-id{
	margin:auto;
	align-items: center;
	justify-content:center;
	font-size: 60px;
	margin-right:20px;
}

@mixin changeNameimgWrapper_id{
	width:30px;
	height:30px;
	margin-top:auto;
	margin:auto;
}

@mixin changeNamePic-id{
	opacity:.7;
	cursor:pointer;
}

@mixin changePositionDisplay_id{
	width:100%;
	margin:auto;
	padding:0;
	justify-content:center;
}

@mixin selectDropdownWrap_RoClass{
	width:100%;
	height:auto;
	background-color:var(--bg-color-1);
}

@mixin selectDropdownOptionsWrap_RoClass{
	z-index: 99;
	border:1px solid var(--bg-color-11);
}

@mixin displayedSelectedText_RoClass{
	font-size:20px;
	margin:auto;
	background-color:var(--bg-color-1);
	text-align:center;
	overflow:visible;
}

@mixin positionDisplay-id{
	margin:auto;
	align-items: center;
	justify-content:center;
}

@mixin changeProfilePicBtn_id{
	width:100%;
	display:flex;
	height:10%;
	justify-content:center;
}

@mixin normButton_RoClass{
	margin-top:10px;
	border: none;
	padding: 7px 15px;
	border-radius: 3px;
	display: block;
	background-color: #2176FF;
	color: #FFFFFF;
	cursor: pointer;
}

@mixin normButton_RoClass-hover{
	opacity: .7;
}

@mixin normButton_RoClass-active{
	opacity: .5;
}

@mixin changeCredentialsWrap_class{
	display:flex;
	flex-direction:column;
	padding:10px;
	border-radius:6px;
	margin-bottom:20px;
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
}

@mixin inputBoxesWrap_class{
	display:flex;
	flex-direction:column;
}

@mixin cusInputs_RoClass{
	margin:10px;
	width:600px;
	display:flex;
	flex-direction:row;
}

@mixin changeCredentials_id{
	margin:10px;
	padding-bottom:10px;
}

@mixin placeholdme_RoClass{
	width: 200px;
}

@mixin settingsSeconddiv_Class{
	height:auto;
	border:1px solid var(--border-color-7);
	border-radius:6px;
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
	padding:auto;
}

@mixin checkboxesNotification_Class{
	height:auto;
}

@mixin updateNotificationBtn_Class{
	width:auto;
}

@mixin settingsPreferencesControl_Class{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-size:20px;
	margin-bottom:5px;
	padding-top:10px;
}

@mixin preferencesOptions_Class{
	margin:auto;
	width:80%;
	padding:10px;
	border:1px solid var(--bg-color-11);
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
	border-radius:6px;
	justify-content: space-around;
}

@mixin radioChoicesTitle{
	text-align:center;
	color: var(--text-color-1);
    background-color: var(--bg-color-2);
}

@mixin notificationTitle_class{
	text-align:center;
	color: var(--text-color-1);
    background-color: var(--bg-color-2);
}

/*************************************************************************************/
/*Mobile*/

@mixin mobile_setting_Title_Class{
	font-size:20px;
}

@mixin mobile_nameDisplay-id{
	margin-left:auto;
	margin-right:auto;
	align-items: center;
	justify-content:center;
	text-align:center;
	font-size: 25px;
}

@mixin mobile_changeNameimgWrapper_id{
	width:15px;
	height:15px;
	margin-top:auto;
	margin:auto;
}

@mixin mobile_selectDropdownWrap_RoClass{
	width:80%;
	height:auto;
	background-color:var(--bg-color-1);
}

@mixin mobile_displayedSelectedText_RoClass{
	font-size:10px;
	text-align:center;
	overflow:visible;
}

@mixin mobile_changeCredentialsWrap_class{
	display:flex;
	flex-direction:column;
	justify-content: center;
	margin-bottom:10px;
	align-items: center;
	border:1px solid var(--border-color-7);
	border-radius:6px;
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);

}

@mixin mobile_cusInputs_RoClass{
	margin:10px;
	width:200px;
	display:flex;
	flex-direction:row;
}

@mixin mobile_imgWrapper_id{
	max-width:120px;
	max-height:120px;
}

@mixin mobile_profilePic-id{
	width:100%;
	height:120px;
    object-fit: contain;
    border-radius: 10px;
}