/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rogie Rostrap Global";
@import "../../Global Style/Rogie Global Style";
@import "./Mixin_Page_AccountSettings";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--normBtnWidth: auto;
	--normBtnPadding: 10px;
	--normBtnBorderWidth: 1px;
	--normBtnBorderColor: #39AB5B;
	--normBtnRadius: 7px;
	--normBtnFWeight: bold;
	--normBtnFSize: clamp(12px, 2vw, 16px);
	--normBtnBgColor: #39AB5B;
	--normBtnFcolor: #ffffff;
	--normBtnHovActFColor: #ffffff;
	--normBtnHovActBgColor: #3D8554;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
#profilePic-Wrap{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items: center;
	height:10%;
	margin-bottom:10px;

	border: 1px solid yellow;
}

#profilePic-id{
	width:100%;
	max-height:250px;
	object-fit: contain;
	border-radius: 10px;

	border: 1px solid yellow;
}

#picAndbuttonwrap_id{
	max-width: 180px;
	margin: auto;
	border: 1px solid black;
}

#profilePic-id{
	width:100%;
	max-height:250px;
	object-fit: contain;
	border-radius: 10px;
	border:1px solid white;
}

#changeProfilePicBtn_id{
	width:100%;
	display:flex;
	height:10%;
	justify-content:center;
}

#changeProfilePicBtn_id label{
	font-family: "binanceFont";
}


.changeCredentialsWrap_class{
	display:flex;
	flex-direction:column;
	padding:10px;
	border-radius:6px;
	margin-bottom:20px;
	box-shadow: 0px 0px 4px rgba(#096B6C, .7);
	margin-top: 10px;
}

#SettingsTitle_id{
	color: black;
	width:100%;
	margin-bottom:5px;
	font-family: "binanceFont";
}


.passwordAndCheckPasswordWrap_Class{
	margin: 15px;
}

/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:1081px){
	
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/