/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rostrap Global";
@import "../../Global Style/Global Style";
@import "./Mixin Setting Page";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/*Global Codes to Copy Start*/

/*Root Start*/
:root {
	/*Search Box*/
	@include global_top-searchbox;
	/*Search Box*/

	/*Side Apps Main Menu*/
	@include global_side-app-main;
	/*Side Apps Main Menu*/

	/*Side Apps Sub Menu*/
	@include global_side-app-sub;
	/*Side Apps Sub Menu*/

	/*Dark Mode (Default Style)*/
	@include global_dark-mode;
	/*Dark Mode (Default Style)*/
}
/*Root End*/

/*General Start*/
.light-mode {
	@include global_light-mode;
}

@font-face {
	@include global_font-face;
}

::-webkit-scrollbar {
	@include global_scrollbar;
}

::-webkit-scrollbar-thumb {
	@include global_scrollbar-thumb;
}

::-webkit-scrollbar-track {
	@include global_scrollbar-track;
}

* {
	@include global_asterisk;
}

body {
	@include global_body-bg;
}

input,
input:focus,
textarea,
textarea:focus {
	@include global_input-textarea-style;
}

img,
video {
	@include global_img-video;
}

/*Top Section Start*/
.top-section {
	@include global_top-section;
}

.top-section .top-left-menu {
	@include global_top-left-menu;
}

.top-left-menu .home-logo {
	@include global_home-logo;
}

.top-left-menu .home-logo:hover,
.top-right-menu .toggle-mode-class:hover,
.topMenus:hover,
.user-profile img:hover {
	@include global_hover-opacity;
}

.top-left-menu .home-logo:active,
.top-right-menu .toggle-mode-class:active,
.topMenus:active,
.user-profile img:active {
	@include global_active-opacity;
}

.top-left-menu .home-logo img {
	@include global_home-logo-img;
}

.top-left-menu #searchInput_RoId {
	@include global_searchInput_RoId;
}

#searchInput_RoId::placeholder {
	@include global_searchInput_RoId-placeholder;
}

.top-section .top-right-menu {
	@include global_top-right-menu;
}

.top-right-menu .toggle-mode-class {
	@include global_toggle-mode-class;
}

.topMenus {
	@include global_topMenus;
}

.gear-icon {
	@include global_gear-icon;
}

.top-right-menu .user-profile {
	@include global_user-profile;
}

.user-profile img {
	@include global_user-profile-img;
}
/*Top Section End*/

/*Mid Section Start*/
#rolayout_RoId {
	@include global_rolayout_RoId;
}

/*Left Content Start*/
.rolayout_RoClass #sidemecha_RoId {
	@include global_sidemecha_RoId;
}

#sidemecha_RoId::-webkit-scrollbar-thumb {
	@include global_sb-thumb-visibility;
}

#sidemecha_RoId:hover::-webkit-scrollbar-thumb {
	@include global_hover-sb-thumb-visibility;
}

.sidemechaCon_RoClass .company-logo {
	@include global_company-logo;
}

.sidemechaCon_RoClass .company-logo img {
	@include global_company-logo-img;
}

.sidemechaCon_RoClass .mainNavMenu_RoClass,
.sidemechaCon_RoClass .subNavMenu_RoClass {
	@include global_mainNavMenu_RoClass;
}

.mainNavMenu_RoClass .generalNavMenuText_RoClass {
	@include global_generalNavMenuText_RoClass;
}

.mainNavMenu_RoClass .chevronIconWrap_RoClass {
	@include global_chevronIconWrap_RoClass;
}
/*Left Content End*/

/*Mid Content Start*/
.mainmecha_RoClass #burger_RoId {
	@include global_burger_RoId;
}
/*Mid Content End*/
/*Mid Section End*/

/*Bottom Section / Footer Start*/
#footerWrap_RoId {
	@include global_footerWrap_RoId;
}

.footerWrap_RoClass #footerTxt_RoId {
	@include global_footerTxt_RoId;
}
/*Bottom Section / Footer End*/
/*General End*/

/*Mobile and Tablet Start*/
@media (min-width:0px) and (max-width:1080px) {
	#rolayout_RoId {
		@include global_rolayout_RoId_MobTab;
	}

	#footerWrap_RoId {
		@include global_footerWrap_RoId_MobTab;	
	}
}
/*Mobile and Tablet End*/

/*Mobile Start*/
@media all and (max-width:641px) {
	.top-section .searchInput_RoClass {
		@include global_searchInput_RoClass_Mobile;
	}

	#searchInput_RoId::placeholder {
		@include global_searchInput-placeholder_Mobile;
	}

	.top-right-menu .toggle-mode-class {
		@include global_toggle-mode-class_Mobile;
	}
}
/*Mobile End*/
/*Global Codes to Copy End*/

/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/

@font-face{
	@include font-face;
}

body{
	@include body;
}

.projTitleAndUserLogin_RoClass{
	@include projTitleAndUserLogin_RoClass;
}

.setting_Title_Class{
	@include setting_Title_Class;
}

.userLogin_RoClass .userLoginDetails_RoClass{
	@include userLoginDetails_RoClass;
}

.mainmechaCon_RoClass{
	@include mainmechaCon_RoClass;
}

.mainmechaCon_RoClass .SettingsClass{
	@include SettingsClass;
}

.SettingsClass #SettingsTitle_id{
	@include SettingsTitle_id;

}

.passwordAndCheckPasswordWrap_Class{
	@include passwordAndCheckPasswordWrap_Class;
}

.passwordAndCheckPasswordWrap_Class .checkPasswordBtn_Class{
	@include checkPasswordBtn_Class;

}
.checkPasswordBtn_Class .iconBtn_RoClass{
	@include iconBtn_RoClass;
}

#profilePic-Wrap{
	@include profilePic-Wrap;
}

#profilePic-Wrap #profilePic-id{
	@include profilePic-id;
}

#picAndbuttonwrap_id{
	@include picAndbuttonwrap_id;
}

#picAndbuttonwrap_id #imgWrapper_id{
	@include imgWrapper_id;

}

#imgWrapper_id #profilePic-id{
	@include profilePic-id;
}

#picAndbuttonwrap_id .nameAndTitle-Wrap{
	@include nameAndTitle-Wrap;

}
.nameAndTitle-Wrap #nameDisplay-id{
	@include nameDisplay-id;

}

.nameEditWrap_class{
	@include nameEditWrap_class;
}

#changeNameimgWrapper_id{
	@include changeNameimgWrapper_id;
}

#changeNamePic-id:hover{
	@include changeNamePic-id;
}

.nameAndTitle-Wrap #changePositionDisplay_id{
	@include changePositionDisplay_id;
}

#changePositionDisplay_id .selectDropdownWrap_RoClass{
	@include selectDropdownWrap_RoClass;
} 

.selectDropdownOptionsWrap_RoClass{
	@include selectDropdownOptionsWrap_RoClass;
}

.selectDropdownWrap_RoClass .displayedSelectedText_RoClass{
	@include displayedSelectedText_RoClass;

}
.nameAndTitle-Wrap #positionDisplay-id{
	@include positionDisplay-id;
}

#changeProfilePicBtn_id{
	@include changeProfilePicBtn_id;
}

.normButton_RoClass{
	@include normButton_RoClass;
}

.normButton_RoClass:hover{
	@include normButton_RoClass-hover;
}

.normButton_RoClass:active{
	@include normButton_RoClass-active;
}

.SettingsClass .cusInputs_RoClass{
	@include cusInputs_RoClass;
	
}

.changeCredentialsWrap_class{
	@include changeCredentialsWrap_class;
}
.SettingsClass #changeCredentials_id{
	@include changeCredentials_id;
}

.placeholdme_RoClass{
	@include placeholdme_RoClass;

}

.settingsSeconddiv_Class{
	@include settingsSeconddiv_Class;
}

.checkboxesNotification_Class{
	@include checkboxesNotification_Class;
}

.updateNotificationBtn_Class{
	@include updateNotificationBtn_Class;
}

.settingsPreferencesControl_Class{
	@include settingsPreferencesControl_Class;
}

.preferencesOptions_Class{
	@include preferencesOptions_Class;
}

.radioChoicesTitle{
	@include radioChoicesTitle;
}

.notificationTitle_class{
	@include notificationTitle_class;
}

/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Section Comment Name*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){

.normButton_RoClass{
		--normBtnWidth: 100px;
		--normBtnFSize: 60%;
}

.setting_Title_Class{
	@include mobile_setting_Title_Class;
}

#picAndbuttonwrap_id #imgWrapper_id{
	@include mobile_imgWrapper_id;

}

#imgWrapper_id #profilePic-id{
	@include mobile_profilePic-id;
}

.nameAndTitle-Wrap #nameDisplay-id{
	@include mobile_nameDisplay-id;

}

#changeNameimgWrapper_id{
	@include mobile_changeNameimgWrapper_id;
}

#changePositionDisplay_id .selectDropdownWrap_RoClass{
	@include mobile_selectDropdownWrap_RoClass;

} 

.selectDropdownWrap_RoClass .displayedSelectedText_RoClass{
	@include mobile_displayedSelectedText_RoClass;

}

.changeCredentialsWrap_class{
	@include mobile_changeCredentialsWrap_class;
}

.changeCredentialsWrap_class .inputBoxesWrap_class{
	@include inputBoxesWrap_class;

}

.SettingsClass .cusInputs_RoClass{
	@include mobile_cusInputs_RoClass;
}

}

/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	

.normButton_RoClass{
		--normBtnWidth: 140px;
		--normBtnFSize: 85%;
}

.setting_Title_Class{
	@include mobile_setting_Title_Class;
}

.nameAndTitle-Wrap #nameDisplay-id{
	@include mobile_nameDisplay-id;

}

#changePositionDisplay_id .selectDropdownWrap_RoClass{
	@include mobile_selectDropdownWrap_RoClass;

} 

}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){

.normButton_RoClass{
		--normBtnWidth: 150px;
		--normBtnFSize: 90%;
}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){

	.normButton_RoClass{
		--normBtnWidth: 160px;
		--normBtnFSize: 95%;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Section Comment Name*/
/***********************************************************************************************************************************************************************************************************/