/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rostrap Global";
@import "../../Global Style/Global Style";
@import "./Mixin Setting Page";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/************************************************************************************************************/
/*Global Codes*/

/*General*/
body {
	@include global_BodyWithTopMargin;
	@include global_BodyWithTopHeight;
}
/*General*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Other Media Queries*/
@media (max-width:1080px) {
	body {
		@include global_BodyWithTopHeight_OMQ;
	}
}
/*Other Media Queries*/

/*Global Codes*/
/************************************************************************************************************/


/************************************************************************************************************/
.projTitleAndUserLogin_RoClass{
	@include projTitleAndUserLogin_RoClass;
}

.setting_Title_Class{
	@include setting_Title_Class;
}

.userLogin_RoClass .userLoginDetails_RoClass{
	@include userLoginDetails_RoClass;
}

.mainmechaCon_RoClass{
	@include mainmechaCon_RoClass;
}

.mainmechaCon_RoClass .SettingsClass{
	@include SettingsClass;
}

.SettingsClass #SettingsTitle_id{
	@include SettingsTitle_id;
}

.passwordAndCheckPasswordWrap_Class{
	@include passwordAndCheckPasswordWrap_Class;
}

.passwordAndCheckPasswordWrap_Class .checkPasswordBtn_Class{
	@include checkPasswordBtn_Class;

}
.checkPasswordBtn_Class .iconBtn_RoClass{
	@include iconBtn_RoClass;
}

#profilePic-Wrap{
	@include profilePic-Wrap;
}

#profilePic-Wrap #profilePic-id{
	@include profilePic-id;
}

#picAndbuttonwrap_id{
	@include picAndbuttonwrap_id;
}

#picAndbuttonwrap_id #imgWrapper_id{
	@include imgWrapper_id;
}

#imgWrapper_id #profilePic-id{
	@include profilePic-id;
}

#picAndbuttonwrap_id .nameAndTitle-Wrap{
	@include nameAndTitle-Wrap;

}

.nameAndTitle-Wrap #nameDisplay-id{
	@include nameDisplay-id;
}

.nameEditWrap_class{
	@include nameEditWrap_class;
}

#changeNameimgWrapper_id{
	@include changeNameimgWrapper_id;
}

#changeNamePic-id:hover{
	@include changeNamePic-id;
}

.nameAndTitle-Wrap #changePositionDisplay_id{
	@include changePositionDisplay_id;
}

#changePositionDisplay_id .selectDropdownWrap_RoClass{
	@include selectDropdownWrap_RoClass;
} 

.selectDropdownOptionsWrap_RoClass{
	@include selectDropdownOptionsWrap_RoClass;
}

.selectDropdownWrap_RoClass .displayedSelectedText_RoClass{
	@include displayedSelectedText_RoClass;
}

.nameAndTitle-Wrap #positionDisplay-id{
	@include positionDisplay-id;
}

#changeProfilePicBtn_id{
	@include changeProfilePicBtn_id;
}

.normButton_RoClass{
	@include normButton_RoClass;
}

.normButton_RoClass:hover{
	@include normButton_RoClass-hover;
}

.normButton_RoClass:active{
	@include normButton_RoClass-active;
}

.SettingsClass .cusInputs_RoClass{
	@include cusInputs_RoClass;
}

.changeCredentialsWrap_class{
	@include changeCredentialsWrap_class;
}

.SettingsClass #changeCredentials_id{
	@include changeCredentials_id;
}

.placeholdme_RoClass{
	@include placeholdme_RoClass;
}

.settingsSeconddiv_Class{
	@include settingsSeconddiv_Class;
}

.checkboxesNotification_Class{
	@include checkboxesNotification_Class;
}

.updateNotificationBtn_Class{
	@include updateNotificationBtn_Class;
}

.settingsPreferencesControl_Class{
	@include settingsPreferencesControl_Class;
}

.preferencesOptions_Class{
	@include preferencesOptions_Class;
}

.radioChoicesTitle{
	@include radioChoicesTitle;
}

.notificationTitle_class{
	@include notificationTitle_class;
}

/************************************************************************************************************/


/************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.normButton_RoClass{
		--normBtnWidth: 100px;
		--normBtnFSize: 60%;
	}

	.setting_Title_Class{
		@include mobile_setting_Title_Class;
	}

	#picAndbuttonwrap_id #imgWrapper_id{
		@include mobile_imgWrapper_id;
	}

	#imgWrapper_id #profilePic-id{
		@include mobile_profilePic-id;
	}

	.nameAndTitle-Wrap #nameDisplay-id{
		@include mobile_nameDisplay-id;
	}

	#changeNameimgWrapper_id{
		@include mobile_changeNameimgWrapper_id;
	}

	#changePositionDisplay_id .selectDropdownWrap_RoClass{
		@include mobile_selectDropdownWrap_RoClass;
	} 

	.selectDropdownWrap_RoClass .displayedSelectedText_RoClass{
		@include mobile_displayedSelectedText_RoClass;
	}

	.changeCredentialsWrap_class{
		@include mobile_changeCredentialsWrap_class;
	}

	.changeCredentialsWrap_class .inputBoxesWrap_class{
		@include inputBoxesWrap_class;
	}

	.SettingsClass .cusInputs_RoClass{
		@include mobile_cusInputs_RoClass;
	}

}
/*Mobile*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.normButton_RoClass{
		--normBtnWidth: 140px;
		--normBtnFSize: 85%;
	}

	.setting_Title_Class{
		@include mobile_setting_Title_Class;
	}

	.nameAndTitle-Wrap #nameDisplay-id{
		@include mobile_nameDisplay-id;
	}

	#changePositionDisplay_id .selectDropdownWrap_RoClass{
		@include mobile_selectDropdownWrap_RoClass;
	}

}
/*Tablet*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.normButton_RoClass{
		--normBtnWidth: 150px;
		--normBtnFSize: 90%;
	}
}
/*Laptop*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.normButton_RoClass{
		--normBtnWidth: 160px;
		--normBtnFSize: 95%;
	}
}
/*Desktop*/
/************************************************************************************************************/
