/************************************************************************************************************/
/*Root*/
:root{
/*Textbox Input*/	
--customInputColor: black;
--customInputFSize: 20px;
--customInputAnimFSize: 10px;
/*Textbox Input*/	


/*Dropdown*/	
--selectDropdownWidth: auto; 		
--selectDropdownBorderWidth: 1px;
--selectDropdownBorderColor: black;
--selectDropdownBorderRadius: 50px;
--selectDropdownBgColor: transparent;		
--selectDropdownIconSize: 14px;
--selectDropdownFSize: 20px;
--selectDropdownFColor: black;
--selectDropdownChevronSize: 20px;
--searchOptsBgColor: white;
--searchOptsFColor: black;
--hoverOptBgColor: gray;
--hoverOptFColor: white;
--selectDropdownScrollSize: 10px;
--optWrapThumbBgColor: blue;		
--selectDropdownResetBtnSize: 20px;
/*Dropdown*/

/*Submit Button*/
--normBtnWidth: 200px;
--normBtnPadding: 10px;
--normBtnBorderWidth: 1px;
--normBtnBorderColor: rgb(0, 151, 173);
--normBtnRadius: 50px;
--normBtnFWeight: 500;
--normBtnFSize: 20px;
--normBtnBgColor:#FCC64F;
--normBtnFcolor: white;
--normBtnHovActFColor: white;
--normBtnHovActBgColor: #FCC64F;
/*Submit Button*/
}
/*Root*/
/************************************************************************************************************/
/*General*/
/***********************************************************************************************************************************************************************************************************/
/*General*/
@mixin body {
	height: 100%;
	margin: 0;
	background-image:url("../../src/bg2.png");
	background-size:cover;
}

@mixin asterisk {
	box-sizing: border-box;
	font-family: 'Binance PLEX';
}

@mixin formTitle_class{
	font-size:50px;
	text-align: center;
	margin:20px;
	font-weight:500;
}

@mixin formBody_class{
	width:50%;
	background-color:rgba(170, 209, 231, 0.6);
	border:2px solid rgb(170, 209, 231);
	box-shadow:rgba(0, 0, 0, 0.35) 0px 15px 15px;
	border-radius:9px;
	margin-left:auto;
	margin-right:auto;
}

@mixin cusInputs_RoClass{
	margin:10px;
	border-radius: 50px;
}

@mixin selectDropdownWrap_RoClass{
	margin:10px;
	z-index:1;
}

@mixin suffixDropdown_id{
	z-index:3;
}

@mixin AreaDropdown_id{
	z-index:2;
}

@mixin searchOpts_RoClass{
	z-index:1;
}

@mixin selectDropdownOptionsWrap_RoClass{
	z-index:1;
}

@mixin selectDropdownOptsArea_RoClass{
	border:1px solid black;
	background-color:rgb(170, 209, 231);
}

@mixin normButton_RoClass{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	box-shadow:rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

@mixin normButton_RoClasshover{
	opacity:0.8;
}