/************************************************************************************************************/
/*Root*/
:root{
/*Textbox Input*/	
--customInputColor: rgb(255, 255, 247);
--customInputFSize: 20px;
--customInputAnimFSize: 10px;
/*Textbox Input*/	


/*Dropdown*/	
--selectDropdownWidth: auto; 		
--selectDropdownBorderWidth: 1px;
--selectDropdownBorderColor: rgb(255, 255, 247);
--selectDropdownBorderRadius: 50px;
--selectDropdownBgColor: transparent;		
--selectDropdownIconSize: 10px;
--selectDropdownFSize: 20px;
--selectDropdownFColor: rgb(255, 255, 247);
--selectDropdownChevronSize: 20px;
--searchOptsBgColor: white;
--searchOptsFColor: black;
--hoverOptBgColor: gray;
--hoverOptFColor: white;
--selectDropdownScrollSize: 10px;
--optWrapThumbBgColor: blue;		
--selectDropdownResetBtnSize: 20px;
/*Dropdown*/

/*Submit Button*/
--normBtnWidth: 200px;
--normBtnPadding: 10px;
--normBtnBorderWidth: 1px;
--normBtnBorderColor: rgb(0, 151, 173);
--normBtnRadius: 50px;
--normBtnFWeight: 500;
--normBtnFSize: 20px;
--normBtnBgColor:#FCC64F;
--normBtnFcolor: white;
--normBtnHovActFColor: white;
--normBtnHovActBgColor: #FCC64F;
/*Submit Button*/

/*Footer*/
--footerBgColor: #39AB5B;
--footerFSize: 15px;
--footerFColor: white;
/*Footer*/

}
/*Root*/
/************************************************************************************************************/
/*General*/
/***********************************************************************************************************************************************************************************************************/
/*General*/
@mixin body{
	margin: 0;
	background-image:url("../../src/bg2.png");
	background-position:center center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

@mixin asterisk {
	box-sizing: border-box;
	font-family: 'Binance PLEX';
}

@mixin TitleandFormWrap_class{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-top:auto;
	margin-bottom:auto;
}

@mixin formTitle_class{
	font-size:30px;
	text-align: center;
	margin:10px;
	font-weight:500;
}

@mixin formBody_class{
	padding-top:10px;
	width:50%;
	border-radius:9px;
	margin-left:auto;
	margin-right:auto;
	border:2px solid #39AB5B;
	box-shadow:rgba(0, 0, 0, 0.35) 0px 15px 15px;
	box-shadow: 0 0 10px #39AB5B, 0 0 20px #39AB5B, 0 0 30px #39AB5B;
}

@mixin formBody_class_mobile{
	padding-top:10px;
	width:99%;
	border-radius:9px;
	margin-left:auto;
	margin-right:auto;
	box-shadow:none;
	box-shadow:none;
	border:0px;
}

@mixin cusInputs_RoClass{
	margin:10px;
	background-color:rgba(77, 81, 69, 0.4)/*transparent*/;	
	border-radius: 50px !important;
	display:flex;
	flex-direction:row;
}

@mixin cusInputs_RoClass_mobile{
	--customInputFSize: 10px;
	--customInputAnimFSize: 5px;

}

@mixin placeholdme_RoClass{
	display:flex !important;
	flex-direction:row !important;
	margin-left:10px !important;
}

@mixin textBoxImgWrap_class{
	width:10px;
	height:10px;
	margin-right:5px;
}

@mixin textBoxImg_class{
	width:100%;
	object-fit:contain;
}

@mixin selectDropdownWrap_RoClass{
	margin:10px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:rgba(77, 81, 69, 0.4)/*transparent*/;	
	z-index:1;
	padding-left:10px !important;
}

@mixin selectDropdownWrap_RoClass_mobile{
	--selectDropdownFSize: 10px;
}

@mixin suffixDropdown_id{
	z-index:3;
}

@mixin AreaDropdown_id{
	z-index:2;
}

@mixin searchOpts_RoClass{
	z-index:1;
}

@mixin selectDropdownOptionsWrap_RoClass{
	z-index:1;
}

@mixin selectDropdownOptsArea_RoClass{
	border:1px solid black;
	background-color:rgb(170, 209, 231);
}

@mixin togglePasswordBtn1{
	--iconBtnWidth: 40px;		
	--iconBtnHeight: 30px;
	--iconBtnBgColor: 0;
	--iconBtnBgSize: 20px;
	--iconBtnBorderWidth: 0;
	--iconBtnBorderColor: transparent;
	--iconBtnBorderRadius: 0;
}

@mixin normButton_RoClass{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	box-shadow:rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

@mixin normButton_RoClasshover{
	opacity:0.8;
}

@mixin alreadyHaveAccount_class{
	text-align: center;
	margin-bottom:20px;
	color: yellow;
}

@mixin linkToLogin{
	color: yellow !important;		
}
