/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
/*Textbox Input*/	
--customInputColor: rgb(255, 255, 247);
/*Textbox Input*/	


/*Dropdown*/	
/*
--selectDropdownWidth: auto;
--selectDropdownBorderWidth: 1px;
--selectDropdownBorderColor: #ffffff;
--selectDropdownBgColor: transparent;	
--selectDropdownIconSize: 9px;
--selectDropdownFSize: 20px;
--selectDropdownFColor: rgb(255, 255, 247);
--selectDropdownChevronSize: 20px;
--searchOptsBgColor: white;
--searchOptsFColor: black;
--hoverOptBgColor: gray;
--hoverOptFColor: white;
--selectDropdownScrollSize: 10px;
--optWrapThumbBgColor: blue;		
--selectDropdownResetBtnSize: 20px;
*/

/*Dropdown*/

/*Submit Button*/
--normBtnWidth: 200px;
--normBtnPadding: 10px;
--normBtnBorderWidth: 1px;
--normBtnBorderColor:0;
--normBtnRadius: 50px;
--normBtnFWeight: 500;
--normBtnFSize: 20px;
--normBtnBgColor:#FCC64F;
--normBtnFcolor: white;
--normBtnHovActFColor: white;
--normBtnHovActBgColor: #FCC64F;
/*Submit Button*/

/*Footer*/
--footerBgColor: #39AB5B;
--footerFSize: 15px;
--footerFColor: white;
/*Footer*/

}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*General*/
@mixin body{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: auto;
	background-image:url("../../src/bg2.png");
	background-position:center center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;	
}

@mixin asterisk {	
	box-sizing: border-box;
	font-family: 'Binance PLEX' !important;
}

/*
@mixin formBody_class_mobile{
	padding-top:10px;
	width:400px;
	border-radius:9px;
	margin-left:auto;
	margin-right:auto;
	box-shadow:none;
	box-shadow:none;
	border:0px;
}


@mixin selectDropdownWrap_RoClass_mobile{
	--selectDropdownFSize: 10px;
}

@mixin suffixDropdown_id{
	z-index:3;
}

@mixin areaDropdown_id{
	z-index:2;
}

@mixin searchOpts_RoClass{
	z-index:1;
}

@mixin selectDropdownOptionsWrap_RoClass{
	z-index:1;
	width:555px !important;
}

@mixin selectDropdownOptionsWrap_RoClass_mobile{
	z-index:1;
	width:350px !important;
}

@mixin selectDropdownOptsArea_RoClass{
	border:1px solid black;
	background-color:rgb(170, 209, 231);
}
*/

@mixin togglePasswordBtn1{
	--iconBtnWidth: 40px;		
	--iconBtnHeight: 30px;
	--iconBtnBgColor: 0;
	--iconBtnBgSize: 20px;
	--iconBtnBorderWidth: 0;
	--iconBtnBorderColor: transparent;
	--iconBtnBorderRadius: 0;
}

@mixin normButton_RoClass{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	box-shadow:rgba(0, 0, 0, 0.35) 0px 15px 15px;
}

@mixin normButton_RoClasshover{
	opacity:0.8;
}

@mixin alreadyHaveAccount_class{
	text-align: center;
	margin-bottom:20px;
	color: yellow;
}

@mixin linkToLogin{
	color: yellow !important;		
}


/*_Form General*/
@mixin formTitle_class{
	font-size: 22px;
	font-family: Helvetica;
	color:black;		
	text-align: center;
	margin:10px;
	font-weight:bold;
	white-space: normal;
}

@mixin formBody_General_Style{
	position: absolute;
	border-radius:9px;
	padding: 7px;	
	height: fit-content;
}
/*_Form General*/


/*_Input fields General*/
@mixin inputFieldsWrapMargin_General_Style{		
	margin:10px;	
}

@mixin inputFieldsWrapRadius_General_Style{		
	border-radius: 50px !important;
}

@mixin inputFieldsBgcolor_General_Style{		
	background-color: #434C49; /*rgba(77, 81, 69, 0.6)*//*transparent*/;	
	opacity: 0.8;
	padding-left: 10px !important;
}
/*_Input fields General*/


/*_cusInputs_RoClass General*/
@mixin cusInputs_General_Style{
	display:flex;
	flex-direction:row;		
}
/*_cusInputs_RoClass General*/


/*_Input text General*/
@mixin textBoxImgWrap_General_Style{
	transition: width 0.1s linear 0s, height 0.1s linear 0s;
	margin-right: 4px;
}

@mixin textBoxImg_General_Style{
	position: relative;
	display: block;
	box-sizing: border-box;	
	width:100%;
	height: 100%;	
}

@mixin placeholdme_General_Style{
	display:flex !important;
	flex-direction:row !important;
	flex-wrap: nowrap;
	align-items: center;
}
/*_Input text General*/


/*_Input password General*/
@mixin checkPasswordBtn_General_Style{
	position: absolute; 
	right: 5px; 
	top: 50%;
  	transform: translateY(-50%);
}
/*_Input password General*/


/*_Select dropdown General*/
/*_ _Mixin for selectDropdownWrap_RoClass*/
@mixin selectDropdownWrap_General_Style{
	 --selectDropdownWidth: auto;
	 --selectDropdownBorderWidth: 1px;
	 /*--selectDropdownBorderRadius: value;*/
}
/*_ _Mixin for selectDropdownWrap_RoClass*/


/*_ _Mixin for selectDropdownWrap_RoClass, searchOpts_RoClass*/
@mixin selectDropdownBorderColor_General_Style{
	--selectDropdownBorderColor:  #ffffff;	
}
/*_ _Mixin for selectDropdownWrap_RoClass, searchOpts_RoClass*/


/*_ _Mixin for displayedSelectedFlex_RoClass*/
@mixin displayedSelectedFlex_General_Style{
	--selectDropdownBgColor: #434C49;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
/*_ _Mixin for displayedSelectedFlex_RoClass*/


/*_ _Mixin for displayedSelectedText_RoClass, optText_RoClass*/
@mixin selectDropdownFColor_General_Style{
	--selectDropdownFColor: #ffffff;
}
/*_ _Mixin for displayedSelectedText_RoClass, optText_RoClass*/


/*_ _Mixin for searchOpts_RoClass*/
@mixin searchOpts_General_Style{
	--searchOptsBgColor: transparent;
	--searchOptsFColor: #ffffff;
}
/*_ _Mixin for searchOpts_RoClass*/


/*_ _Mixin for selectDropdownOpt_RoClass*/
@mixin selectDropdownOpt_General_Style{
	--hoverOptBgColor: #39AB5B;
	--hoverOptFColor: #ffffff;
}
/*_ _Mixin for selectDropdownOpt_RoClass*/


/*_ _Mixin for selectDropdownOptionsWrap_RoClass*/
@mixin selectDropdownOptionsWrap_General_Style{
	--selectDropdownScrollSize: 7px;
	--optWrapThumbBgColor: #FCC64F;
	--selectDropdownBgColor: #434C49;
}
/*_ _Mixin for selectDropdownOptionsWrap_RoClass*/
/*_Select dropdown General*/

/*General*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Form*/
@mixin formBody_Mobile_Style{
	width: 100%; /*To be changed*/
	border:none; /*To be changed*/
	box-shadow:none; /*To be changed*/
	box-shadow:none; /*To be changed*/	
}
@mixin formBody_Tablet_Style{
	width: 100%; /*To be changed*/
	border:none; /*To be changed*/
	box-shadow:none; /*To be changed*/
	box-shadow:none; /*To be changed*/
	border:none; /*To be changed*/
}
@mixin formBody_Laptop_Style{
	width: 450px; /*changed*/
	border:2px solid gray; /*changed*/
	box-shadow:rgba(0, 0, 0, 0.35) 0px 15px 15px; /*changed*/
	box-shadow: 0 0 5px gray, 0 0 10px gray, 0 0 15px gray; /*changed*/
}
@mixin formBody_Desktop_Style{
	width: 500px; /*changed*/
	border:2px solid gray; /*changed*/
	box-shadow:rgba(0, 0, 0, 0.35) 0px 15px 15px; /*changed*/
	box-shadow: 0 0 5px gray, 0 0 10px gray, 0 0 15px gray; /*changed*/
}

@mixin formBody_LimitedHeight_Style{
	top: auto; /*To be changed*/
	left: 50%; /*To be changed*/
	transform: translate(-50%, 0); /*To be changed*/
}
@mixin formBody_StandardHeight_Style{
	top: 50%; /*changed*/
	left: 50%; /*changed*/
	transform: translate(-50%, -50%); /*changed*/
}
/*Form*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Input text*/

@mixin textBoxImgWrap_Mobile_Style{	
	width: 14px; /*To be changed*/
	height: 14px; /*To be changed*/
}
@mixin textBoxImgWrap_Tablet_Style{	
	width: 15px; /*changed*/
	height: 15px; /*changed*/	
}
@mixin textBoxImgWrap_Laptop_Style{	
	width: 17px; /*changed*/
	height: 17px; /*changed*/	
}
@mixin textBoxImgWrap_Desktop_Style{	
	width: 18px; /*changed*/
	height: 18px; /*changed*/
}

@mixin textBoxImgWrapAnimate_Mobile_Style{	
	width: 10px; /*To be changed*/
	height: 10px; /*To be changed*/	
}
@mixin textBoxImgWrapAnimate_Tablet_Style{	
	width: 11px; /*changed*/
	height: 11px; /*changed*/	
}
@mixin textBoxImgWrapAnimate_Laptop_Style{	
	width: 13px; /*changed*/
	height: 13px; /*changed*/	
}
@mixin textBoxImgWrapAnimate_Desktop_Style{	
	width: 14px; /*changed*/
	height: 14px; /*changed*/	
}

@mixin placeholdme_Mobile_Style{
	--customInputAnimFSize: 10px; /*To be changed*/
}
@mixin placeholdme_Tablet_Style{
	--customInputAnimFSize: 11px; /*changed*/
}
@mixin placeholdme_Laptop_Style{
	--customInputAnimFSize: 13px; /*changed*/
}
@mixin placeholdme_Desktop_Style{
	--customInputAnimFSize: 14px; /*changed*/
}

@mixin cusInputField_Mobile_Style{
	--customInputFSize: 14px; /*To be changed*/	
}
@mixin cusInputField_Tablet_Style{
	--customInputFSize: 15px; /*changed*/
}
@mixin cusInputField_Laptop_Style{
	--customInputFSize: 17px; /*changed*/ 
}
@mixin cusInputField_Desktop_Style{
	--customInputFSize: 18px; /*changed*/	
}
/*Input text*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Select Dropdown*/
/*_Mixin for displayedSelectedIcon_RoClass, optIcon_RoClass*/
@mixin selectDropdownIconSize_Mobile_Style{
	--selectDropdownIconSize: 14px; /*To be changed*/
}
@mixin selectDropdownIconSize_Tablet_Style{
	--selectDropdownIconSize: 15px; /*changed*/
}
@mixin selectDropdownIconSize_Laptop_Style{
	--selectDropdownIconSize: 17px; /*changed*/
}
@mixin selectDropdownIconSize_Desktop_Style{
	--selectDropdownIconSize: 18px; /*changed*/
}
/*_Mixin for displayedSelectedIcon_RoClass, optIcon_RoClass*/


/*_Mixin for displayedSelectedText_RoClass, optText_RoClass, searchOpts_RoClass*/
@mixin selectDropdownFSize_Mobile_Style{
	--selectDropdownFSize: 14px; /*To be changed*/
}
@mixin selectDropdownFSize_Tablet_Style{
	--selectDropdownFSize: 15px; /*changed*/
}
@mixin selectDropdownFSize_Laptop_Style{
	--selectDropdownFSize: 17px; /*changed*/
}
@mixin selectDropdownFSize_Desktop_Style{
	--selectDropdownFSize: 18px; /*changed*/
}
/*_Mixin for displayedSelectedText_RoClass, optText_RoClass, searchOpts_RoClass*/


/*_Mixin for displayedSelectedChevron_RoClass*/
@mixin selectDropdownChevronSize_Mobile_Style{
	--selectDropdownChevronSize: 14px; /*To be changed*/
}
@mixin selectDropdownChevronSize_Tablet_Style{
	--selectDropdownChevronSize: 15px; /*changed*/
}
@mixin selectDropdownChevronSize_Laptop_Style{
	--selectDropdownChevronSize: 17px; /*changed*/
}
@mixin selectDropdownChevronSize_Desktop_Style{
	--selectDropdownChevronSize: 18px; /*changed*/
}
/*_Mixin for displayedSelectedChevron_RoClass*/


/*_Mixin for displayedSelectedResetBtn_RoClass*/
@mixin selectDropdownResetBtnSize_Mobile_Style{
	--selectDropdownResetBtnSize: 14px; /*To be changed*/
}
@mixin selectDropdownResetBtnSize_Tablet_Style{
	--selectDropdownResetBtnSize: 15px; /*changed*/
}
@mixin selectDropdownResetBtnSize_Laptop_Style{
	--selectDropdownResetBtnSize: 17px; /*changed*/
}
@mixin selectDropdownResetBtnSize_Desktop_Style{
	--selectDropdownResetBtnSize: 18px; /*changed*/
}
/*_Mixin for displayedSelectedResetBtn_RoClass*/
/*Select Dropdown*/
/***********************************************************************************************************************************************************************************************************/