/***********************************************************************************************************************************************************************************************************/
/*For Body Section*/
@mixin submitLandingBody_MT_Style{
	background-color: #ffffff;
}

@mixin submitLandingBody_LD_Style{
	background-color: #EEEEEE;
}
/*End For Body Section*/
/***********************************************************************************************************************************************************************************************************/







/***********************************************************************************************************************************************************************************************************/
/*For Landing page content Section*/
@mixin mainContainer_MT_Style{
	position: absolute;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
	width: 100%; /*To be changed*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: none; /*To be changed*/
	box-shadow: none; /*To be changed*/
	padding: 30px;
	background-color: transparent; /*To be changed*/
}

@mixin mainContainer_Laptop_Style{
	position: absolute;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
	width: 400px; /*changed*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 7px; /*changed*/
	box-shadow: 0px 0px 3px gray; /*changed*/
	padding: 30px;
	background-color: #ffffff; /*changed*/
}

@mixin mainContainer_Desktop_Style{
	position: absolute;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
	width: 450px; /*changed*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 7px; /*changed*/
	box-shadow: 0px 0px 3px gray; /*changed*/
	padding: 30px;
	background-color: #ffffff; /*changed*/
}









@mixin iconContainer_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
}









@mixin iconWrapper_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
	width: 95px; /*To be changed*/
	height: 95px; /*To be changed*/
	margin: auto;
}

@mixin iconWrapper_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
	width: 100px; /*changed*/
	height: 100px; /*changed*/
	margin: auto;
}

@mixin iconWrapper_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
	width: 115px; /*changed*/
	height: 115px; /*changed*/
	margin: auto;
}









@mixin messageTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	font: normal bold 18px calibri; /*To be changed*/
	color: #4860A6;
	margin-top: 8px; /*To be changed*/
	text-align: center; /*To be changed*/
}

@mixin messageTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	font: normal bold 24px calibri; /*changed*/
	color: #4860A6;
	margin-top: 30px; /*changed*/
	text-align: left; /*changed*/
}

@mixin messageTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	font: normal bold 28px calibri; /*changed*/
	color: #4860A6;
	margin-top: 30px; /*changed*/
	text-align: left; /*changed*/
}









@mixin systemMessageTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	font: normal bold 14px calibri; /*To be changed*/
	color: #9E9E9E;
	margin-top: 8px;
	text-align: center; /*To be changed*/
}

@mixin systemMessageTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	font: normal normal 18px calibri; /*changed*/
	color: #9E9E9E;
	margin-top: 8px;
	text-align: left; /*changed*/
}

@mixin systemMessageTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	font: normal normal 22px calibri; /*changed*/
	color: #9E9E9E;
	margin-top: 8px;
	text-align: left; /*changed*/
}









@mixin buttonWrapper_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: nowrap;
	margin-top: 30px;
}









@mixin returnBtnLink_MT_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid transparent;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	max-width: 190px; /*To be changed*/
	background-color: #02A696;
	border-radius: 30px;
	padding: 5px;
	text-decoration: none;
	margin: auto; /*To be changed*/
	text-align: center;
}

@mixin returnBtnLink_Laptop_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid transparent;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	max-width: 225px; /*changed*/
	background-color: #02A696;
	border-radius: 30px;
	padding: 5px;
	text-decoration: none;
	margin: 0px; /*changed*/
	text-align: center;
}

@mixin returnBtnLink_Desktop_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid transparent;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	max-width: 230px; /*changed*/
	background-color: #02A696;
	border-radius: 30px;
	padding: 5px;
	text-decoration: none;
	margin: 0px; /*changed*/
	text-align: center;
}









@mixin returnBtnTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	width: 100%;		
	font: normal bold 12px calibri; /*To be changed*/
	color: #ffffff;
}

@mixin returnBtnTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	width: 100%;		
	font: normal bold 14px calibri; /*changed*/
	color: #ffffff;
}

@mixin returnBtnTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;
	white-space: normal;
	width: 100%;		
	font: normal bold 16px calibri; /*changed*/
	color: #ffffff;
}









@mixin returnBtnImage_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;		
	flex-shrink: 0;
	width: 30px; /*To be changed*/
	height: 30px; /*To be changed*/
}

@mixin returnBtnImage_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;		
	flex-shrink: 0;
	width: 32px; /*changed*/
	height: 32px; /*changed*/
}

@mixin returnBtnImage_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	border: 1px solid transparent;		
	flex-shrink: 0;
	width: 34px; /*changed*/
	height: 34px; /*changed*/
}
/*End For Landing page content Section*/
/***********************************************************************************************************************************************************************************************************/