/*************************************************************************************/
/*Root*/
@mixin project-title {
	--projectTitleTextFSize: 14px;
	--projectTitleTextFColor: #FFFFFF;
}

/*Dark Mode (Default Style)*/
@mixin dark-mode {
	--bg-color-4: #242526;
	--bg-color-10: #303031;
	--bg-color-11: #5D5E61;
	--text-color-1: #FFFFFF;
	--text-color-3: #CDD1D5;
	--text-color-4: #ADB1B3;
	--border-color-2: #121413;
	--border-color-3: #3E3F40; // unused
	--border-color-4: #444749;
	--border-color-5: #353637;
}
/*Dark Mode (Default Style)*/

/*Root*/
/*************************************************************************************/
/*General*/
@mixin light-mode {
	--bg-color-4: #FFFFFF;
	--bg-color-10: #E4E6E8;
	--bg-color-11: #FFFFFF;
	--text-color-1: #000000;
	--text-color-3: #5F6266;
	--text-color-4: #6E6F72;
	--border-color-2: #E2E4E7;
	--border-color-3: #F0F2F5; // unused
	--border-color-4: #CED0D4;
	--border-color-5: #E4E4E4;
}

@mixin img-video {
	width: 100%;
	height: 100%;
	display: block;
}

/*Mid Section Start*/
@mixin rolayout_RoId {
	display: flex;
	justify-content: space-between;
}

/*Mid Content*/
@mixin mainmecha_RoClass {
	display: flex;
	justify-content: center;
	position: absolute;
	height: 100%;
}

@mixin mainmechaCon_RoId {
	max-width: 600px;
}

@mixin projectTitle_RoId {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10px;
	white-space: nowrap;
	background-color: #096B6C;
	border: 1px solid var(--border-color-2);
}

@mixin post-form {
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	color: var(--text-color-1);
	background-color: var(--bg-color-2);
	border: 1px solid var(--border-color-2);
}

@mixin post-category-label {
	margin: 5px 5px 10px 0px;
	display: inline-block;
}

@mixin post-category {
	border: none;
	outline: 2px solid #808080;
	border-radius: 5px;
	padding: 3px;
	cursor: pointer;
}

@mixin post-category-hover {
	opacity: .7;
}

@mixin post-title-1 {
	display: block;
	margin: 10px 0px 3px 0px;
	font-size: 16px;
}

@mixin post-title-id {
	width: 100%;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
	font-size: 16px;
}

@mixin textarea-container {
	padding: 7px 5px 7px 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin post-content-id {
	width: 100%;
	min-height: 50px;
	max-height: 300px;
	resize: none;
	background-color: transparent;
	display: block;
}

@mixin post-content-id-hover-webkit {
	visibility: visible;
}

@mixin custom-file-upload {
	padding: 7px;
	display: flex;
	justify-content: center;
	width: 240px;
	white-space: nowrap;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 14px;
	background-color: #8ED770;
	color: #808080;
	cursor: pointer;
}

@mixin custom-file-upload-hover {
	opacity: .7;
}

@mixin file-preview-container {
	border: 1px solid var(--border-color-4);
	margin-top: 10px;
	border-radius: 10px;
	position: relative;
}

@mixin file-preview-element {
	border-radius: 10px;
	margin: 8px;
	width: calc(100% - 16px);
}

@mixin remove-file-button {
	border: 1px solid #202224;
	position: absolute;
	top: 18px;
	right: 15px;
	background-color: #3E4042;
	color: #C0C3C7;
	height: 30px;
	width: 30px;
	font-size: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	line-height: 22px;
	cursor: pointer;
}

@mixin remove-file-button-hover {
	opacity: .8;
}

@mixin create-post-button {
	margin-top: 10px;
	border: none;
	padding: 7px 15px;
	border-radius: 3px;
	display: block;
	background-color: #2176FF;
	color: #FFFFFF;
	cursor: pointer;
}

@mixin create-post-button-hover {
	opacity: .7;
}

@mixin create-post-button-active {
	opacity: .5;
}

@mixin posts {
	color: var(--text-color-1);
	margin-top: 10px;
	font-size: 14px;
}

@mixin recent-posts {
	font-weight: bold;
	display: flex;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
	background-color: #3C746B;
	border: 1px solid var(--border-color-2);
	color: #FFFFFF;
	font-size: 14px;
}

@mixin post-list {
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-2);
	border: 1px solid var(--border-color-2);
}

@mixin posts-buttons {
	cursor: pointer;
	border-radius: 3px;
	border: none;
	padding: 2px 8px;
	background-color: var(--bg-color-3);
	color: var(--text-color-1);
}

@mixin posts-buttons-hover {
	opacity: .7;
}

@mixin posts-buttons-active {
	opacity: .5;
}

@mixin post-title-2 {
	margin-bottom: 7px;
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin post-content {
	width: 100%;
	white-space: normal;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin post-actions {
	display: flex;
	align-items: center;
	gap: 6px;
}

@mixin date-posted {
	font-size: 12px;
	padding-block: 5px;
	white-space: normal;
	color: var(--text-color-4);
}

@mixin comment {
	border-left: 1px solid var(--border-color-4);
	padding-left: 5px;
}

@mixin post-comment {
	white-space: normal;
	padding: 10px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin comment-like-count {
	margin-right: 10px;
}

@mixin comment-input {
	width: 100%;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
	resize: none;
}
/*Mid Content*/

/*Right Content*/
@mixin right-side-container {
	width: 300px;
	overflow: auto;
	z-index: 1;
	margin-right: 22px;
	color: #FFFFFF;
	direction: rtl;
}

@mixin right-side-container-hover-webkit {
	visibility: visible;
}

@mixin side-content-wrapper {
	height: 580px;
	border-radius: 10px;
	padding-inline: 20px;
	border: 1px solid var(--border-color-2);
	background-color: var(--bg-color-4);
	overflow-y: auto;
	overflow-x: hidden;
	direction: ltr;
	margin: 10px 0px 0px 10px;
	color: var(--text-color-1);
}

/*Right Content*/
/*Mid Section End*/
/*General*/
/*************************************************************************************/
/*************************************************************************************/
/*Other Media Queries*/
@mixin mainmechaCon_RoId_MQ {
	max-width: 450px;
}

@mixin right-side-container_MobTab {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--bg-color-1);
}
/*Other Media Queries*/
/*************************************************************************************/
/*************************************************************************************/
/*Mobile @media (max-width:641px)*/
@mixin mainmecha_RoId_Mobile {
	position: static;
}

@mixin mainmechaCon_RoId_Mobile {
	max-width: 100%;
}
/*Mobile @media (max-width:641px)*/
/*************************************************************************************/
/*************************************************************************************/
/*Tablet @media (min-width:642px) and (max-width:1080px)*/
@mixin mainmecha_RoId_Tablet {
	position: static;
}

@mixin mainmechaCon_RoId_Tablet {
	max-width: 100%;
}
/*Tablet @media (min-width:642px) and (max-width:1080px)*/
/*************************************************************************************/
/*************************************************************************************/
/*Laptop @media (min-width:1081px) and (max-width:1600px)*/
@mixin projectTitle_RoClass_Laptop {
	--projectTitleTextFSize: 16px;
}

@mixin recent-posts_Laptop {
	font-size: 16px
}
/*Laptop @media (min-width:1081px) and (max-width:1600px)*/
/*************************************************************************************/
/*************************************************************************************/
/*Desktop @media (min-width:1601px)*/
@mixin mainmechaCon_RoId_Desktop {
	max-width: 650px;
}

@mixin projectTitle_RoClass_Desktop {
	--projectTitleTextFSize: 18px;
}

@mixin recent-posts_Desktop {
	font-size: 18px
}
/*Desktop @media (min-width:1601px)*/
/*************************************************************************************/