/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rostrap Global";
@import "../../Rogrid/Styles/RoStrap_Mixin";
@import "../../Global Style/Global Style";
@import "./Mixin Posting Page";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/*Global Codes to Copy Start*/
/*Root Start*/
:root {
	/*Search Box*/
	@include global_top-searchbox;
	/*Search Box*/

	/*Side Apps Main Menu*/
	@include global_side-app-main;
	/*Side Apps Main Menu*/

	/*Side Apps Sub Menu*/
	@include global_side-app-sub;
	/*Side Apps Sub Menu*/

	/*Dark Mode (Default Style)*/
	@include global_dark-mode;
	/*Dark Mode (Default Style)*/
}
/*Root End*/

/*General Start*/
.light-mode {
	@include global_light-mode;
}

@font-face {
	@include global_font-face;
}

::-webkit-scrollbar {
	@include global_scrollbar;
}

::-webkit-scrollbar-thumb {
	@include global_scrollbar-thumb;
}

::-webkit-scrollbar-track {
	@include global_scrollbar-track;
}

* {
	@include global_asterisk;
}

body {
	@include global_body-bg;
}

input,
input:focus,
textarea,
textarea:focus {
	@include global_input-textarea-style;
}

img,
video {
	@include global_img-video;
}

/*Top Section Start*/
.top-section {
	@include global_top-section;
}

.top-section .top-left-menu {
	@include global_top-left-menu;
}

.top-left-menu .home-logo {
	@include global_home-logo;
}

.top-left-menu .home-logo:hover,
.top-right-menu .toggle-mode:hover,
.topMenus:hover,
.user-profile img:hover {
	@include global_hover-opacity;
}

.top-left-menu .home-logo:active,
.top-right-menu .toggle-mode:active,
.topMenus:active,
.user-profile img:active {
	@include global_active-opacity;
}

.top-left-menu .home-logo img {
	@include global_home-logo-img;
}

.top-left-menu #searchInput_RoId {
	@include global_searchInput_RoId;
}

#searchInput_RoId::placeholder {
	@include global_searchInput_RoId-placeholder;
}

.top-section .top-right-menu {
	@include global_top-right-menu;
}

.top-right-menu .toggle-mode {
	@include global_toggle-mode;
}

.topMenus {
	@include global_topMenus;
}

.gear-icon {
	@include global_gear-icon;
}

.top-right-menu .user-profile {
	@include global_user-profile;
}

.user-profile img {
	@include global_user-profile-img;
}
/*Top Section End*/

/*Mid Section Start*/
#rolayout_RoId {
	@include global_rolayout_RoId;
}

/*Left Content Start*/
.rolayout_RoClass #sidemecha_RoId {
	@include global_sidemecha_RoId;
}

#sidemecha_RoId::-webkit-scrollbar-thumb {
	@include global_sb-thumb-visibility;
}

#sidemecha_RoId:hover::-webkit-scrollbar-thumb {
	@include global_hover-sb-thumb-visibility;
}

.sidemechaCon_RoClass .company-logo {
	@include global_company-logo;
}

.sidemechaCon_RoClass .company-logo img {
	@include global_company-logo-img;
}

.sidemechaCon_RoClass .mainNavMenu_RoClass,
.sidemechaCon_RoClass .subNavMenu_RoClass {
	@include global_mainNavMenu_RoClass;
}

.mainNavMenu_RoClass .generalNavMenuText_RoClass {
	@include global_generalNavMenuText_RoClass;
}

.mainNavMenu_RoClass .chevronIconWrap_RoClass {
	@include global_chevronIconWrap_RoClass;
}
/*Left Content End*/

/*Mid Content Start*/
.mainmecha_RoClass #burger_RoId {
	@include global_burger_RoId;
}
/*Mid Content End*/
/*Mid Section End*/

/*Bottom Section / Footer Start*/
#footerWrap_RoId {
	@include global_footerWrap_RoId;
}

.footerWrap_RoClass #footerTxt_RoId {
	@include global_footerTxt_RoId;
}
/*Bottom Section / Footer End*/
/*General End*/

/*Mobile Start*/
@media all and (max-width:641px) {
	.top-section .searchInput_RoClass {
		@include global_searchInput_RoClass_Mobile;
	}

	#searchInput_RoId::placeholder {
		@include global_searchInput-placeholder_Mobile;
	}

	.top-right-menu .toggle-mode {
		@include global_toggle-mode_Mobile;
	}
}
/*Mobile End*/
/*Global Codes to Copy End*/
/***********************************************************************************************************************************************************************************************************/
/***********************************************************************************************************************************************************************************************************/
/*Root Start*/
:root {
	/*Project Title*/
	@include project-title;
	/*Project Title*/

	/*Dark Mode (Default Style)*/
	@include dark-mode;
	/*Dark Mode (Default Style)*/
}
/*Root End*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*General Start*/
.light-mode {
	@include light-mode;
}

/*Modal*/
.modalmeCon_RoClass {
	border: none;
}

.modalmeCon_RoClass .modalme_RoClass {
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

.modalme_RoClass .modalHeadClose_RoClass {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 8px;
	left: 18px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1;
	background-color: #161617;
}

.modalHeadClose_RoClass .close-mod-icon {
	width: 35px;
	height: 35px;
}

.modalme_RoClass .home-logo img {
	width: 40px;
	height: 40px;
	padding: 7px;
	border-radius: 10px;
	background-color: #3A3B3C;
	position: absolute;
	top: 8px;
	left: 66px;
	z-index: 1;
}

.modalme_RoClass .modalBody_RoClass {
	height: 100%;
	padding: 0px;
	display: flex;
}

.modalme_RoClass .posted-file-container {
	flex: 1;
	background-color: #000000;
}

.posted-file-container .posted-file {
	object-fit: contain;
}

.modalme_RoClass .posted-info-container {
	width: 360px;
	overflow-y: scroll;
	padding: 0px 3px 10px 0px;
	background-color: var(--bg-color-4);
	flex-shrink: 0;
}

.posted-info-container button {
	@include posts-buttons;
}

.posted-info-container .modal-menu-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
	padding-right: 18px;
	height: 55px;
	border-bottom: 1px solid var(--border-color-1);
}

.posted-info-container .user-profile-modal {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 7px 15px;
	margin-top: 8px;
	color: var(--text-color-1);
}

.posted-info-container .chosen-category {
	font-size: 12px;
	color: var(--text-color-1);
	padding-left: 15px;
}

.posted-info-container .posted-title {
	color: var(--text-color-1);
	margin-top: 10px;
	padding-left: 15px;
}

.posted-info-container .posted-content {
	color: var(--text-color-1);
	font-size: 14px;
	padding-inline: 15px;
}

.posted-info-container .posted-reactions {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
	color: var(--text-color-3);
}

.posted-reactions .reactions-container {
	display: flex;
	gap: 15px;
	padding-left: 10px;
	flex-wrap: wrap;
}

.posted-reactions .reaction-icon-container {
	display: flex;
	align-items: center;
	gap: 3px;
}

.posted-reactions .reaction-count {
	font-size: 14px;
}

.posted-reactions .comment-count {
	font-size: 15px;
	cursor: pointer;
	margin-left: auto;
	margin-right: 10px;
}

.posted-reactions .comment-count:hover {
	@include comment-count-hover;
}

.posted-info-container .posted-actions {
	display: flex;
	gap: 10px;
	padding-inline: 15px;
	margin-top: 5px;
	border-top: 1px solid var(--border-color-4);
}

.posted-info-container .date-posted {
	font-size: 12px;
	padding: 5px 15px;
	color: var(--text-color-4);
}

.posted-info-container .modal-comment-section {
	color: var(--text-color-1);
	font-size: 14px;
	max-height: 450px;
	overflow-y: scroll;
}

.modal-comment-section .comment {
	padding-left: 7px;
}

.modal-comment-section .reaction-icon-container {
	display: flex;
	align-items: center;
	gap: 3px;
}

.posted-info-container .comment-profile-container {
	padding-inline: 7px;
}
/*Modal*/

/*Mid Section Start*/
#rolayout_RoId {
	@include rolayout_RoId;
}

/*Mid Content Start*/
.rolayout_RoClass #mainmecha_RoId {
	@include mainmecha_RoId;
}

.mainmecha_RoClass #mainmechaCon_RoId {
	@include mainmechaCon_RoId;
}

.mainmechaCon_RoClass #projectTitle_RoId {
	@include projectTitle_RoId;
}

.mainmechaCon_RoClass .post-form {
	@include post-form;
}

.create-post-form .post-category-label {
	@include post-category-label;
}

.create-post-form .post-category {
	@include post-category;
}

.create-post-form .post-category:hover,
.create-post-form .custom-file-upload:hover,
.file-preview-container .remove-file-button:hover,
.create-post-form .create-post-button:hover,
.posts button:hover,
.chat-toggle-button:hover,
.chat-input-container .chat-send-button:hover,
.modalme_RoClass .home-logo img:hover,
.posted-info-container button:hover,
.modalHeadClose_RoClass:hover {
	@include hover-opacity;
}

.create-post-form .custom-file-upload:active,
.file-preview-container .remove-file-button:active,
.create-post-form .create-post-button:active,
.posts button:active,
.emoji-container img:active,
.chat-toggle-button:active,
.contacts .search-contact:active,
.chat-input-container .chat-send-button:active,
.chat-box-container .close-chat-button:active,
.contact-picture-container:active,
.modalHeadClose_RoClass:active,
.modalme_RoClass .home-logo img:active,
.posted-info-container button:active {
	@include active-opacity;
}

.create-post-form .post-title,
.create-post-form .post-content {
	@include create-post-form-post-title;
}

.create-post-form #post-title {
	@include post-title-id;
}

.create-post-form .textarea-container {
	@include textarea-container;
}

.textarea-container #post-content {
	@include post-content-id;
}

#post-content::-webkit-scrollbar-thumb,
.comment-section::-webkit-scrollbar-thumb,
.chat-container::-webkit-scrollbar-thumb,
.posted-info-container::-webkit-scrollbar-thumb,
.modal-comment-section::-webkit-scrollbar-thumb {
	@include sb-thumb-visibility;
}

#post-content:hover::-webkit-scrollbar-thumb,
.comment-section:hover::-webkit-scrollbar-thumb,
.chat-container:hover::-webkit-scrollbar-thumb,
.posted-info-container:hover::-webkit-scrollbar-thumb,
.modal-comment-section:hover::-webkit-scrollbar-thumb {
	@include hover-sb-thumb-visibility;
}

.create-post-form .custom-file-upload {
	@include custom-file-upload;
}

.file-preview-container {
	@include file-preview-container;
}

.file-preview-container .file-preview-element {
	@include file-preview-element;
}

.file-preview-container .remove-file-button {
	@include remove-file-button;
}

.create-post-form .create-post-button {
	@include create-post-button;
}

.create-post-form .create-post-button:active {
	@include create-post-button-active;
}

.mainmechaCon_RoClass .posts {
	@include posts;
}

.posts .recent-posts {
	@include recent-posts;
}

.posts .post-list {
	@include post-list;
}

.post-list .user-profile {
	@include post-list-user-profile;
}

.post-list .chosen-category {
	@include chosen-category;
}

.posts button {
	@include posts-buttons;
}

.post-list .post-title {
	@include post-list-post-title;
}

.post-list .post-content {
	@include post-content;
}

.post-list .post-reactions {
	@include post-reactions;
}

.post-reactions .reactions-container {
	@include reactions-container;
}

.actions button {
	@include actions-button;
}

.post-list .reaction-icon-container {
	@include reaction-icon-container;
}

.reaction-icon-container .reaction-icon {
	@include reaction-icon;
}

.post-reactions .comment-count {
	@include comment-count;
}

.post-reactions .comment-count:hover {
	@include comment-count-hover;
}

.actions .reaction-popup-container {
	@include reaction-popup-container;
}

.reaction-popup-container:hover .reactions-popup {
	@include reaction-popup-container-hover;
}

.reaction-popup-container .reactions-popup {
	@include reactions-popup;
}

.reactions-popup .emoji-container {
	@include emoji-container;
}

.emoji-container img {
	@include emoji-container-img;
}

.emoji-container img:hover {
	@include emoji-container-img-hover;
}

.post-list .post-actions,
.comment .comment-actions {
	@include post-actions;
}

.post-list .date-posted {
	@include date-posted;
}

.post-list .comment-section {
	@include comment-section;
}

.comment-section .comment {
	@include comment;
}

.comment .comment-reactions {
	@include comment-reactions;
}

.profile-container {
	@include profile-container;
}

.profile-container .user-profile img {
	@include user-profile-img;
}

.comment .post-comment {
	@include post-comment;
}

.comment .comment-name {
	@include comment-name;
}

.comment-actions .comment-like-count {
	@include comment-like-count;
}

.profile-container .textarea-comment-container {
	@include textarea-comment-container;
}

.textarea-comment-container .comment-input {
	@include comment-input;
}
/*Mid Content End*/

/*Right Content Start*/
.rolayout_RoClass .right-side-container {
	@include right-side-container;
}

.right-side-container::-webkit-scrollbar-thumb,
.side-content-wrapper::-webkit-scrollbar-thumb {
	@include right-side-container-sb-thumb;
}

.right-side-container:hover::-webkit-scrollbar-thumb,
.side-content-wrapper:hover::-webkit-scrollbar-thumb {
	@include right-side-container-hover-sb-thumb;
}

.right-side-container .side-content-wrapper {
	@include side-content-wrapper;
}

.side-content-wrapper .side-content-title {
	@include side-content-title;
}

.side-content-wrapper .side-content-content {
	@include side-content-content;
}

.side-content-content .content-title {
	@include content-title;
}

.side-content-content .date {
	@include date;
}

.pinned-posts-wrapper a {
	@include pinned-posts-wrapper-a;
}
/*Right Content End*/
/*Mid Section End*/

/*Chat Section Start*/
.chat-toggle-button {
	@include chat-toggle-button;
}

.chat-toggle-button img {
	@include chat-toggle-button-img;
}

.chat-container {
	@include chat-container;
}

.chat-container .contacts {
	@include contacts;
}

.contacts #search-contact {
	@include search-contact-id;
}

.contacts #search-contact:hover {
	@include search-contact-id-hover;
}

.chat-container .contact-container {
	@include contact-container;
}

.chat-container .contact-container:hover {
	@include contact-container-hover;
}

.contact-container .profile-img {
	@include profile-img;
}

.contact-container .profile-name {
	@include profile-name;
}

.chat-box-container {
	@include chat-box-container;
}

.chat-box-container .contact-profile-container {
	@include contact-profile-container;
}

.contact-profile-container .contact-picture-container {
	@include contact-picture-container;
}

.contact-picture-container:hover {
	@include close-chat-button-hover;
}

.contact-picture-container .contact-picture {
	@include contact-picture;
}

.contact-profile-container .contact-name {
	@include contact-name;
}

.chat-box-container .chat-box {
	@include chat-box;
}

.chat-box .contact-profile-container-big {
	@include contact-profile-container-big;
}

.contact-profile-container-big .contact-picture-big {
	@include contact-picture-big;
}

.contact-profile-container-big .contact-name-big {
	@include contact-name-big;
}

.chat-box .right-chat-container {
	@include right-chat-container;
}

.right-chat-container .chat-and-date-right {
	@include chat-and-date-right;
}

.chat-box .chat-date-sent {
	@include chat-date-sent;
}

.chat-and-date-right .right-chat {
	@include right-chat;
}

.chat-box .left-chat-container {
	@include left-chat-container;
}

.left-chat-container .chat-and-date-left {
	@include chat-and-date-left;
}

.chat-and-date-left .left-chat-pic-container {
	@include left-chat-pic-container;
}

.left-chat-pic-container .left-chat-pic {
	@include left-chat-pic;	
}

.left-chat-pic-container .left-chat {
	@include left-chat;
}

.chat-box-container .chat-input-container {
	@include chat-input-container;
}

.chat-input-container .textarea-chat-container {
	@include textarea-chat-container;
}

.textarea-chat-container .chat-input {
	@include chat-input;
}

.chat-input-container .chat-send-button {
	@include chat-send-button;
}

.chat-box-container .close-chat-button {
	@include close-chat-button;
}

.chat-box-container .close-chat-button:hover {
	@include close-chat-button-hover;
}
/*Chat Section End*/
/*General End*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Other Media Queries Start*/
@media (max-width:900px) {
	.modalme_RoClass .modalHeadClose_RoClass {
		background-color: var(--bg-color-12);
	}

	.modalme_RoClass .home-logo img {
		background-color: var(--bg-color-7);
	}

	.modalme_RoClass .modalBody_RoClass {
		flex-direction: column;
		padding-top: 55px;
	}

	.modalme_RoClass .posted-info-container {
		width: auto;
	}

	.posted-info-container .modal-menu-container {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: var(--bg-color-2);
		border-bottom: 1px solid var(--border-color-1);
	}
}

@media (min-width:1081px) and (max-width:1250px) {
	.mainmecha_RoClass #mainmechaCon_RoId {
		@include mainmechaCon_RoId_OMQ;
	}
}

@media (max-width:641px), (min-width:1081px) and (max-width:1250px) {
	.post-list .post-reactions {
		@include post-reactions_OMQ
	}
}

@media (max-width:400px) {
	.contacts .contact-text {
		@include contact-text_OMQ;
	}

	.chat-toggle-button {
		@include chat-toggle-button_OMQ;
	}

	.chat-box-container {
		@include chat-box-container_OMQ;
	}
}
/*Other Media Queries End*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Mobile and Tablet Start*/
@media (min-width:0px) and (max-width:1080px) {
	.rolayout_RoClass .right-side-container {
		@include right-side-container_MobTab;
	}

	.rolayout_RoClass #mainmecha_RoId {
		@include mainmecha_RoId_MobTab;
	}

	.mainmecha_RoClass #mainmechaCon_RoId {
		@include mainmechaCon_RoId_MobTab;
	}
}
/*Mobile and Tablet End*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Mobile Start*/
@media all and (max-width:641px) {
	.chat-container {
		@include chat-container_Mobile;
	}
}
/*Mobile End*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Tablet Start*/
@media all and (min-width:642px) and (max-width:1080px) {
	
}
/*Tablet End*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Laptop Start*/
@media all and (min-width:1081px) and (max-width:1600px) {
	.mainmecha_RoClass .projectTitle_RoClass {
		@include projectTitle_RoClass_Laptop;
	}

	.posts .recent-posts {
		@include recent-posts_Laptop;
	}
}
/*Laptop End*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Desktop Start*/
@media all and (min-width:1601px) {
	.mainmecha_RoClass #mainmechaCon_RoId {
		@include mainmechaCon_RoId_Desktop;
	}

	.mainmecha_RoClass .projectTitle_RoClass {
		@include projectTitle_RoClass_Desktop;
	}

	.posts .recent-posts {
		@include recent-posts_Desktop;
	}
}
/*Desktop End*/
/***********************************************************************************************************************************************************************************************************/