/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rostrap Global";
@import "../../Global Style/Global Style";
@import "./Mixin Posting Page";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
	/*Search Box*/
	@include global_top-searchbox;
	/*Search Box*/

	/*Side Apps Main Menu*/
	@include global_side-app-main;
	/*Side Apps Main Menu*/

	/*Side Apps Sub Menu*/
	@include global_side-app-sub;
	/*Side Apps Sub Menu*/

	/*Project Title*/
	@include project-title;
	/*Project Title*/

	/*Footer*/
	@include global_footer-style;
	/*Footer*/

	/*Dark Mode (Default Style)*/
	@include global_dark-mode;
	@include dark-mode;
	/*Dark Mode (Default Style)*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*General*/
.light-mode {
	@include global_light-mode;
	@include light-mode;
}

@font-face {
	@include global_font-face;
}

::-webkit-scrollbar {
	@include global_scrollbar;
}

::-webkit-scrollbar-thumb {
	@include global_scrollbar-thumb;
}

::-webkit-scrollbar-track {
	@include global_scrollbar-track;
}

* {
	@include global_asterisk;
}

body {
	@include global_body-bg;
}

input,
input:focus,
textarea,
textarea:focus {
	@include global_input-textarea-style;
}

img,
video {
	@include img-video;
}

/*Top Section*/
.top-section {
	@include global_top-section;
}

.top-section .top-left-menu {
	@include global_top-left-menu;
}

.top-left-menu .home-logo {
	@include global_home-logo;
}

.top-left-menu .home-logo:hover {
	@include global_home-logo-hover;
}

.top-left-menu .home-logo img {
	@include global_home-logo-img;
}

.top-left-menu #searchInput_RoId {
	@include global_searchInput_RoId;
}

#searchInput_RoId::placeholder {
	@include global_searchInput_RoId-placeholder;
}

.top-section .top-right-menu {
	@include global_top-right-menu;
}

.top-right-menu .toggle-mode {
	@include global_toggle-mode;
}

.top-right-menu .toggle-mode:hover {
	@include global_toggle-mode-hover;
}

.top-right-menu .topMenus {
	@include global_topMenus;
}

.top-right-menu .topMenus:hover {
	@include global_topMenus-hover;
}

.top-right-menu .gear-icon {
	@include global_gear-icon;
}

.top-right-menu .topMenus img {
	@include global_topMenus-img;
}

.profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--border-color-2);
	cursor: pointer;
}

.profile img:hover {
	opacity: .7;
}
/*Top Section*/

/*Mid Section Start*/
#rolayout_RoId {
	@include global_rolayout_RoId;
	@include rolayout_RoId;
}

/*Left Content*/
.rolayout_RoClass #sidemecha_RoId {
	@include global_sidemecha_RoId;
}

#sidemecha_RoId:hover::-webkit-scrollbar-thumb {
	@include global_sidemecha_RoId-hover-webkit;
}

.sidemechaCon_RoClass .company-logo {
	@include global_company-logo;
}

.sidemechaCon_RoClass .company-logo img {
	@include global_company-logo-img;
}

.mainNavMenu_RoClass .generalNavMenuText_RoClass {
	@include global_generalNavMenuText_RoClass;
}

.mainNavMenu_RoClass .chevronIconWrap_RoClass {
	@include global_chevronIconWrap_RoClass;
}
/*Left Content*/

/*Mid Content*/
.rolayout_RoClass #mainmecha_RoId {
	@include mainmecha_RoClass;
}

#mainmecha_RoId::-webkit-scrollbar-thumb {
	@include global_mainmecha_RoId-scrollbar-thumb;
}

.mainmecha_RoClass #mainmechaCon_RoId {
	@include mainmechaCon_RoId;
}

.mainmecha_RoClass #burger_RoId {
	@include global_burger_RoId;
}

.mainmechaCon_RoClass #projectTitle_RoId {
	@include projectTitle_RoId;
}

.mainmechaCon_RoClass .post-form {
	@include post-form;
}

.create-post-form .post-category-label {
	@include post-category-label;
}

.create-post-form .post-category {
	@include post-category;
}

.create-post-form .post-category:hover {
	@include post-category-hover;
}

.create-post-form .post-title,
.create-post-form .post-content {
	@include post-title-1;
}

.create-post-form #post-title {
	@include post-title-id;
}

.create-post-form .textarea-container {
	@include textarea-container;
}

.textarea-container #post-content {
	@include post-content-id;
}

#post-content:hover::-webkit-scrollbar-thumb {
	@include post-content-id-hover-webkit;
}

.create-post-form .custom-file-upload {
	@include custom-file-upload;
}

.create-post-form .custom-file-upload:hover {
	@include custom-file-upload-hover;
}

.file-preview-container {
	@include file-preview-container;
}

.file-preview-container .file-preview-element {
	@include file-preview-element;
}

.file-preview-container .remove-file-button {
	@include remove-file-button;
}

.file-preview-container .remove-file-button:hover {
	@include remove-file-button-hover;
}

.create-post-form .create-post-button {
	@include create-post-button;
}

.create-post-form .create-post-button:hover {
	@include create-post-button-hover;
}

.create-post-form .create-post-button:active {
	@include create-post-button-active;
}

.mainmechaCon_RoClass .posts {
	@include posts;
}

.posts .recent-posts {
	@include recent-posts;
}

.posts .post-list {
	@include post-list;
}

.post-list .profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

.post-list .chosen-category {
	padding-block: 10px;
}

.posts button {
	@include posts-buttons;
}

.posts button:hover {
	@include posts-buttons-hover;
}

.posts button:active {
	@include posts-buttons-active;
}

.post-list .post-title {
	@include post-title-2;
}

.post-list .post-content {
	@include post-content;
}

.post-list .post-reactions {
	padding: 10px 3px;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--text-color-3);
	border-bottom: 2px solid var(--border-color-4);
}

.post-list .actions button {
	color: var(--text-color-4);
	margin-top: 5px;
}

.post-reactions .reaction-icon-container {
	display: flex;
}

.reaction-icon-container .reaction-icon {
	height: 15px;
	width: 15px;
}

.post-reactions .comment-count {
	margin-left: auto;
	margin-right: 7px;
}

.actions .reaction-popup-container {
	position: relative;
}

.reaction-popup-container:hover .reactions-popup {
	transform: scale(1, 1);
}

.reaction-popup-container .reactions-popup {
	display: flex;
	gap: 5px;
	background-color: var(--bg-color-4);
	padding: 5px 4px;
	border: 1px solid var(--border-color-5);
	border-radius: 30px;
	position: absolute;
	bottom: 100%;
	transform: scale(1, 0);
	transform-origin: bottom;
	transition: transform ease-in-out .4s !important;
}

.reactions-popup img {
	height: 32px;
	width: 32px;
	cursor: pointer;
}

.reactions-popup img:hover {
	opacity: .7;
}

.reactions-popup img:active {
	opacity: .5;
}

.post-list .post-actions,
.comment .comment-actions,
.comment .reply-actions {
	@include post-actions;
}

.post-list .date-posted {
	@include date-posted;
}

.comment-section .comment {
	@include comment;
}

.profile-container {
	display: flex;
	align-items: flex-start;
	margin-top: 10px;
}

.profile-container .profile img {
	width: 30px;
	height: 30px;
	margin: 1px 5px 0px 0px;
}

.comment .post-comment {
	@include post-comment;
}

.comment .comment-name {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 2px;
}

.comment .reply-input {
	@include reply-input;
}

.comment .post-reply {
	@include post-reply;
}

.comment-actions .comment-like-count {
	@include comment-like-count;
}

.profile-container .comment-input {
	@include comment-input;
}

.comment-input::placeholder {
	font-size: 14px;
}
/*Mid Content*/

/*Right Content*/
.rolayout_RoClass .right-side-container {
	@include right-side-container;
}

.right-side-container:hover::-webkit-scrollbar-thumb,
#side-content:hover::-webkit-scrollbar-thumb {
	@include right-side-container-hover-webkit;
}

.right-side-container .side-content-wrapper {
	@include side-content-wrapper;
}

.side-content-wrapper #side-content {
	@include side-content-id;
}

.right-side-container .side-content-two {
	@include side-content-two;
}

.right-side-container .side-content-three {
	@include side-content-three;
}
/*Right Content*/
/*Mid Section End*/

/*Bottom Section / Footer*/
body #footerWrap_RoId {
	@include global_footerWrap_RoId;
}

.footerWrap_RoClass #footerTxt_RoId {
	@include global_footerTxt_RoId;
}
/*Bottom Section / Footer*/
/*General*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Other Media Query*/
@media (min-width:1081px) and (max-width:1250px) {
	.mainmecha_RoClass #mainmechaCon_RoId {
		@include mainmechaCon_RoId_MQ;
	}
}
/*Other Media Query*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px) {
	.top-section .searchInput_RoClass {
		@include global_searchInput_RoClass_Mobile;
	}

	#searchInput_RoId::placeholder {
		color: transparent;
	}

	.top-right-menu .toggle-mode {
		@include global_toggle-mode_Mobile;
	}

	.rolayout_RoClass #mainmecha_RoId {
		@include mainmecha_RoId_Mobile;
	}

	.mainmecha_RoClass #mainmechaCon_RoId {
		@include mainmechaCon_RoId_Mobile;
	}

	.rolayout_RoClass .right-side-container {
		@include right-side-container_MobTab;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px) {
	.rolayout_RoClass #mainmecha_RoId {
		@include mainmecha_RoId_Tablet;
	}

	.mainmecha_RoClass #mainmechaCon_RoId {
		@include mainmechaCon_RoId_Tablet;
	}

	.rolayout_RoClass .right-side-container {
		@include right-side-container_MobTab;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px) {
	.mainmecha_RoClass .projectTitle_RoClass {
		@include projectTitle_RoClass_Laptop;
	}

	.posts .recent-posts {
		@include recent-posts_Laptop;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px) {
	.mainmecha_RoClass #mainmechaCon_RoId {
		@include mainmechaCon_RoId_Desktop;
	}

	.mainmecha_RoClass .projectTitle_RoClass {
		@include projectTitle_RoClass_Desktop;
	}

	.posts .recent-posts {
		@include recent-posts_Desktop;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/