/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rostrap Global";
@import "../../Global Style/Global Style";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root {
	/*Search Box*/
	@include top-searchbox_Root;
	/*Search Box*/

	/*Side Apps Main Menu*/
	@include side-app-main_Root;
	/*Side Apps Main Menu*/

	/*Side Apps Sub Menu*/
	@include side-app-sub_Root;
	/*Side Apps Sub Menu*/

	/*Footer*/
	@include footer-style_Root;
	/*Footer*/

	/*Default Style: Dark Mode*/
	@include dark-mode_Root;
	/*Default Style: Dark Mode*/

	--projectTitleTextFColor: #FFFFFF;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/
/*General*/
.light-mode {
	@include light-mode_General;
}

@font-face {
	@include font-face_General;
}

::-webkit-scrollbar-thumb {
	@include scrollbar-thumb_General;
}

::-webkit-scrollbar-track {
	@include scrollbar-track_General;
}

* {
	@include asterisk_General;
}

body {
	@include body-bg_General;
}

input,
input:focus,
textarea,
textarea:focus {
	border: none;
	outline: none;
	color: var(--text-color-1);
}

img,
video {
	width: 100%;
	height: 100%;
}

/*Top Section*/
.top-section {
	@include top-section_General;
}

.top-section .top-left-menu {
	@include top-left-menu_General;
}

.top-left-menu .home-logo {
	@include home-logo_General;
}

.top-left-menu .home-logo:hover {
	@include home-logo-hover_General;
}

.top-left-menu .home-logo img {
	@include home-logo-img_General;
}

.top-left-menu #searchInput_RoId {
	@include searchInput_RoId_General;
}

#searchInput_RoId::placeholder {
	@include searchInput_RoId-placeholder_General;
}

.top-section .top-right-menu {
	@include top-right-menu_General;
}

.top-right-menu .toggle-mode {
	@include toggle-mode_General;
}

.top-right-menu .toggle-mode:hover {
	@include toggle-mode-hover_General;
}

.top-right-menu .menu {
	@include menu_General;
}

.top-right-menu .menu:hover {
	@include menu-hover_General;
}

.top-right-menu .gear-icon {
	@include gear-icon_General;
}

.top-right-menu .menu img {
	@include menu-img_General;
}
/*Top Section*/

/*Mid Section*/
#rolayout_RoId {
	@include rolayout_RoId_General;
	display: flex;
	justify-content: space-between;
}

/*Left Content*/
.rolayout_RoClass #sidemecha_RoId {
	@include sidemecha_RoId_General;
}

#sidemecha_RoId::-webkit-scrollbar-thumb {
	@include sidemecha_RoId-webkit_General;
}

#sidemecha_RoId:hover::-webkit-scrollbar-thumb {
	@include sidemecha_RoId-hover-webkit_General;
}

.sidemechaCon_RoClass .company-logo {
	@include company-logo_General;
}

.sidemechaCon_RoClass .company-logo img {
	@include company-logo-img_General;
}

.mainNavMenu_RoClass .generalNavMenuText_RoClass {
	@include generalNavMenuText_RoClass_General;
}

.mainNavMenu_RoClass .chevronIconWrap_RoClass {
	@include chevronIconWrap_RoClass_General;
}
/*Left Content*/

/*Mid Content*/
.rolayout_RoClass #mainmecha_RoClass {
	display: flex;
	justify-content: center;
	position: absolute;
	height: 100%;
}

.mainmecha_RoClass #mainmechaCon_RoId {
	max-width: 600px;
}

.mainmecha_RoClass #burger_RoId {
	width: 39px;
	height: 39px;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-8);
}

.mainmechaCon_RoClass #projectTitle_RoId {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10px;
	white-space: nowrap;
	background-color: #096B6C;
	border: 1px solid var(--border-color-2);
}

.mainmechaCon_RoClass .post-form {
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	color: var(--text-color-1);
	background-color: var(--bg-color-2);
	border: 1px solid var(--border-color-2);
}

.create-post-form .post-category-label {
	margin: 5px 5px 10px 0px;
	display: inline-block;
}

.create-post-form .post-category {
	border: none;
	outline: 2px solid #808080;
	border-radius: 5px;
	padding: 3px;
	cursor: pointer;
}

.create-post-form .post-category:hover {
	opacity: .7;
}

.create-post-form .post-title,
.create-post-form .post-content {
	display: block;
	margin: 10px 0px 3px 0px;
	font-size: 16px;
}

.create-post-form #post-title {
	width: 100%;
	height: 30px;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

.create-post-form #post-content {
	width: 100%;
	min-height: 55px;
	padding: 7px;
	resize: none;
	overflow-y: hidden;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

.create-post-form .custom-file-upload {
	padding: 7px;
	display: flex;
	justify-content: center;
	width: 240px;
	white-space: nowrap;
	border-radius: 10px;
	margin-top: 8px;
	font-size: 14px;
	background-color: #8ED770;
	color: #808080;
	cursor: pointer;
}

.create-post-form .custom-file-upload:hover {
	opacity: .7;
}

.create-post-form .file-preview-container {
	border: 1px solid var(--border-color-4);
	margin-top: 10px;
	border-radius: 10px;
	min-height: 120px;
	padding: 8px 8px 4px 8px;
	position: relative;
}

.file-preview-container .file-preview-element {
	border-radius: 10px;
}

.file-preview-container .remove-file-button {
	border: 1px solid #202224;
	position: absolute;
	top: 18px;
	right: 15px;
	background-color: #3E4042;
	color: #C0C3C7;
	height: 30px;
	width: 30px;
	font-size: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	line-height: 22px;
	cursor: pointer;
}

.file-preview-container .remove-file-button:hover {
	opacity: .8;
}

.create-post-form .create-post-button {
	margin-top: 10px;
	border: none;
	padding: 7px 15px;
	border-radius: 3px;
	display: block;
	background-color: #2176FF;
	color: #FFFFFF;
	cursor: pointer;
}

.create-post-form .create-post-button:hover {
	opacity: .7;
}

.create-post-form .create-post-button:active {
	opacity: .5;
}

.mainmechaCon_RoClass .posts {
	color: var(--text-color-1);
	margin-top: 10px;
	font-size: 14px;
}

.posts .recent-posts {
	font-weight: bold;
	display: flex;
	justify-content: center;
	padding: 10px;
	border-radius: 10px;
	background-color: #3C746B;
	border: 1px solid var(--border-color-2);
	color: #FFFFFF;
}

.posts .post-list {
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-2);
	border: 1px solid var(--border-color-2);
}

.posts button {
	cursor: pointer;
	border-radius: 3px;
	border: none;
	padding: 2px 8px;
	background-color: var(--bg-color-3);
	color: var(--text-color-1);
}

.posts button:hover {
	opacity: .7;
}

.posts button:active {
	opacity: .5;
}

.post-list .post-title {
	margin-bottom: 7px;
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

.post-list .post-content {
	width: 100%;
	margin-bottom: 7px;
	white-space: normal;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

.post-list .post-actions,
.comment .comment-actions,
.comment .reply-actions {
	display: flex;
	align-items: center;
	gap: 6px;
}

.post-actions .post-like-count {
	margin-right: 10px;
}

.post-list .date-posted {
	font-size: 11px;
	margin-block: 5px;
	white-space: normal;
}

.comment-section .comment {
	border-left: 2px solid var(--border-color-3);
	margin-left: 20px;
	padding-left: 10px;
}

.comment .post-comment {
	margin-bottom: 7px;
	white-space: normal;
	padding-block: 7px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

.comment .reply-input {
	width: 100%;
	margin-block: 5px;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

.comment .post-reply {
	margin-bottom: 7px;
	white-space: normal;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

.comment-actions .comment-like-count {
	margin-right: 10px;
}

.post-list .comment-input {
	margin: 10px 0px 5px 0px;
	width: 100%;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}
/*Mid Content*/

/*Right Content*/
.rolayout_RoClass .right-side-container {
	width: 300px;
	flex-shrink: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: transparent;
	z-index: 1;
	direction: rtl;
	padding: 0px 0px 10px 20px;
}

.right-side-container::-webkit-scrollbar,
#side-content::-webkit-scrollbar {
	width: 7px;
}

.right-side-container::-webkit-scrollbar-thumb,
#side-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	visibility: hidden;
}

.right-side-container:hover::-webkit-scrollbar-thumb,
#side-content:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.right-side-container .side-content-wrapper {
	overflow: hidden;
	border-radius: 10px;
	margin-right: 20px;
	padding: 0 !important;
	height: 400px;
	margin-top: 10px;
	border: 1px solid var(--border-color-4);
}

.side-content-wrapper #side-content {
	height: 100%;
	overflow: auto;
	padding-block: 7px;
}

.right-side-container .side-content-two {
	height: 300px;
}

.right-side-container .side-content-three {
	height: 600px;
}
/*Right Content*/

/*Footer*/
body #footerWrap_RoId {
	@include footerWrap_RoId_General;
}

.footerWrap_RoClass #footerTxt_RoId {
	@include footerTxt_RoId_General;
}
/*Footer*/
/*General*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*General Media Query*/
@media (min-width:1081px) and (max-width:1250px) {
	.mainmecha_RoClass #mainmechaCon_RoId {
		max-width: 450px;
	}
}
/*General Media Query*/
/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px) {
	.top-section .searchInput_RoClass {
		@include searchInput_RoClass_Mobile;
	}

	.top-right-menu .toggle-mode {
		@include toggle-mode_Mobile;
	}

	.rolayout_RoClass #mainmecha_RoClass {
		position: static;
	}

	.mainmecha_RoClass #mainmechaCon_RoId {
		max-width: 100%;
	}

	.mainmecha_RoClass .projectTitle_RoClass {
		--projectTitleTextFSize: 14px;
	}

	.create-post-form .post-category-label,
	.create-post-form .post-category,
	.create-post-form .post-title,
	.create-post-form .post-content,
	.post-list .post-title,
	.posts .recent-posts {
		font-size: 14px;
	}

	.mainmechaCon_RoClass .posts {
		font-size: 12px;
	}

	.rolayout_RoClass .right-side-container {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: var(--bg-color-1);
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px) {
	.rolayout_RoClass #mainmecha_RoClass {
		position: static;
	}

	.mainmecha_RoClass #mainmechaCon_RoId {
		max-width: 100%;
	}

	.mainmecha_RoClass .projectTitle_RoClass {
		--projectTitleTextFSize: 14px;
	}

	.posts .recent-posts {
		font-size: 14px
	}

	.rolayout_RoClass .right-side-container {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: var(--bg-color-1);
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px) {
	.mainmecha_RoClass .projectTitle_RoClass {
		--projectTitleTextFSize: 16px;
	}

	.posts .recent-posts {
		font-size: 16px
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px) {
	.mainmecha_RoClass .projectTitle_RoClass {
		--projectTitleTextFSize: 16px;
	}

	.posts .recent-posts {
		font-size: 16px
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Section Comment Name*/
/***********************************************************************************************************************************************************************************************************/