/************************************************************************************************************/
/*General*/

/*Mid Section*/

/*Mid Content*/
@mixin post-status-summary {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(#39AB5B, .7);
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--bg-color-2);
}

@mixin pending-info-container {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 3px;
	border-radius: 10px;
	background-color: #FFFFFF;
	border: 2px solid #FCC64F;
	box-shadow: 0px 0px 8px rgba(#FCC64F, .7);
	position: relative;
}

@mixin pending-info-container-img {
	width: 30px;
	height: 30px;
	background-color: #FFFFFF;
	border: 2px solid #39AB5B;
	border-radius: 50%;
}

@mixin pending-info {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

@mixin pending-count {
	position: absolute;
	top: -7px;
	left: -7px;
	background-color: #E41E3F;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin posts {
	color: var(--text-color-1);
	margin-top: 10px;
	font-size: 14px;
}

@mixin post-list {
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-2);
	box-shadow: 0px 0px 4px rgba(#39AB5B, .7);
}

@mixin date-submitted {
	font-size: 12px;
	font-weight: bold;
	color: var(--text-color-4);
}

@mixin action-buttons {
	padding: 5px 0px 15px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--border-color-1);
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	align-items: center;
}

@mixin post-status {
	font-weight: bold;
	padding: 7px 10px;
	margin-right: auto;
	border-radius: 5px;
	color: #808080;
	background-color: #FCC64F;
	box-shadow: 0px 0px 8px rgba(#FCC64F, .7);
}

@mixin action-buttons-button {
	border-radius: 5px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
}

@mixin approve-button {
	background-color: #39AB5B;
}

@mixin decline-button {
	background-color: #DE3A3B;
}

@mixin hover-opacity {
	opacity: .7;
}

@mixin active-opacity {
	opacity: .5;
}

@mixin user-profile-box {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}

@mixin user-name {
	flex-shrink: 0;
}

@mixin chosen-category {
	padding: 5px 7px;
	margin-left: 3px;
	font-size: 11px;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: rgba(#39AB5B, .8);
}

@mixin post-list-post-title-class {
	margin-bottom: 7px;
	font-size: 16px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin post-content-class {
	width: 100%;
	white-space: normal;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--bg-color-3);
}

@mixin file-preview-container-class {
	border: 1px solid var(--border-color-4);
	margin-top: 10px;
	border-radius: 10px;
	position: relative;
}

@mixin file-preview-element {
	border-radius: 10px;
	margin: 8px;
	width: calc(100% - 16px);
	max-height: 550px;
	min-height: 250px;
	object-fit: contain;
	background-color: #000000;
}
/*Mid Content*/

/*Mid Section*/

/*General*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Post Status*/
@mixin post-status_Mobile {
	font-size: 12px;
}
@mixin post-status_Tablet {
	font-size: 14px;
}
@mixin post-status_Laptop {
	font-size: 14px;
}
@mixin post-status_Desktop {
	font-size: 15px;
}
/*Post Status*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Action Buttons*/
@mixin action-buttons-button_Mobile {
	font-size: 12px;
	padding: 7px 10px;
}
@mixin action-buttons-button_Tablet {
	font-size: 14px;
	padding: 7px 15px;
}
@mixin action-buttons-button_Laptop {
	font-size: 14px;
	padding: 7px 15px;
}
@mixin action-buttons-button_Desktop {
	font-size: 15px;
	padding: 7px 15px;
}
/*Action Buttons*/
/************************************************************************************************************/

