/************************************************************************************************************/
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
/************************************************************************************************************/
/*General*/
/*Search Box*/
/*Search Box*/
/*Side Apps Main Menu*/
/*Side Apps Main Menu*/
/*Side Apps Sub Menu*/
/*Side Apps Sub Menu*/
/*Dark Mode (Default Style)*/
/*Dark Mode (Default Style)*/
/*Light Mode*/
/*Light Mode*/
/*Binance Font*/
/*Binance Font*/
/*Comfortaa Font*/
/*Comfortaa Font*/
/*Webkit*/
/*Webkit*/
/*Asterisk*/
/*Asterisk*/
/*Body Background*/
/*Body Background*/
/*Input and Textarea Style*/
/*Input and Textarea Style*/
/*Top Section*/
/*Top Section*/
/*Mid Section Height*/
/*Mid Section Height*/
/*Left Content*/
/*Left Content*/
/*Burger*/
/*Burger*/
/*Footer*/
/*Footer*/
/*General*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Body*/
/*Body Height Without Top Section*/
/*Body Height Without Top Section*/
/*Body Height With Top Section*/
/*Body Height With Top Section*/
/*Body*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Footer Height*/
/*Footer Height*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Footer MobTab*/
/*Footer MobTab*/
/*Mobile Top Section*/
/*Mobile Top Section*/
/************************************************************************************************************/
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/
/************************************************************************************************************/
/*General*/
/*General*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Other Media Queries*/
/*Other Media Queries*/
/************************************************************************************************************/
/*Import Mixins*/
/************************************************************************************************************/
@font-face {
  font-family: 'Binance PLEX';
  src: url("../../Global Fonts/Binance-PLEX.ttf"); }
/*General Start*/
html, body {
  height: 100%;
  margin: 0; }

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Binance PLEX'; }

img {
  width: 100%;
  height: 100%;
  display: block; }

body::-webkit-scrollbar {
  width: 7px; }

body::-webkit-scrollbar-thumb {
  background-color: #BCC0C4;
  border-radius: 10px; }

.posts-container {
  font-size: 14px; }

.posts-container .post-status-summary {
  margin: 8px 8px 0px 8px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(57, 171, 91, 0.7);
  display: flex;
  gap: 10px; }

.post-status-summary .status-item {
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 5px;
  color: #000000; }

.post-status-summary .pending-approval-count,
.action-buttons .pending-approval,
.action-buttons .approve-button {
  background-color: #39AB5B; }

.post-status-summary .pending-removal-count,
.action-buttons .pending-removal,
.action-buttons .decline-button {
  background-color: #FCC64F; }

.posts-container .post-box {
  padding: 8px; }

.post-box .post-list {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(57, 171, 91, 0.7); }

.post-list .action-buttons {
  padding: 5px 0px 15px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CED0D4;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center; }

.action-buttons .post-status {
  font-size: 14px;
  margin-right: auto;
  padding: 7px 10px;
  border-radius: 5px;
  color: #FFFFFF; }

.action-buttons button {
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer; }

.action-buttons button:hover {
  opacity: .7; }

.action-buttons button:active {
  opacity: .5; }

.post-list .user-profile-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px; }

.post-list .user-profile-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #E2E4E7;
  object-fit: cover;
  cursor: pointer; }

.user-profile-box .user-name {
  flex-shrink: 0; }

.user-profile-box .chosen-category {
  padding: 5px 7px;
  margin-left: 3px;
  font-size: 11px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: rgba(57, 171, 91, 0.8); }

.post-list .post-title-class {
  margin-bottom: 7px;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: #F0F2F5; }

.post-list .post-content-class {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #F0F2F5; }

.post-list .file-preview-container-class {
  border: 1px solid #CED0D4;
  margin-top: 10px;
  border-radius: 10px; }

.file-preview-container-class .file-preview-element {
  border-radius: 10px;
  margin: 8px;
  width: calc(100% - 16px);
  max-height: 550px;
  min-height: 250px;
  object-fit: contain;
  background-color: #000000; }

/*General End*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Other Media Queries Start*/
@media (max-width: 400px) {
  .posts-container .post-status-summary {
    justify-content: space-between; }

  .post-status-summary .status-item {
    font-size: 12px; }

  .post-list .action-buttons {
    gap: 7px; }

  .action-buttons .post-status {
    font-size: 11px; }

  .action-buttons button {
    padding-inline: 10px;
    font-size: 11px; } }
/*Other Media Queries End*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Mobile and Tablet Start*/
/*Mobile and Tablet End*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Mobile Start*/
/*Mobile End*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Tablet Start*/
/*Tablet End*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Laptop Start*/
/*Laptop End*/
/************************************************************************************************************/
/************************************************************************************************************/
/*Desktop Start*/
/*Desktop End*/
/************************************************************************************************************/

/*# sourceMappingURL=Page_Management_Post.css.map */
