/************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Global Style";
@import "../../Global Style/Rostrap Global";
@import "./Mixin_Page_Management_Post";
/*Import Mixins*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Global Codes*/

/*General*/
:root {
	/*Side Apps Main Menu*/
	@include global_side-app-main;
	/*Side Apps Main Menu*/

	/*Side Apps Sub Menu*/
	@include global_side-app-sub;
	/*Side Apps Sub Menu*/

	/*Dark Mode (Default Style)*/
	@include global_dark-mode;
	/*Dark Mode (Default Style)*/
}

.light-mode {
	@include global_light-mode;
}

html, body {
	@include global_html-body_Style;
}

body {
	@include global_body-bg;
	@include global_General_BodyWithTop;
}

@font-face {
	@include global_font-face;
}

::-webkit-scrollbar {
	@include global_scrollbar;
}

::-webkit-scrollbar-thumb {
	@include global_scrollbar-thumb;
}

::-webkit-scrollbar-track {
	@include global_scrollbar-track;
}

*, *::before, *::after {
	@include global_asterisk;
}

input,
input:focus,
textarea,
textarea:focus {
	@include global_input-textarea-style;
}

img,
video {
	@include global_img-video;
}

/*Top Section*/
.top-section {
	@include global_top-section;
}

.top-section .top-left-menu {
	@include global_top-left-menu;
}

.top-left-menu .home-logo {
	@include global_home-logo;
}

.top-left-menu .home-logo:hover,
.top-right-menu .toggle-mode-class:hover,
.topMenus:hover,
.user-profile img:hover,
.chat-toggle-button:hover,
.chat-input-container .chat-send-button:hover,
.chat-box-container .buzz-chat-button:hover,
.chat-box-container .close-chat-button:hover {
	@include global_hover-opacity;
}

.top-left-menu .home-logo:active,
.top-right-menu .toggle-mode-class:active,
.topMenus:active,
.user-profile img:active,
.chat-toggle-button:active,
.chat-input-container .chat-send-button:active,
.chat-box-container .buzz-chat-button:active,
.chat-box-container .close-chat-button:active,
.contact-pic-container-small:active {
	@include global_active-opacity;
}

.top-left-menu .home-logo img {
	@include global_home-logo-img;
}

.top-left-menu .searchInput_RoClass {
	@include global_searchInput_RoClass;
}

.top-section .top-right-menu {
	@include global_top-right-menu;
}

.top-right-menu .toggle-mode-class {
	@include global_toggle-mode-class;
}

.topMenus {
	@include global_topMenus;
}

.gear-icon {
	@include global_gear-icon;
}

.top-right-menu .user-profile {
	@include global_user-profile;
}

.user-profile img {
	@include global_user-profile-img;
}
/*Top Section*/

/*Mid Section*/
#rolayout_RoId {
	@include global_rolayout_RoId;
}

/*Left Content*/
.rolayout_RoClass #sidemecha_RoId {
	@include global_sidemecha_RoId;
}

#sidemecha_RoId::-webkit-scrollbar-thumb,
.chat-container::-webkit-scrollbar-thumb {
	@include global_sb-thumb-visibility;
}

#sidemecha_RoId:hover::-webkit-scrollbar-thumb,
.chat-container:hover::-webkit-scrollbar-thumb {
	@include global_hover-sb-thumb-visibility;
}

.sidemechaCon_RoClass .company-logo {
	@include global_company-logo;
}

.sidemechaCon_RoClass .company-logo img {
	@include global_company-logo-img;
}

.sidemechaCon_RoClass .mainNavMenu_RoClass,
.sidemechaCon_RoClass .subNavMenu_RoClass {
	@include global_mainNavMenu_RoClass;
}

.mainNavMenu_RoClass .generalNavMenuText_RoClass {
	@include global_generalNavMenuText_RoClass;
}

.mainNavMenu_RoClass .chevronIconWrap_RoClass {
	@include global_chevronIconWrap_RoClass;
}
/*Left Content*/

/*Mid Content*/
.mainmecha_RoClass #burger_RoId {
	@include global_burger_RoId;
}
/*Mid Content*/
/*Mid Section*/

/*Footer*/
#footerWrap_RoId {
	@include global_footerWrap_RoId;
}

.footerWrap_RoClass #footerTxt_RoId {
	@include global_footerTxt_RoId;
}
/*Footer*/

/*Chat Section*/
.chat-toggle-button {
	@include global_chat-toggle-button;
}

.chat-toggle-button img {
	@include global_chat-toggle-button-img;
}

.chat-container {
	@include global_chat-container;
}

.chat-container .contacts {
	@include global_contacts;
}

.contacts #search-contact-id {
	@include global_search-contact-id;
}

.contacts #search-contact-id:hover {
	@include global_search-contact-id-hover;
}

.chat-container .contact-container {
	@include global_contact-container;
}

.chat-container .contact-container:hover {
	@include global_contact-container-hover;
}

.contact-container .profile-img-container {
	@include global_profile-img-container;
}

.profile-img-container .profile-img {
	@include global_profile-img;
}

.profile-img-container .online-indicator-small {
	@include global_online-indicator-small;
}

.profile-img-container .offline-indicator-small {
	@include global_offline-indicator-small;
}

.contact-container .profile-name {
	@include global_profile-name;
}

.chat-box-container {
	@include global_chat-box-container;
}

.chat-box-container .contact-profile-container-small {
	@include global_contact-profile-container-small;
}

.contact-profile-container-small .contact-pic-container-small {
	@include global_contact-pic-container-small;
}

.contact-profile-container-small .contact-pic-container-small:hover {
	@include global_contact-pic-container-small-hover;
}

.contact-pic-container-small .contact-picture-small {
	@include global_contact-picture-small;
}

.contact-pic-container-small .online-indicator-medium {
	@include global_online-indicator-medium;
}

.contact-pic-container-small .offline-indicator-medium {
	@include global_offline-indicator-medium;
}

.contact-profile-container-small .contact-name {
	@include global_contact-name;
}

.chat-box-container .chat-box {
	@include global_chat-box;
}

.chat-box .contact-profile-container-big {
	@include global_contact-profile-container-big;
}

.contact-profile-container-big .contact-pic-container-big {
	@include global_contact-pic-container-big;
}

.contact-pic-container-big .contact-picture-big {
	@include global_contact-picture-big;
}

.contact-pic-container-big .online-indicator-big {
	@include global_online-indicator-big;
}

.contact-pic-container-big .offline-indicator-big {
	@include global_offline-indicator-big;
}

.contact-profile-container-big .contact-name-big {
	@include global_contact-name-big;
}

.chat-box .right-chat-container {
	@include global_right-chat-container;
}

.right-chat-container .chat-and-date-right {
	@include global_chat-and-date-right;
}

.chat-box .chat-date-sent {
	@include global_chat-date-sent;
}

.chat-and-date-right .right-chat {
	@include global_right-chat;
}

.chat-box .left-chat-container {
	@include global_left-chat-container;
}

.left-chat-container .chat-and-date-left {
	@include global_chat-and-date-left;
}

.chat-and-date-left .left-chat-pic-container {
	@include global_left-chat-pic-container;
}

.left-chat-pic-container .left-chat-pic {
	@include global_left-chat-pic;	
}

.left-chat-pic-container .left-chat {
	@include global_left-chat;
}

.chat-box-container .chat-input-container {
	@include global_chat-input-container;
}

.chat-input-container .textarea-chat-container {
	@include global_textarea-chat-container;
}

.textarea-chat-container .chat-input {
	@include global_chat-input;
}

.chat-input-container .chat-send-button {
	@include global_chat-send-button;
}

.chat-box-container .buzz-chat-button {
	@include global_buzz-chat-button;
}

.chat-box-container .buzz-chat-button img {
	@include global_buzz-chat-button-img;
}

.chat-box-container .close-chat-button {
	@include global_close-chat-button;
}

.chat-box-container .close-chat-button img {
	@include global_close-chat-button-img;
}
/*Chat Section*/

/*General*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px) {
	/*Body Height*/
	body {
		@include global_Mobile_BodyWithTop;
	}
	/*Body Height*/

	/*Search Box*/
	.top-left-menu .searchInput_RoClass {
		@include global_searchInput_RoClass_Mobile;
	}

	.top-left-menu .searchInput_RoClass::placeholder {
		@include global_searchInput-placeholder_Mobile;
	}
	/*Search Box*/

	/*Mode Button*/
	.top-right-menu .toggle-mode-class {
		@include global_toggle-mode-class_Mobile;
	}
	/*Mode Button*/

	/*Footer Height*/
	#footerWrap_RoId {
		@include global_Mobile_footerHeight;
	}
	/*Footer Height*/

	/*Chat Toggle Button*/
	.chat-toggle-button {
		@include global_chat-toggle-button_Mobile;
	}
	/*Chat Toggle Button*/

	/*Chat Container*/
	.chat-container {
		@include global_chat-container_Mobile;
	}
	/*Chat Container*/

	/*Chat Box Container*/
	.chat-box-container {
		@include global_chat-box-container_Mobile;
	}
	/*Chat Box Container*/
}
/*Mobile*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px) {
	/*Body Height*/
	body {
		@include global_Tablet_BodyWithTop;
	}
	/*Body Height*/

	/*Search Box*/
	.top-left-menu .searchInput_RoClass {
		@include global_searchInput_RoClass_Tablet;
	}

	.top-left-menu .searchInput_RoClass::placeholder {
		@include global_searchInput-placeholder_Tablet;
	}
	/*Search Box*/

	/*Mode Button*/
	.top-right-menu .toggle-mode-class {
		@include global_toggle-mode-class_Tablet;
	}
	/*Mode Button*/

	/*Footer Height*/
	#footerWrap_RoId {
		@include global_Tablet_footerHeight;
	}
	/*Footer Height*/

	/*Chat Toggle Button*/
	.chat-toggle-button {
		@include global_chat-toggle-button_Tablet;
	}
	/*Chat Toggle Button*/

	/*Chat Container*/
	.chat-container {
		@include global_chat-container_Tablet;
	}
	/*Chat Container*/

	/*Chat Box Container*/
	.chat-box-container {
		@include global_chat-box-container_Tablet;
	}
	/*Chat Box Container*/
}
/*Tablet*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px) {
	/*Body Height*/
	body {
		@include global_Laptop_BodyWithTop;
	}
	/*Body Height*/

	/*Search Box*/
	.top-left-menu .searchInput_RoClass {
		@include global_searchInput_RoClass_Laptop;
	}

	.top-left-menu .searchInput_RoClass::placeholder {
		@include global_searchInput-placeholder_Laptop;
	}
	/*Search Box*/

	/*Mode Button*/
	.top-right-menu .toggle-mode-class {
		@include global_toggle-mode-class_Laptop;
	}
	/*Mode Button*/

	/*Footer Height*/
	#footerWrap_RoId {
		@include global_Laptop_footerHeight;
	}
	/*Footer Height*/

	/*Chat Toggle Button*/
	.chat-toggle-button {
		@include global_chat-toggle-button_Laptop;
	}
	/*Chat Toggle Button*/

	/*Chat Container*/
	.chat-container {
		@include global_chat-container_Laptop;
	}
	/*Chat Container*/

	/*Chat Box Container*/
	.chat-box-container {
		@include global_chat-box-container_Laptop;
	}
	/*Chat Box Container*/
}
/*Laptop*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px) {
	/*Body Height*/
	body {
		@include global_Desktop_BodyWithTop;
	}
	/*Body Height*/

	/*Search Box*/
	.top-left-menu .searchInput_RoClass {
		@include global_searchInput_RoClass_Desktop;
	}

	.top-left-menu .searchInput_RoClass::placeholder {
		@include global_searchInput-placeholder_Desktop;
	}
	/*Search Box*/

	/*Mode Button*/
	.top-right-menu .toggle-mode-class {
		@include global_toggle-mode-class_Desktop;
	}
	/*Mode Button*/

	/*Footer Height*/
	#footerWrap_RoId {
		@include global_Desktop_footerHeight;
	}
	/*Footer Height*/

	/*Chat Toggle Button*/
	.chat-toggle-button {
		@include global_chat-toggle-button_Desktop;
	}
	/*Chat Toggle Button*/

	/*Chat Container*/
	.chat-container {
		@include global_chat-container_Desktop;
	}
	/*Chat Container*/

	/*Chat Box Container*/
	.chat-box-container {
		@include global_chat-box-container_Desktop;
	}
	/*Chat Box Container*/
}
/*Desktop*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Other Media Queries*/
@media (max-width:400px) {
	/*Chat Toggle Button*/
	.chat-toggle-button {
		@include global_chat-toggle-button_OMQ;
	}
	/*Chat Toggle Button*/

	/*Chat Box Container*/
	.chat-box-container {
		@include global_chat-box-container_OMQ;
	}
	/*Chat Box Container*/
}
/*Other Media Queries*/

/*Global Codes*/
/************************************************************************************************************/


/************************************************************************************************************/
/*General*/

/*Mid Section*/

/*Mid Content*/
.mainmechaCon_RoClass .post-status-summary {
	@include post-status-summary;
}

.post-status-summary .pending-info-container {
	@include pending-info-container;
	justify-content: flex-start;
}

.post-status-summary .pending-info-container img {
	@include pending-info-container-img;
}

.pending-info-container .pending-info {
	@include pending-info;
}

.pending-info-container .pending-count {
	@include pending-count;
}

.mainmechaCon_RoClass .posts {
	@include posts;
}

.posts .post-list {
	@include post-list;
}

.post-list .date-submitted {
	@include date-submitted;
}

.post-list .action-buttons {
	@include action-buttons;
}

.action-buttons .post-status {
	@include post-status;
}

.action-buttons button {
	@include action-buttons-button;
}

.action-buttons .approve-button {
	@include approve-button;
}

.action-buttons .decline-button {
	@include decline-button;
}

.action-buttons button:hover {
	@include hover-opacity;
}

.action-buttons button:active {
	@include active-opacity;
}

.post-list .user-profile-box {
	@include user-profile-box;
}

.user-profile-box .user-name {
	@include user-name;
}

.user-profile-box .chosen-category {
	@include chosen-category;
}

.post-list .post-title-class {
	@include post-list-post-title-class;
}

.post-list .post-content-class {
	@include post-content-class;
}

.post-list .file-preview-container-class {
	@include file-preview-container-class;
}

.file-preview-container-class .file-preview-element {
	@include file-preview-element;
}
/*Mid Content*/

/*Mid Section*/

/*General*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px) {
	/*Post Status*/
	.action-buttons .post-status {
		@include post-status_Mobile;
	}
	/*Post Status*/

	/*Action Buttons*/
	.action-buttons button {
		@include action-buttons-button_Mobile;
	}
	/*Action Buttons*/
}
/*Mobile*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px) {
	/*Post Status*/
	.action-buttons .post-status {
		@include post-status_Tablet;
	}
	/*Post Status*/

	/*Action Buttons*/
	.action-buttons button {
		@include action-buttons-button_Tablet;
	}
	/*Action Buttons*/
}
/*Tablet*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px) {
	/*Post Status*/
	.action-buttons .post-status {
		@include post-status_Laptop;
	}
	/*Post Status*/

	/*Action Buttons*/
	.action-buttons button {
		@include action-buttons-button_Laptop;
	}
	/*Action Buttons*/
}
/*Laptop*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px) {
	/*Post Status*/
	.action-buttons .post-status {
		@include post-status_Desktop;
	}
	/*Post Status*/

	/*Action Buttons*/
	.action-buttons button {
		@include action-buttons-button_Desktop;
	}
	/*Action Buttons*/
}
/*Desktop*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Other Media Queries*/

/*Other Media Queries*/
/************************************************************************************************************/



