/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Rogie Rostrap Global";
@import "../../Global Style/Rogie Global Style";
@import "./Mixin_Page_ManageUser";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
#manageUserFeatureWrap{
	overflow: hidden;
	background-color: #ffffff;
	padding: 12px;
	margin-top: 7px;
}


.searchInput_RoClass{	
	--inputSearchWidth: 100%;
	--inputSearchTopPadding: 7px;
	--inputSearchRightPadding: 7px;
	--inputSearchBottomPadding: 7px;
	--inputSearchLeftPadding: 28px;
	--inputSearchBorderColor: #97A0A8;
	--inputSearchBorderRadius: 4px;		
	--inputSearchIconHori: 4px;
	--inputSearchIconSize: 25px;
	--inputSearchFSize: clamp(10px, 2vw, 14px);
}
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.cusDroplistBtn_RoClass{
		@include cusDroplistBtn_Smart;		
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.cusDroplistBtn_RoClass{
		@include cusDroplistBtn_Smart;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*PC*/
@media all and (min-width:1081px){
	.cusDroplistBtn_RoClass{
		display: inline-block !important;
		--droplistBtnWidth: 150px;
	}
}
/*PC*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/