/***********************************************************************************************************************************************************************************************************/
/*Search Box*/
@mixin global_top-searchbox {
	--inputSearchWidth: 250px;
	--inputSearchTopPadding: 0px;
	--inputSearchRightPadding: 0px;
	--inputSearchBottomPadding: 2px;
	--inputSearchLeftPadding: 30px;
	--inputSearchBorderColor: transparent;
	--inputSearchBorderRadius: 30px;
	--inputSearchIconHori: 10px;
	--inputSearchIconSize: 16px;
	--inputSearchFSize: 15px;
	--inputSearchFColor: #FFFFFF;
}
/*Search Box*/

/*Side Apps Main Menu*/
@mixin global_side-app-main {
	--generalNavMenuPadding: 10px;

	--mainNavMenuIconSize: 30px;
	--mainNavMenuFSize: 16px;
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #FFFFFF;
	--hoverMainNavMenuBgColor: #303031;
	--hoverMainNavMenuFColor: #FFFFFF;
}
/*Side Apps Main Menu*/

/*Side Apps Sub Menu*/
@mixin global_side-app-sub {
	--subNavMenuIconSize: 30px;
	--subNavMenuWrapBgColor: transparent;
	--subNavMenuBgColor: transparent;
	--subNavMenuFSize: 16px;
	--subNavMenuFColor: #FFFFFF;
	--hoverSubNavMenuBgColor: #303031;
	--hoverSubNavMenuFColor: #FFFFFF;

	--chevronIconSize: 16px;
}
/*Side Apps Sub Menu*/

/*Footer*/
@mixin global_footer-style {
	--footerBgColor: #242526;
	--footerFSize: 14px;
	--footerFColor: #FFFFFF;
}
/*Footer*/

/*Dark Mode (Default Style)*/
@mixin global_dark-mode {
	--bg-color-1: #18191A;
	--bg-color-2: #242526;
	--bg-color-3: #3A3B3C;
	--bg-color-5: #666667;
	--bg-color-6: #FFFFFF;
	--bg-color-7: #3A3B3C;
	--bg-color-8: #3A3B3C;
	--bg-color-9: #3A3B3C;
	--text-color-2: #000000;
	--text-color-4: #BCBFC4;
	--border-color-1: #3D3E3F;
}
/*Dark Mode (Default Style)*/

/*Light Mode*/
@mixin global_light-mode {
	--inputSearchFColor: #000000;
	--mainNavMenuFColor: #000000;
	--hoverMainNavMenuBgColor: #E4E6E8;
	--hoverMainNavMenuFColor: #000000;
	--subNavMenuFColor: #000000;
	--hoverSubNavMenuBgColor: #E4E6E8;
	--hoverSubNavMenuFColor: #000000;
	--footerBgColor: #FFFFFF;
	--footerFColor: #000000;
	--bg-color-1: #F0F2F5;
	--bg-color-2: #FFFFFF;
	--bg-color-3: #F0F2F5;
	--bg-color-5: #BCC0C4;
	--bg-color-6: #3A3B3C;
	--bg-color-7: #C62417;
	--bg-color-8: #7AC4B2;
	--bg-color-9: #7ABCF4;
	--text-color-2: #FFFFFF;
	--text-color-4: #000000;
	--border-color-1: #DCDEE1;
}
/*Light Mode*/

/*Binance Font*/
@mixin global_font-face {
	font-family: 'Binance PLEX';
	src: url(../Fonts/Binance-PLEX.ttf);
}
/*Binance Font*/

/*Webkit*/
@mixin global_scrollbar {
	width: 7px;
}

@mixin global_scrollbar-thumb {
	background-color: var(--bg-color-5) !important;
	border-radius: 10px;
	visibility: hidden;
}

@mixin global_scrollbar-track {
	display: none;
}

@mixin global_mainmecha_RoId-scrollbar-thumb {
	visibility: visible;
}
/*Webkit*/

/*Asterisk*/
@mixin global_asterisk {
	font-family: 'Binance PLEX' !important;
	box-sizing: border-box;
	transition: all .15s !important;
}
/*Asterisk*/

/*Body Background*/
@mixin global_body-bg {
	background-color: var(--bg-color-1);
}
/*Body Background*/

/*Input and Textarea Style*/
@mixin global_input-textarea-style {
	border: none;
	outline: none;
	color: var(--text-color-1);
}
/*Input and Textarea Style*/

/*Top Section*/
@mixin global_top-section {
	height: 55px;
	background-color: var(--bg-color-2);
	border-bottom: 1px solid var(--border-color-1);
	padding: 5px 15px;
	display: flex;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
}

@mixin global_top-left-menu {
	display: flex;
	gap: 5px;
}

@mixin global_home-logo {
	width: 39px;
	height: 39px;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-7);
}

@mixin global_home-logo-hover {
	opacity: .7;
}

@mixin global_home-logo-img {
	width: 100%;
	height: 100%;
}

@mixin global_searchInput_RoId {
	background-color: var(--bg-color-3);
	border: none;
	height: 40px;
}

@mixin global_searchInput_RoId-placeholder {
	color: var(--text-color-4);
}

@mixin global_top-right-menu {
	display: flex;
	gap: 5px;
}

@mixin global_toggle-mode {
	width: 100px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	background-color: var(--bg-color-6);
	color: var(--text-color-2);
	cursor: pointer;
}

@mixin global_toggle-mode-hover {
	opacity: .7;
}

@mixin global_topMenus {
	display: flex;
	width: 39px;
	height: 39px;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-8);
	cursor: pointer;
}

@mixin global_topMenus-hover {
	opacity: .7;
}

@mixin global_gear-icon {
	background-color: var(--bg-color-9);
}

@mixin global_topMenus-img {
	width: 100%;
	height: 100%;
}
/*Top Section*/

/*Mid Section Height*/
@mixin global_rolayout_RoId {
	height: calc(100% - 78px);
}
/*Mid Section Height*/

/*Left Content*/
@mixin global_sidemecha_RoId {
	padding-block: 7px;
	direction: ltr;
	background-color: var(--bg-color-1);
	z-index: 1;
}

@mixin global_sidemecha_RoId-hover-webkit {
	visibility: visible;
}

@mixin global_company-logo {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

@mixin global_company-logo-img {
	width: 170px;
	height: 170px;
	cursor: pointer;
}

@mixin global_generalNavMenuText_RoClass {
	font-weight: bold;
}

@mixin global_chevronIconWrap_RoClass {
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
}
/*Left Content*/

/*Burger*/
@mixin global_burger_RoId {
	width: 39px;
	height: 39px;
	padding: 7px;
	border-radius: 10px;
	background-color: var(--bg-color-8);
}
/*Burger*/

/*Footer*/
@mixin global_footerWrap_RoId {
	padding: 1px;
	border-top: 1px solid var(--border-color-1);
}

@mixin global_footerTxt_RoId {
	font-weight: bold;
}
/*Footer*/

/*Mobile Top Section*/
@mixin global_searchInput_RoClass{
	--inputSearchWidth: 90px;
	--inputSearchFSize: 12px;
}

@mixin global_toggle-mode_Mobile {
	width: 50px;
	font-size: 12px;
}
/*Mobile Top Section*/

/***********************************************************************************************************************************************************************************************************/