/************************************************************************************************************/
/*General*/

/*Body With Top Section*/
@mixin global_BodyWithTopMargin {
	margin-top: 55px;
}

@mixin global_BodyWithTopHeight {
	height: calc(100% - 80px);
}
/*Body With Top Section*/

/*Body Without Top Section*/
@mixin global_BodyWoTopHeight {
	height: calc(100% - 25px);
}
/*Body Without Top Section*/

/*General*/
/************************************************************************************************************/


/************************************************************************************************************/
/*Media Queries*/

/*Body With Top Section @media (max-width:1080px)*/
@mixin global_BodyWithTopHeight_OMQ {
	height: calc(100% - 105px);
}
/*Body With Top Section @media (max-width:1080px)*/

/*Body Without Top Section @media (max-width:1080px)*/
@mixin global_BodyWoTopHeight_OMQ {
	height: calc(100% - 50px);
}
/*Body Without Top Section @media (max-width:1080px)*/

/*Media Queries*/
/************************************************************************************************************/
