/***********************************************************************************************************************************************************************************************************/
/*Root*/

/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
@mixin chatUserDp_General{
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;
	width: var(--chatDpSize);	
	height: var(--chatDpSize);
	object-fit: contain;	
	margin: 4px;
}
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/*Right Side or Chat Area*/
@mixin chatContentWrap_Smart{
	position: absolute; /*added*/
	right: 0; /*added*/
}
/*Right Side or Chat Area*/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/