/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "./Rogie Rostrap Global";
@import "./Mixin Rogie Global Style";
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	--scrollWebkit_Size: clamp(2.5px, 1vw, 5px);
	--chatDpSize: clamp(30px, 3vw, 35px);

	/*Per Section with max width of 1081px*/
	--autoReponsiveSection_MaxWidth_Smart: auto;
	/*Per Section with max width of 1081px*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
/*Fonts*/
@font-face {
  font-family: "binanceFont";
  src: url("../../Global Fonts/Binance-PLEX.ttf");
}
/*Fonts*/


/*Sub Text Font Color*/
.sub-textFColor{
	color: #97A0A8;
}
/*Sub Text Font Color*/


/*Per Section with max width of 1081px*/
.autoReponsiveSection{
	margin: auto;
}
/*Per Section with max width of 1081px*/


/*Link Button*/
.link-Btn{
	display: inline-block;
	padding: 10px;
	font-family: "binanceFont";	
}
/*Link Button*/


/*Dark Mode and light mode*/
.darkMode{
	/**Main Font Text Color*/
	--mainTextColor: #ffffff;	
	/**Main Font Text Color*/


	/**Greetings Area*/
	--greetingSection_BgColor: #3B3B3B;
	/**Greetings Area*/


	/**List of web applications*/
	--webAppListSection_BgColor: #3B3B3B;
	/**List of web applications*/


	/**Scroll Webkit*/
	--scrollWebkit_ThumbColor: #97A0A8;
	--scrollWebkit_ThumbColorHover: #646A70;
	/**Scroll Webkit*/


	/**Rogrid*/
	/***Side Navigation*/	
	--naviBgColor:#0F143C;
	/***Side Navigation*/		

	/***Main Body*/
	--mainBodyBgColor:#3B3B3B;
	/***Main Body*/

	/***Header*/
	--projectTitle_BgColor:#0F143C;
	--projectTitleTextFColor: #ffffff;
	/***Header*/	

	/***Date Range*/	
	--dateRangeFColor: #ffffff;
	--dateRangeTooltipColor: #ffffff;
	/***Date Range*/

	/***Checkbox*/
	--cusCheckboxColor: #ffffff;
	/***Checkbox*/
	/**Rogrid*/


	/**Right Side or Chat Area*/
	--chatArea_BgColor: #252331;
	/**Right Side or Chat Area*/


	/**Smart only features controller*/
	--featuresControls_BgColor: #0F143C;
	--featuresConTxtColor: #ffffff;	
	/**Smart only features controller*/


	/**Sections Label*/
	--sectionsLabelColor: #ffffff;
	/**Sections Label*/


	/*Search Area*/
	--searchAreaWrap_BgColor: #252331;
	/*Search Area*/


	/**Page Features*/
	--highlightedTextsColor: #ffffff;
	/**Page Features*/


	/*DP Border Color*/
	--dpBorderColor: #ffffff;
	/*DP Border Color*/


	/**Events and Activities*/
	--eventsBgColor: #0F143C;
	--eventsBoxShadow: 0px 0px 10px #0F143C;
	/**Events and Activities*/


	/**Posted Section*/
	--postsBoxShadow: 0px 0px 10px #0F143C;
	--postsBgColor: #0F143C;
	/**Posted Section*/


	/**Pinned Posts and Committees*/
	/***Pinned Posts*/
	--pinnedPostBgColor: #0F143C;
	/***Pinned Posts*/

	/***Committees*/
	--committeeBgColor: #0F143C;
	/***Committees*/

	/***Search Input*/
	--inputSearchFColor: #ffffff;
	/***Search Input*/
	/**Pinned Posts and Committees*/
}

.lightMode{
	/**Main Font Text Color*/
	--mainTextColor: black;	
	/**Main Font Text Color*/


	/**Greetings Area*/
	--greetingSection_BgColor: #ffffff;
	/**Greetings Area*/


	/**List of web applications*/
	--webAppListSection_BgColor: #ffffff;
	/**List of web applications*/


	/**Scroll Webkit*/
	--scrollWebkit_ThumbColor: #39AB5B;
	--scrollWebkit_ThumbColorHover: #26723C;
	/**Scroll Webkit*/


	/**Rogrid*/
	/***Side Navigation*/
	--naviBgColor:#ffffff;
	/***Side Navigation*/

	/***Main Body*/
	--mainBodyBgColor:#E1EAF4;
	/***Main Body*/

	/***Header*/
	--projectTitle_BgColor:#39AB5B;
	--projectTitleTextFColor: #ffffff;
	/***Header*/

	/***Search Input*/
	--inputSearchFColor: black;
	/***Search Input*/

	/***Date Range*/	
	--dateRangeFColor: black;
	--dateRangeTooltipColor: black;
	/***Date Range*/

	/***Checkbox*/
	--cusCheckboxColor: black;
	/***Checkbox*/
	/**Rogrid*/


	/**Right Side or Chat Area*/
	--chatArea_BgColor: #ffffff;
	/**Right Side or Chat Area*/


	/**Smart only features controller*/
	--featuresControls_BgColor: #ffffff;
	--featuresConTxtColor: black;
	/**Smart only features controller*/


	/**Sections Label*/
	--sectionsLabelColor: black;
	/**Sections Label*/


	/*Search Area*/
	--searchAreaWrap_BgColor: #ffffff;
	/*Search Area*/


	/**Page Features*/
	--highlightedTextsColor: black;
	/**Page Features*/


	/*DP Border Color*/
	--dpBorderColor: #97A0A8;
	/*DP Border Color*/


	/**Events and Activities*/
	--eventsBgColor: #ffffff;
	--eventsBoxShadow: 0px 0px 10px black;
	/**Events and Activities*/


	/**Posted Section*/
	--postsBoxShadow: 0px 0px 10px black;
	--postsBgColor: #ffffff;
	/**Posted Section*/


	/**Pinned Posts and Committees*/
	--pinnedPostBgColor: #ffffff;
	--committeeBgColor: #ffffff;
	/**Pinned Posts and Committees*/
}

/**Calendar Lite*/
.calLite_BgColor_DarkMode{
	background-color: #0F143C;
}

.calLite_BgColor_LightMode{
	background-color: #ffffff;
}

.calLiteButton_Right_DarkMode{
	background: transparent url("./../../src/Chevron Right White.png") center no-repeat;
	background-size: contain;	
}

.calLiteButton_Right_LightMode{
	background: transparent url("./../../src/Chevron Right Green.png") center no-repeat;
	background-size: contain;
}

.calLiteButton_Left_DarkMode{
	background: transparent url("./../../src/Chevron Left White.png") center no-repeat;
	background-size: contain;
}

.calLiteButton_Left_LightMode{
	background: transparent url("./../../src/Chevron Left Green.png") center no-repeat;
	background-size: contain;
}

.calLiteHeadText_Color_DarkMode{
	color: #ffffff !important;
}

.calLiteHeadText_Color_LightMode{
	color: #39AB5B !important;
}

.calLiteBodyTxts_Color_DarkMode{
	color: #ffffff !important;
}

.calLiteBodyTxts_Color_LightMode{
	color: black !important;
}
/**Calendar Lite*/
/*Dark Mode and light mode*/


/*Rogrid*/
/**Header*/
.projectTitle_RoClass, .projTitleTxt_RoClass, .userLoginDetails_RoClass{
	--projectTitleTextFSize: clamp(15px, 1vw, 18px);
}

.userLoginIconWrap_RoClass{
	--projectTitleUserIconSize: clamp(55px, 1vw, 57px);
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #ffffff;		
}

.userLogin_RoClass{
	align-items: center;
}
/**Header*/

/**Search Input*/
#searchChatInput{
	position: sticky;
	top: -8px;
	z-index: 1;
	--inputSearchWidth: 100%;
	--inputSearchTopPadding: 7px;
	--inputSearchRightPadding: 7px;
	--inputSearchBottomPadding: 7px;
	--inputSearchLeftPadding: 25px;
	--inputSearchBorderColor: #97A0A8; 
	--inputSearchBorderRadius: 4px;
	--inputSearchIconHori: 7px;
	--inputSearchIconSize: clamp(12px, 1vw, 15px);
	--inputSearchFSize: clamp(12px, 1vw, 15px);	
	background-color: var(--chatArea_BgColor);	
	font-family: "binanceFont";
}
/**Search Input*/
/*Rogrid*/


/*Right Side or Chat Area*/
#chatContentWrap{
	overflow: auto;
	flex-shrink: 0;
	height: 100%;		
	width: clamp(180px, 20.3vw, 220px);
	background-color: var(--chatArea_BgColor);
	padding: 8px;
}

.chatUser{
	display: flex;
	overflow: hidden;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 15px 0px;
	cursor: pointer;
}

.chatUserDp_Online{
	@include chatUserDp_General;
	border: 2px solid #39AB5B;
}

.chatUserDp_Offline{
	@include chatUserDp_General;
	border: 2px solid #97A0A8;
}

.chatUserDetailsWrap{
	overflow: hidden;
	width: 100%;
}

.chatUserName{
	font-family: "binanceFont";
	font-size: clamp(12px, 1vw, 14px);	
	padding: 7px;
	font-weight: bold;
	color: var(--highlightedTextsColor);
}

.chatUserNote{
	font-family: "binanceFont";
	font-size: clamp(11px, 1vw, 13px);
	color: #97A0A8;
	padding: 0px 7px;
}
/*Right Side or Chat Area*/


/*Sections Label*/
.sectionsLabel{
	font-family: "binanceFont";
	font-size: clamp(13px, 1vw, 16px);
	overflow: hidden;
	color: var(--sectionsLabelColor);
	font-weight: bold;
	padding: 14px;
	flex-shrink: 0;
}
/*Sections Label*/


/*Scroll Webkit*/
/* width */
.scrollWebkit::-webkit-scrollbar {
	width: var(--scrollWebkit_Size);
	height: var(--scrollWebkit_Size);
}

/* Track */
.scrollWebkit::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray; 
	border-radius: 10px;
}

/* Handle */
.scrollWebkit::-webkit-scrollbar-thumb {
	background-color: var(--scrollWebkit_ThumbColor); 
	border-radius: 10px;
}

/* Handle on hover */
.scrollWebkit::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollWebkit_ThumbColorHover);
}
/*Scroll Webkit*/


/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Per Section with max width of 1081px*/
	.autoReponsiveSection{
		max-width: var(--autoReponsiveSection_MaxWidth_Smart);
	}
	/*Per Section with max width of 1081px*/


	/*Right Side or Chat Area*/
	#chatContentWrap{
		@include chatContentWrap_Smart;
	}
	/*Right Side or Chat Area*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Per Section with max width of 1081px*/
	.autoReponsiveSection{
		max-width: var(--autoReponsiveSection_MaxWidth_Smart);
	}
	/*Per Section with max width of 1081px*/


	/*Right Side or Chat Area*/
	#chatContentWrap{
		@include chatContentWrap_Smart;
	}
	/*Right Side or Chat Area*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
	/*Per Section with max width of 1081px*/
	.autoReponsiveSection{
		max-width: 1081px;
	}
	/*Per Section with max width of 1081px*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/