/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "./Rogie Rostrap Global";
@import "./Mixin Rogie Global Style";
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
/*Fonts*/
@font-face {
  font-family: "binanceFont";
  src: url("../../Global Fonts/Binance-PLEX.ttf");
}
/*Fonts*/

/*Dark Mode and light mode*/
.darkMode{
	/**Rogrid*/
	/***Side Navigation*/	
	--naviBgColor:#0F143C;
	/***Side Navigation*/		

	/***Main Body*/
	--mainBodyBgColor:#3B3B3B;
	/***Main Body*/

	/***Header*/
	--projectTitle_BgColor:#0F143C;
	--projectTitleTextFColor: #ffffff;
	/***Header*/
	/**Rogrid*/


	/**Right Side or Chat Area*/
	--chatArea_BgColor: #252331;
	/**Right Side or Chat Area*/


	/**Smart only features controller*/
	--featuresControls_BgColor: #0F143C;
	--featuresConTxtColor: #ffffff;	
	/**Smart only features controller*/


	/**Sections Label*/
	--sectionsLabelColor: #ffffff;
	/**Sections Label*/


	/**Page Features*/
	--highlightedTextsColor: #ffffff;
	/**Page Features*/


	/**Events and Activities*/
	--eventsBgColor: #0F143C;
	--eventsBoxShadow: 0px 0px 10px #0F143C;
	/**Events and Activities*/


	/**Posted Section*/
	--postsBoxShadow: 0px 0px 10px #0F143C;
	--postsBgColor: #0F143C;
	/**Posted Section*/
}

.lightMode{
	/**Rogrid*/
	/***Side Navigation*/
	--naviBgColor:#ffffff;
	/***Side Navigation*/

	/***Main Body*/
	--mainBodyBgColor:#E1EAF4;
	/***Main Body*/

	/***Header*/
	--projectTitle_BgColor:#39AB5B;
	--projectTitleTextFColor: #ffffff;
	/***Header*/
	/**Rogrid*/


	/**Right Side or Chat Area*/
	--chatArea_BgColor: #ffffff;
	/**Right Side or Chat Area*/


	/**Smart only features controller*/
	--featuresControls_BgColor: #ffffff;
	--featuresConTxtColor: black;
	/**Smart only features controller*/


	/**Sections Label*/
	--sectionsLabelColor: black;
	/**Sections Label*/


	/**Page Features*/
	--highlightedTextsColor: black;
	/**Page Features*/


	/**Events and Activities*/
	--eventsBgColor: #ffffff;
	--eventsBoxShadow: 0px 0px 10px black;
	/**Events and Activities*/


	/**Posted Section*/
	--postsBoxShadow: 0px 0px 10px black;
	--postsBgColor: #ffffff;
	/**Posted Section*/
}
/*Dark Mode and light mode*/


/*Rogrid*/
/**Header*/
.projectTitle_RoClass, .projTitleTxt_RoClass, .userLoginDetails_RoClass{
	--projectTitleTextFSize: clamp(14px, 3vw, 18px);
}

.userLoginIconWrap_RoClass{
	--projectTitleUserIconSize: clamp(50px, 5vw, 65px);
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #ffffff;		
}

.userLogin_RoClass{
	align-items: center;
}
/**Header*/
/*Rogrid*/


/*Right Side or Chat Area*/
#chatContentWrap{
	overflow: auto;
	flex-shrink: 0;
	height: 100%;		
	width: clamp(180px, 40vw, 250px);
	background-color: var(--chatArea_BgColor);

	display: none;
}
/*Right Side or Chat Area*/


/*Sections Label*/
.sectionsLabel{
	font-family: "binanceFont";
	font-size: clamp(14px, 3vw, 18px);
	overflow: hidden;
	color: var(--sectionsLabelColor);
	font-weight: bold;
	padding: 14px;
}
/*Sections Label*/
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Right Side or Chat Area*/
	#chatContentWrap{
		@include chatContentWrap_Smart;
	}
	/*Right Side or Chat Area*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Right Side or Chat Area*/
	#chatContentWrap{
		@include chatContentWrap_Smart;
	}
	/*Right Side or Chat Area*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
	
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/