/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "./Rogie Rostrap Global";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*General*/
/**Dark Mode and light mode*/
.darkMode{	
	--naviBgColor:#0F143C;
	--mainBodyBgColor:#3B3B3B;
	--projectTitle_BgColor:#0F143C;
	--projectTitleTextFColor: #ffffff;
}

.lightMode{
	--naviBgColor:#ffffff;
	--mainBodyBgColor:#E1EAF4;
	--projectTitle_BgColor:#39AB5B;
	--projectTitleTextFColor: #97A0A8;		
}
/**Dark Mode and light mode*/
/*General*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Media Queries*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:1080px){
	/*Rogrid*/
	/**Header*/
	.projectTitle_RoClass, .projTitleTxt_RoClass, .userLoginDetails_RoClass{
		--projectTitleTextFSize: clamp(14px, 3vw, 18px);		
	}

	.userLoginIconWrap_RoClass{
		--projectTitleUserIconSize: clamp(14.5px, 3vw, 18.5px);
	}
	/**Header*/
	/*Rogrid*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1081px){
	/*Rogrid*/
	/**Header*/
	.projectTitle_RoClass, .projTitleTxt_RoClass, .userLoginDetails_RoClass{
		--projectTitleTextFSize: clamp(18px, 2vw, 22px);		
	}

	.userLoginIconWrap_RoClass{
		--projectTitleUserIconSize: clamp(18.5px, 2vw, 22.5px);
	}
	/**Header*/
	/*Rogrid*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Media Queries*/
/***********************************************************************************************************************************************************************************************************/